[2020-05-23 01:11] lkingland opened #8 "User prompts"
The general architecture of the system is to provide sensible defaults for as many choice-points as possible in order to smooth the overall first-use flow.  However this has the side-effect of hiding the details of what is happening, and producing sometimes inscrutable errors when the defaults are not able to be inferred. This only applies to the CLI, not the client library (which clearly deliniat

[2020-05-23 02:15] lkingland opened #9 "path flag"
While the client library does expect path to be explicitly passed, the CLI does not currently expose this as a flag, instead always defaulting to the current working directory.

All commands which use code on disk (defaulting to current-working directory) should accept a --path flag to allow affecting change on a directory other than the execution directory.
For example:
[code]
should be equivalen

[2020-05-26 00:29] lkingland opened #11 "progress indicator"
Until it can be optimized, at least the `create` command needs a progress indicator for interactive terminals with verbosity disabled.

[2020-05-26 00:37] lkingland opened #12 "replace appsody build with buildpacks"
The `build` step presently uses the `appsody` binary for its implementation, and makes use of custom "stacks" referenced through the repository `boson-project/stacks`.   Appsody offers many features which are not applicable for our "faas" context, and can be omitted for speed improvements and clarity.  Additionally, breaking the dependency on a locally installed binary is of course preferable.  Th

[2020-05-26 00:40] lkingland opened #13 "use knative client for updates"
Update the POC implementation of `updater` which wraps the `kn` command with proper usage of the knative client.

[2020-05-26 00:41] lkingland opened #14 "use k8s client for deploy"
Replace the POC implementation of deploy which wraps kubectl with the use of a k8s client.

[2020-05-26 00:42] lkingland opened #15 "use k8s client for remove"
Replace the POC implementation of remove which wraps kubectl with the use of a k8s client.

[2020-06-01 11:31] lkingland opened #18 "Replace appsody init"
The `init` step currently utilizes the `appsody` binary and custom stacks to initialize new Service Functions.  This should be replaced by either built-in templates or a git-repo-based solution.  Architecture TBD.

[2020-06-01 11:32] #11 closed

[2020-06-01 11:32] #8 closed

[2020-06-01 13:02] lance commented on #18
I think `git clone -q` into a temp directory, then `mv node-template <project-dir>` (or whatever) is pretty straightforward, _not_ using the `git` binary though.

Let's iterate/brainstorm on potential extensibility here too

[2020-06-01 13:30] matejvasek commented on #18
What about packaging template as tar.gz or zip and then download in via plain http(s)?

[2020-06-01 13:36] lance commented on #18
@matejvasek that works too. I think keeping it simple is important and that's even simpler :). If we go with the tar.gz route, we'd still want to have the templates under RCS of course. Maybe it could be as simple as keeping the templates in github and tagging/releasing them. The CLI could just download the `.tgz` release files.

[2020-06-04 14:02] matejvasek commented on #12
some progress: https://github.com/matejvasek/buildpacks/commit/6ebf74e719f67a80d8c84787762c33b74ce1e5e5
https://github.com/matejvasek/faas/commit/825e1608690bcf8f1144e2277d49b9e92bb8413c

[2020-06-09 15:24] #12 closed

[2020-07-01 12:46] matejvasek commented on #13
@lkingland can I close this one?

[2020-07-01 12:48] matejvasek commented on #14
@lkingland I'll look at this one.

[2020-07-01 14:45] lkingland opened #23 "Tooling etc"
Some basic tooling should be added:

- Docker image for the final binary, rebuilt via CI.
- Releases with basic automation, rebuilt on demand.
- Verbose version information built into binary (commit hash, datestamp, semver)
- License file and headers
- (optional) Go Report card
- (optional) GoDoc reference
- (optional) Test Coverage report

[2020-07-01 14:48] lkingland commented on #13
Looking good, thanks @matejvasek.

[2020-07-01 14:48] #13 closed

[2020-07-08 03:09] #18 closed

[2020-07-08 03:09] #15 closed

[2020-07-08 03:09] #14 closed

[2020-07-08 06:24] lkingland opened #26 "Default branch name Main"
Update to use branch name 'main', as the default.

[2020-07-08 07:04] lkingland opened #27 "CI: Org-level Deployment Credentials"
Once CI is tested and functional, promoting the credentials used to organization-level for future integrations will save future work.   Currently the secrets Quay Username and Quay Token (Robot account) are created within this repository for the docker image deployment step.  These should be moved to the Organization by an administrator and this repository updated to use those instead.

[2020-07-08 09:48] lkingland commented on #26
You may want to take note of this @matejvasek

[2020-07-08 09:48] #26 closed

[2020-07-08 13:00] #23 closed

[2020-07-08 15:48] lkingland opened #30 "node http template"
We currently have the cloudevents template, and would like to add support for an http handler as well.

[2020-07-08 15:49] lkingland opened #31 "quarkus http template"
We currently have the cloudevents template ("events"), and would like to add support for an http handler as well.

[2020-07-08 15:51] lkingland opened #32 "Releases with Prebuilt Binaries"
We currently have a docker container which is created via workflows on pushes with version tags, but this should be expanded to also create a proper github release with prebuilt binaries for various platforms and architectures.  Presently all resources are built into the binary, so a docker container is not strictly necessary as there are no ancillary files required.

[2020-07-13 09:51] lkingland opened #35 "Infrastructure Adapter"
Create a cluster services adapter which runs alongside functions, abstracting services offered by the cluster.  At first this service should:

- Start on a well-known port in loopback, thus reusing service credentials and remaining itself implicitly local.
- Proffer a simple REST JSON API with outbound connections using full client libraries (usually gRPC).
- Provide hooks for integrating varying

[2020-07-13 10:25] #30 closed

[2020-07-14 15:46] lkingland opened #37 "CLI JSON output"
Some of the commands support specifying JSON output; it would be nice to have all commands support this flag.

[2020-07-16 16:35] lkingland opened #38 "fix go install CLI"
`go install` of the CLI currently fails when run from outside the project directory:

[code]

This is likely due to the knative.dev dependency therein not being based on go modules, but may be a different cause.  One way to solve this may be to update the knative client dependency to the latest, which I believe are now go modules.

This does not affect standard builds from the repo root (where the

[2020-07-16 18:40] lance commented on #35
@lkingland it's not clear to me how `grid` (assuming this issue and `grid` are the same) affects the `faas` cli. What am I missing?

[2020-07-17 02:58] lkingland commented on #35
That's exactly right @lance , the solution to this issue (using an adapter) is to create a new service in a separate repository.  This issue was created primarily for requirements capturing prior to the `grid` repository being created.  I would expect the acceptance criteria for this issue would be when the Client Library (via the CLI) can actually start a function with the grid service running an

[2020-07-19 15:19] #32 closed

[2020-07-19 16:18] lance opened #40 "Release v0.1.0"
Now that we have a means to actually perform a release, maybe we should release something! :1st_place_medal:

[2020-07-19 16:31] lkingland commented on #40
First release went out without problems.  The next tag in line was v0.4.0 so I hope that works

[2020-07-19 16:31] #40 closed

[2020-07-20 15:58] lance opened #41 "Create automated releases as drafts, or add tooling to generate changelogs"
The GH workflow for our releases sets `draft: false`. I wonder if we should create a release as a draft, and then manually update the release notes with a changelog of some kind.

Alternatively, we could use tooling like [`git-chglog`](https://github.com/git-chglog/git-chglog) to generate a changelog for the release and include that in the release description during the workflow.

[2020-07-20 16:03] lance commented on #41
If the latter (generating a changelog), I think it would be good if we consider standardizing on commit message styles. I prefer [`conventional-commits`](https://www.conventionalcommits.org/en/v1.0.0/).

[2020-07-21 12:24] lkingland commented on #41
This seems like a good idea to me.

[2020-07-21 12:40] lkingland opened #42 "Release prebuilt binaries for multiple OSs and architectures"
We currently release a binary for linux amd64.  It would be nice to create a prebuilt binary for a few common OSs and architectures. Perhaps Linux and Darwin for both AMD and ARM to begin with, adding more as requested.

[2020-07-21 13:45] lkingland opened #43 "Container latest tag"
We currently us `tip` when tagging the container to ensure that directly pushing artifacts made during development do not become the latest default image pulled if running `docker run quay.io/boson/faas`.  We should, however, go ahead and set a `latest` tag such that a user can run this command and be assured they are pulling the latest released version.

[2020-07-23 22:26] lance opened #46 "faas binary reports incorrect version number"
Running `faas --version` produced `v0.0.0-source`.

[code]

[2020-07-26 15:49] lkingland opened #47 "Autoconfigure knative serving domains"
In order to support a new domain name (TLD+1) on the Kubernetes provider, the `config-domain` ConfigMap currentl has to be manually updated by the cluster administrator:
[code]
This could be automated by augmenting the function `Create` step to alter this list.

[2020-07-27 14:03] #31 closed

[2020-07-28 09:07] matejvasek opened #50 "Run tests on Windows and macOS using GH action"
Execute tests under windows and osx

[2020-07-28 09:41] matejvasek opened #51 "Add `go vet` to CI"

[2020-07-28 10:38] lkingland commented on #46
Interesting.  the logs of that release show it properly passing in the metadata necessary to show correct version:
https://github.com/boson-project/faas/runs/887258241?check_suite_focus=true
additionally, when running the command directly that the release target did:
`go build -ldflags "-X main.date=20200728T103438Z -X main.vers=v0.4.0 -X main.hash=0f39bac" ./cmd/faas`
it results in a binary which

[2020-07-28 10:43] lkingland commented on #46
More interesting still:  It's working for me.
I see the problem.  The `version` subcommand was updated, but the `--version` flag was not:
[code]
As an aside, the prepended dataestamp I think shold change place with the semver tag, don't you think?

[2020-07-28 13:10] lance commented on #46
Definitely move the datestamp to either the end of the string, or between semver and hash.

[2020-07-28 13:14] #41 closed

[2020-07-28 13:44] lance commented on #46
[This line](https://github.com/boson-project/faas/blob/develop/cmd/root.go#L22) causes the `--version` flag to get auto created, and it seems that when `verboseVersion()` is called, `SetMeta()` has not yet been called, so the variables that populate the version string have not been set.

[2020-07-28 14:52] lkingland opened #53 "build dist and defaults"
The build system should build its platform-specific binaries from a seperate build step, but with the default make path running `go build` without specifying architecture or OS such that it works with defaults from developer machines running on, for instance, ARM.

[2020-07-28 14:58] #43 closed

[2020-07-28 15:22] lkingland commented on #42
@markito 's PR #48 now creates the binaries to be released.  if we can bundle up the distribution per #53 this should be solvable by tweaking the workflow to compress the ./dist repo in place of the ./faas binary.

[2020-07-29 15:48] matejvasek commented on #51
resolved by #54

[2020-07-29 15:48] #51 closed

[2020-07-29 15:59] lance commented on #46
Fixed in https://github.com/boson-project/faas/pull/52

[2020-07-29 15:59] #46 closed

[2020-07-29 16:05] lance commented on #37
I see that `describe` has YAML/JSON/XML output options, but it seems that may be the only command that does. How do you see this working for other commands?

*  `create` optionally spits out YAML for the kn `Service`
* `delete` not sure about this one
* `list` YAML of the deployed `Service`(s)
* `run` ??
* `update` spits out YAML for the updated `Service`

Am I missing anything?

[2020-07-30 13:52] #42 closed

[2020-07-30 13:53] #53 closed

[2020-07-30 13:59] lkingland opened #57 "template file permissons not retained on Windows"
File permissions are not preserved when initializing new funcitons on Windows.
This is very possibly a bug or missing feature in the `pkger` dependency.  If this is indeed the case, we would ideally resove by submitting a PR.

_Originally posted by @matejvasek in https://github.com/boson-project/faas/pull/49#issuecomment-665653798_

[2020-07-30 14:19] matejvasek commented on #57
I think this is simple that `Windows` file modes don't map to `Unix` file modes well.

From golang doc:
[code]

[2020-07-30 14:20] matejvasek commented on #57
https://golang.org/pkg/os/#FileMode

[2020-07-31 13:13] lkingland commented on #57
Perhaps the problem here could be resolved by removing the need for the Function developer to use an executable file at all.  For instance, with the Go project, the _only_ thing in the local directory after creating a function is the code itself:  a `function.go` file with the function which conforms to a specific function signature, and a `function_test.go` file which allows tests to be run.  Cou

[2020-07-31 13:18] lkingland commented on #37
As for the other commands, I was hoping we could create a flag which is short-hand for saying "human readable or machine readable".  In the case of `describe`, the YAML and XML options of course make sense.  Perhaps for the others only JSON does (essentially requesting structured logging)

`run` is a little bit of a special case, as it delegates...   We could respect this flag in faas itself, perh

[2020-08-03 00:34] lkingland opened #58 "Consolidate documenatation"
Import documentation from boson-project/faas-config.

[2020-08-03 00:35] lkingland opened #59 "Document getting started with a Kind cluster"
Create documentation for getting started with a local Kind cluster.  Additional notes on how to securely access the cluster (treting it as a network appliance) would be useful/

[2020-08-03 18:50] matejvasek commented on #37
@lkingland `list` currently returns only names. If we wanted return more, what fields are we interested in?

[2020-08-03 22:18] lance opened #62 "Cluster namespace should be configurable"
When running `faas create <runtime> --namespace foo`, the `--namespace` flag is referring to the image registry namespace, but there seems to be no way to declare the cluster namespace to deploy the function to. It's always `faas`. I wonder if it wouldn't be better to have `faas create <runtime> --repository quay.io/lanceball --namespace my-cluster-namespace`, consolidating the `--registry` and `-

[2020-08-03 22:18] lance commented on #62
Also, it's odd to me that `--namespace` is required, but the user is prompted for this value anyway - but I suppose that's a different issue altogether.

[2020-08-04 10:22] drekar commented on #62
I completely agree with this; it is odd.  My only trepedation is that "namespace" is a very Kubernetes-specific concept.  I am not sure how to abstract this, however, so perhaps it simply has to leak through for now.

[2020-08-04 10:26] lkingland commented on #62
I completely agree with this; it is odd. We can combine Registry and Namespace into --repository, and repourpose --namespace to be Kubernetes namespace. My only trepidation is that "namespace" is a very Kubernetes-specific concept. I am not sure how to abstract this, however, so perhaps it simply has to leak through for now.

[2020-08-04 10:33] lkingland commented on #37
It's my opinion that we should be seeking the simplest possible functional case at this time, and only add more as specific use-cases require them.  The minimum necessary information to subscribe to an event is its unique identifier, thus the minimum necessary information back out of the system would be those same unique identifiers returned.   If we want to add more information; perhaps augmented

[2020-08-04 18:05] matejvasek commented on #37
@lkingland  by `list` here I meant list of deployed functions/ksvcs not subscriptions.

[2020-08-06 19:45] lance opened #63 "Node template has incorrect dependencies"
The package.json file in the Node.js template has the two runtime dependencies in the `devDependencies` section, and an unnecessary dependency on cloudevents-sdk (which is built in to faas-js-runtime).

These should be moved to a `dependencies` stanza.

[code]

And this should be removed altogether.

[code]

The HTTP template has a similar issue. This should be changed to version 0.2.1 and moved t

[2020-08-06 22:31] lkingland opened #64 "Default to in-cluster container registry"
Currently there are two problems with the registry configuration.  First, it is defaulted to an external registry (quay.io) and secondly the repositories created during the creation process are defaulted to private, and there appears no way to update this default behavior.  Taken together, these create an unfortunate barrier to usage.  Ideally, we would deafault to using a dedicated in-cluster reg

[2020-08-09 00:16] lkingland commented on #37
OK, I see that's for the listing of deployed Functions.  I'd say the same general suggestion applies.  Just return a list of the names, and then one can get more information about a given service with `GET` for that specific service by name `/services/www.example.com`

[2020-08-10 20:52] matejvasek commented on #64
@lkingland  as for tunneling by `kubectl port-forward`:
It could work, but it is not going to be easy. At least CLI clients (docker,podman) are tightly coupling tag and host where the tag is pushed.

For instance it's not possible to push tag `our-image-registry.svc.cluster.local:5000/faas/quarkus-fn` to `localhost:5000` (`kubectl port-forward` exposes remote port on localhost).

This can be worka

[2020-08-10 20:53] matejvasek commented on #64
I could look into this more.

[2020-08-12 20:45] lance commented on #62
Fixed in https://github.com/boson-project/faas/commit/5b4d97a44359ebb96fa78d6a63ab3b9744e79094

[2020-08-12 20:45] #62 closed

[2020-08-13 13:10] lance opened #69 "Remove appsody from source"
We are no longer using appsody - so all of this code should probably be removed from the repo

[2020-08-13 13:12] lance opened #70 "Add individual test targets for quarkus and go function templates"
Testing the templates as part of our CI will probably help prevent us from getting bit at some point.

[2020-08-13 19:45] lance commented on #64
There is a thread on this in @serverless-dev pointing to https://docs.openshift.com/container-platform/4.5/registry/securing-exposing-registry.html

[2020-08-13 21:05] #63 closed

[2020-08-13 21:12] lance commented on #64
In the document linked above seems pretty straightforward to push to the internal registry on OpenShift. But we definitely want to have a solution for upstream as well. I suggest that we aim for three targets.

1. Use docker.io as the default since it doesn't suffer from the private-by-default issue and requires minimal if any configuration for the user
1.  Document (and test) using an exposed Ope

[2020-08-14 10:01] matejvasek commented on #64
@lance @lkingland  Indeed for OpenShift it's not that difficult. It is not even necessary to expose it publicly. Just
[code]
this exposes registry locally (using HTTP).

Then it's possible to push it
[code]
Of course you need to `podman login`, credentials should be in `kubectl`'s configfile.

Subsequently you can deploy `ksvc` by:
[code]

Only inconvenience is that this exposes registry via insec

[2020-08-14 10:06] matejvasek commented on #64
NOTE: If you expose it publicly via HTTPS you still may have issues. For instance the cluster that I have uses selfsigned certificate. I have to allow it system wide (as root) and then restart docker daemon.

[2020-08-14 10:08] matejvasek commented on #64
NOTE: don't be scared by `insecure connection` the tunnel that is used should encrypt the communication AFAIK.

[2020-08-14 10:21] matejvasek commented on #64
Just to be sure that it works, @lkingland could you please apply the steps above on your OpenShift setup?

[2020-08-17 17:40] lance opened #71 "Add README.md to golang templates"
The golang templates for events and http should include a README.md document to help developers get started

[2020-08-17 18:21] lance commented on #9
This flag has been added to `build`, `create`, `deploy` and `init` commands. It should also be added to `run` and `update` and `delete` commands.

[2020-08-17 19:05] lance opened #73 "`faas list` does not seem to work"
[code]

[2020-08-17 19:10] lance commented on #73
Update: it's listing only functions deployed to the `faas` namespace.

[2020-08-19 01:34] #58 closed

[2020-08-19 01:34] #59 closed

[2020-08-19 01:45] lkingland commented on #73
Upon thinking about this a bit, I think the most forward-compatible option here would be to consider that the FaaS system, when configured to use a Kubernetes cluster as the underlying Platform, always delegates to the K8S client for making requests.  This client is configured using `~/.kube/config`, which includes the current namespace configuration.
So how about we, in all cases, use the current

[2020-08-19 11:56] #70 closed

[2020-08-19 20:33] lance commented on #73
Agree. I don't think this eliminates the need for a `--namespace` flag though.

This should be taken under consideration, for sure. However, I think for an initial Dev Preview release, we can assume that localhost and Kube/OCP are the only two supported platforms. In this case, I'm not sure that there is much to really do other than be clear that `delete`, `deploy` `update` and `list` commands are

[2020-08-19 20:47] lance opened #76 "Use --namespace and --tag consistently across commands"
In this project the `--namespace` command has been used to indicate the Kubernetes namespace or alternatively the image repository namespace. Additionally, in some commands (e.g. `faas deploy`) the user-supplied image tag is handled as with other CLIs such as [`docker`](https://docs.docker.com/engine/reference/commandline/tag/) and [`podman`](http://docs.podman.io/en/latest/markdown/podman-tag.1.h

[2020-08-20 22:21] lance opened #77 "Create a GH workflow to publish regular developer images"
This will allow folks who are not engineers to give new features and bug fixes a spin

[2020-08-21 02:45] lkingland commented on #73
OK, so we'll default to using the kubectl-defined namespace (not override), but if supplied, use it.  Additionally, in platforms that do not utilize the setting, for now it is ignored.

It seems to me upon reflection that, regardless of underlying platform (be that Kubernetes, localhost, or some future platform made deployable via Grid), that the concept of a namespace will be useful if not necess

[2020-08-24 12:29] lance commented on #73
Fixed in https://github.com/boson-project/faas/pull/78

[2020-08-24 12:29] #73 closed

[2020-08-25 20:35] lance opened #80 "Use the `kn` service client for deployment"
Instead of using the `kn` core module for Function deployment, we should be using the [service client](https://knative.dev/serving/pkg/client/clientset/versioned/typed/serving/v1) which will return the final path/route to the deployed function, so we can display this on the command line at completion.

[2020-08-30 23:23] lkingland opened #81 "Expanded and updated shell completions"
The shell completions are no longer fully integrated after the recent fairly sweeping update of the CLI arguments and flags in   #79.  This is a good time to expand them to consistently integrate in all the subcommands, updating where necessary.

[2020-08-30 23:23] lkingland opened #82 "Registry Shell Completions"
@matejvasek

In addition to updating the completions to reflect the latest CLI in #81 , adding a custom completion for the --repository flag would be a great help for those who choose not to set it as an environment variable as is recommended.

To clarify, this would autocomplete the portion of a Function's Image which includes the Registry and Namespace
Docker Example: "docer.io/alice"
OpenShift:

[2020-08-31 00:12] lkingland opened #83 "Naming of template/contex/trigger"
~ @lance

Some options, with contrived complexity to hopefully get our creative juices flowing:
[code]
[code]
[code]

The original version used `template`, which I later updated to `context` when it felt like that didn't encapsulate the idea of the template files plus extra contextually-available resources, but was changed _back_ to `template` because of possible confusion per suggestion by @matej

[2020-08-31 00:15] lkingland opened #84 "progress listener on build and deploy"
The progress bar listener which is plumbed in to the `create` command might be a nice addition to the individual steps 'build' and 'deploy', when they are invoked directly via their subcommands.  It makes no sense on `init` as that is generally instantaneous, and may be overkill for 'describe' and 'list' etc.

[2020-08-31 00:27] lkingland opened #85 "Support complex domain names"
https://github.com/boson-project/faas/blob/fbab8c09d05e0f08c5320c0d16b9508203e458d1/knative/deployer.go#L35-L42

When validating if the name is valid, we should consider the fact that 1) some DNS names have multiple levels. for example `.co.uk` and 2) the system supports multiple-level subdomains. for example `cdn1.us-west-2.www.example.com`.  These conditions are supported by the CLI, by the name

[2020-08-31 00:39] lkingland opened #86 "Explicit, implicit or auto configuring cluster domains"
https://github.com/boson-project/faas/blob/fbab8c09d05e0f08c5320c0d16b9508203e458d1/knative/deployer.go#L61-L63

It is my understanding that the label and annotation referencing the domain and subdomain are not necessary for the system to function if the configuraiton of the cluster domains is followed [per the docs](https://github.com/boson-project/faas/blob/develop/docs/getting_started_kubernete

[2020-08-31 14:14] lkingland commented on #76
Well it may not be perfect, but it's at least consistent now!  Do you think this is good to close as completed now @lance?

[2020-08-31 14:15] lkingland commented on #9
The path flag is indeed plumbed in to every command now.  See #79 for the gory details.

[2020-08-31 14:15] #9 closed

[2020-08-31 14:18] lkingland commented on #37
This is complete.  Implemented by @matejvasek in #67 and slightly tweaked to have format functions consolidated with the `describe` command in #79 .  Still outstanding is the issue of having structured logging such that _all_ output is of the explicit type, but if we need that, we can save that for a future discussion/info.

[2020-08-31 14:18] #37 closed

[2020-08-31 18:38] matejvasek opened #87 "The `--image` flag doesn't work for `create`."
Call to `func overrideImage(root, override string) (err error)` creates `.faas.yaml`. This causes that subsequent call to `func (c *Client) Create(cfg Function) (err error)` fails.

[2020-08-31 22:22] lance commented on #76
Yep - big improvement!

[2020-08-31 22:22] #76 closed

[2020-09-01 14:46] zroubalik opened #89 "faas CLI interactive prompt shouldn't ask for information already provided in parameters"
If I run this `faas create` command with details specifed in the parameters, I don't expect to get asked about the same information later in the prompt. I know there is `-y` parameter, but IMHO this shouldn't be needed for already specified details.

[code]

[2020-09-01 14:51] zroubalik opened #90 "faas CLI interactive prompt shouldn't ask for Path to project directory"
faas CLI interactive prompt shouldn't ask for Path to project directory if we are already in the directory with existing project:

[code]

[2020-09-01 14:55] zroubalik opened #91 "default namespace (optional) has incorrect value displayed in CLI"
If I run some `faas` command, I get asked about overriding default namespace:

[code]

The displayed value `(zroubalik)` is not correct, even though the project is deployed in the correct default namespace.

The displayed namespace value is probably taken from a `FAAS_NAMESPACE` variable that I have specified before (from my understanding this Variable is referring to image repo namespace, not k8s

[2020-09-01 15:01] zroubalik opened #92 "FAAS_NAMESPACE is confusing"
On various places accros the project, the image repository is referred as `namespace` or `FAAS_NAMESPACE`. It could be confusing as user could get impression that we are talking about kubernetes namespace (I was mistaken as well) and as CLI help is suggesting.

https://github.com/boson-project/faas/blob/develop/docs/developers_guide.md#local-setup-and-configuration

[code]

What if we use image `r

[2020-09-01 15:08] zroubalik opened #93 "cannot create Go function"
Creation of Go functions is probably broken, if I initialize a function from an empty project I can see this error:
[code]

Full log:
[code]

[2020-09-01 15:24] zroubalik opened #94 "faas create/deploy could suggest the correct domain"
When creating/deploying a function, faas CLI could suggest the correct domain as user doesn't have to look up for the current value. Kubernetes clusters could be deployed accross various clouds, where the domain could be generated, long and ungly

[2020-09-01 15:29] zroubalik opened #95 "Does user need to specify domain when initializing a new function?"
If I init a function `test`:
[code]

And then try to deploy this function, I got an error:
[code]

This is probably caused by missing domain specified during a function initialization. There should be a way how to specify the function domain during the `faas deploy` step IMHO.

Do we want to force users to specify a set domain during the `init` phase? And bake it into the function name (do I under

[2020-09-01 15:44] matejvasek commented on #93
/cc @lkingland

[2020-09-01 17:50] lance opened #96 "Cannot create node.js function project using 'faas create'"
I get the same error with 'http' and 'event'

[code]

[2020-09-01 18:06] lance commented on #96
Boneheaded use of `nodejs` instead of `node` for runtime.

[2020-09-01 18:06] #96 closed

[2020-09-02 07:39] matejvasek commented on #96
@lance we should improve our error messages

[2020-09-02 07:41] matejvasek commented on #96
I had same problem when I used `java` instead of `quarkus`.

[2020-09-02 10:31] rhuss commented on #89
Also, for me the default suggested as the "deploy namespace" doesn't be to be taken over when just hitting return

[2020-09-02 10:33] rhuss commented on #93
This happened to me, too, when using the `http` trigger. For the `events` trigger it worked.

[2020-09-02 12:37] #87 closed

[2020-09-02 13:09] lance opened #97 "Update pack dependency to 0.13.1"
There have been some changes since v0.11.0. We should update our dependency to the latest. https://pkg.go.dev/github.com/buildpacks/pack@v0.13.1?tab=versions

[2020-09-02 13:14] lance commented on #96
Honestly, we shouldn’t allow the command to even get that far. On create and init, we should check the template value immediately.

[2020-09-04 03:41] lkingland opened #101 "Releases should be built from main only"
The releases workflow is triggered from any push with a tag, when it should be restricted to tags merged to main, such that we can follow the flow:
Assumig a next version of v0.7.0
1) Create an updated changelog, such as by running `git-chglog --next-tag v0.7.0`
2) Commit updated changelog to the develop branch `git commit -m "release: v0.7.0" CHANGELOG.md`
3) Tag and push develop `git tag v0.7.0

[2020-09-04 05:21] lkingland commented on #38
My expected behavior of the command `go install` command is currently an [active proposal](https://github.com/golang/go/issues/40276) in the Go community.  The [design document ](https://go-review.googlesource.com/c/proposal/+/243077/)is also available.  tl;dr `go install` does not behave as expected after the introduciton of go modules.  It will soon install a package globally into a user's PATH,

[2020-09-04 05:21] #38 closed

[2020-09-04 13:30] #71 closed

[2020-09-04 14:15] #69 closed

[2020-09-04 14:18] #27 closed

[2020-09-04 15:09] lkingland commented on #57
I believe the ideal solution here is to refactor the Quarkus buildpack to use something like jbang such that the files which are written to the local directory contain _only .java files_, and in particular no `mvn` executable.  This issue is technically invalid, so unless anyone has objections, I am closing this as such.

[2020-09-04 15:09] #57 closed

[2020-09-04 15:17] #101 closed

[2020-09-08 13:54] lance commented on #95
I think this would be resolved by using the `--repository` flag. But there are also issues with naming in general.

I agree that this is probably not the best naming convention for that reason, and as implemented it is also a bit error prone resulting in a potentially frustrating user experience.

[2020-09-08 18:20] lance opened #105 "Release 0.6.1 or 0.7.0"
Not sure if it needs to be a minor version bump or just patch release, but I'd like to start having weekly releases as our tempo increases.

[2020-09-08 18:54] lance commented on #92
@zroubalik with the latest builds, this has changed. I think this issue can probably be closed.

[code]

[2020-09-08 19:12] matejvasek commented on #95
@zroubalik  have you also called `faas build`?

[2020-09-09 09:34] lkingland commented on #95
Thanks for the comment @zroubalik .  What you are noticing here is a lack of implemented default option.  The full service name is indeed expected to be defined during the initialization phase.  A name which does not end in a valid TLD+1 public suffix should be automatically assumed to be `.cluster.local`, and when deployed, only cluster-internal routes provisioned.

[2020-09-09 09:46] lkingland opened #107 "default function domain to .cluster.local"
We should probably implement the default domain as `.cluster.local` suffix for users initializing a Function without an explicitly provided name nor name derivable from directory structure, rather than generate an error or force the input.
For example
[code]
(Currently this use case generates an error later in the process, on deploy)

For a little background: when creating a new Function, the prim

[2020-09-09 09:55] lkingland commented on #92
Echoing what Lance said:  This changed recently such that `FAAS_REPOSITORY` assimilated `FAAS_NAMESPACE`, and the latter was repurposed to refer to the Kubernetes Namespace.  If there are areas in the documentation, or help text, where the former meaning still exists, we should definitely treat it as a clean-up chore.  I am in the process of updating the developer's guide, so I agree this can be s

[2020-09-09 10:08] lkingland commented on #105
Looks like we took care of chores, version bumps, missing readmes etc. so this one should probably be v0.6.1.

[2020-09-09 10:24] #105 closed

[2020-09-09 10:45] lkingland commented on #94
This would be a nice addition.   If I am understanding you correctly, we would implement a suggestion feature, where creating a function `test`:
[code]
Would reach out to the cluster to query domains for which the cluster has been configured, prompting the user to choose one, with the default being `.cluster.local`, and it being one of the options.

This seems useful especially for, as you mention

[2020-09-09 10:49] lkingland commented on #93
The `http` functionality in the Go buildpack simply hasn't been created yet. It's next on the list to do, and I believe that @matejvasek just submitted a PR adding support for the HTTP function signatures (the templates may still need to be updated).  In the short term, until those PRs are merged, you can use `trigger --events` and it should work; you just need to whip up a CloudEvent.

[2020-09-09 13:03] lance commented on #92
With the [release of 0.6.1](https://github.com/boson-project/faas/releases/tag/v0.6.1) I think this can be closed now. @zroubalik if you feel like we need to reopen, feel free to do so.

[2020-09-09 13:03] #92 closed

[2020-09-09 16:00] lance commented on #89
I would like to see the behavior change so that the user faces fewer prompts if any by default. Instead of `-y` to skip prompts, perhaps a `-i` for 'interactive' to generate prompts. The information is useful to see, however, so for example in @zroubalik's case the output might be something like this.

[code]

[2020-09-09 16:35] lance commented on #93
Fixed in https://github.com/boson-project/faas/commit/bb575b04c0ee9fa05cf755cf23da21c8cedd18da and https://github.com/boson-project/faas/commit/8012e195c3b25a10d17f37311144a376cc53262c and released in v0.6.2. Closing.

[2020-09-09 16:35] #93 closed

[2020-09-09 16:37] matejvasek commented on #93
@lance Note that this will work only if buildpacks are published too.

[2020-09-09 17:18] lance commented on #93
@matejvasek good point - will look into publishing these.

[2020-09-09 18:54] matejvasek commented on #93
Works now, @zroubalik  could you please verify that?

[2020-09-09 21:18] matejvasek opened #112 "Consider sub-command for displaying logs"
Might be useful to have something like `stern` to show stdout of functions.

[2020-09-09 21:18] matejvasek commented on #112
@lance @lkingland wdyt?

[2020-09-10 03:51] lance commented on #112
Seems reasonable, but I wonder why `kn` hasn't included this for a regular `Service`.

[2020-09-10 15:37] matejvasek opened #117 "Update readme files of Quarkus templates"
The template readmes don't contain any notion of `faas` CLI.

[2020-09-10 16:22] rhuss commented on #112
there is a  [`kn service log`](https://github.com/rhuss/kn-service-log) plugin in the making that works similar to stern. It's still on my private account but should move over to `knative-sandbox` soon.

We have to implement that as a plugin as showing the logs of a pod is not part of the Knative API contract.

[2020-09-11 13:56] lance commented on #91
@zroubalik I think this is not a bug and working as intended. The `FAAS_NAMESPACE` environment variable overrides the command line arguments. If you unset `FAAS_NAMESPACE` it should work as expected.

[2020-09-11 18:36] #89 closed

[2020-09-11 18:36] #90 closed

[2020-09-11 18:36] #91 closed

[2020-09-14 14:17] #77 closed

[2020-09-14 21:49] lance opened #119 "Integration with Knative client as a plugin"
Documentation for this can be found here: https://github.com/knative/client/tree/master/docs/plugins

For each of the sub-tasks, there will be two things to accomplish.

* Implement the Plugin interface - https://github.com/knative/client/blob/fb47409837d0d201831840149565d82609bcab6b/pkg/kn/plugin/manager.go#L37-L53
* Register the plugin with kn - https://github.com/knative/client/tree/master/docs

[2020-09-14 22:09] lance opened #120 "Do not hard code builder image locations"
The buildpack Runtimes are all currently hard coded.

https://github.com/boson-project/faas/blob/566d8f9255d532e88e72d5bce122bebaee88bc81/buildpacks/builder.go#L25-L29

It would be nice for this to be configurable.

[2020-09-14 22:18] lance commented on #120
As I think more about this issue, it's making me realize that all of the actions this CLI takes are really not function-specific. Making the runtime buildpacks configurable would mean that this CLI could extend the same build/deploy/update/delete workflow to essentially anything that could be deployed as a Knative service and which has a buildpack. Want to run a Django app on Knative? Point `faas`

[2020-09-16 14:19] lance opened #123 "Proposal to decouple function name from function domain"
Currently, the CLI has been written to conflate the function name with the function domain. For example, creating a project in a directory, `foo`, produces the following:

[code]
Where the project name has been derived from the local directory. It is possible to provide a name to the `init` and create commands. For example,

[code]
However, this produces problems during deployment.

[code]

This i

[2020-09-16 15:29] #50 closed

[2020-09-16 15:31] lance commented on #123
Currently, our flow is

[code]
Or in your example, @zroubalik it would be

[code]

I agree with your suggestion, Zbynek that the name should be required and not derived, with the following use cases. (Note: that a side effect of this approach is that the `-p` flag goes away for `init` and `create`, and there's a good argument to be made that it should go away altogether).

[code]
[code]
[code]
Not

[2020-09-16 15:32] lance commented on #123
One use case I did not show is specifying the current directory. I think this should probably work as well.

[code]

[2020-09-16 15:39] zroubalik commented on #123
Yeah, that's what I mean, there's a typo in the example, sorry for the confusion 🙄

I like the solution/usecases that you have presented here.

[2020-09-16 15:52] matejvasek commented on #123
faas init -p foo -l node
cd foo

`Maven` or `Leiningen` project creation works that way too.

[2020-09-16 15:57] matejvasek commented on #123
I mean they create new dir.

[2020-09-17 13:26] nainaz commented on #123
I think it is important for the Function Author to not worry about domain name. They should just provide the function name and that is it.

I also like the suggestion of not creating the dir first , but let the command create it.
Q : How would this work for create. same as init?
Q: what if user doesn't provide a dir name? rather than prompting, should we create a default one ?

[2020-09-17 13:44] matejvasek commented on #123
For domain name we could introduce new sub-command like `faas expose fn-name url` command.

[2020-09-17 13:59] lance commented on #123
Yes, that's how I see it.

I think the directory should be a required argument, but could be `.`. For example...

[code]

[2020-09-17 15:45] nainaz commented on #123
it seems weird that rather than saying function name is required we are saying directory name is required. Could we ask for function name and make a directory with that name then?

[2020-09-17 16:26] lance opened #126 "Consider removing `describe` and `delete` & possibly `deploy` and `update`"
When we consider that this project's intent is to run as an inlined plugin in the `kn` CLI, the commands we use now as `faas describe` and `faas delete` become `kn faas describe` and `kn faas delete`. These are really no different than `kn service describe` and `kn service delete`. I don't think we should be duplicating this behavior that already exists in the target binary.

I think we should als

[2020-09-17 16:32] zroubalik commented on #123
@nainaz yeah, that's exactly the way we want to go. User specifies a function name, a new directory with function stub inside will be create.

But there will be a possibility to create a function in the existing directory as well (in this case the name of the directory will be used as a name for the function).

[2020-09-17 19:24] zroubalik commented on #126
Agree on that.

Just a brain dump:
What if `kn faas describe` is just a wrapper around `kn service describe` + printing some additional (functions related) info. I am not sure if this is something, that's even possible in `kn`.

[2020-09-18 12:57] lkingland commented on #126
If that is the intent, then yes these commands are redundant.  However, if we would like the faas client library to provide a platform-agnostic set of Function manipulation primitives, which can be used across multiple deployment platforms, then perhaps these individual command should be retained in the `faas` binary and not "plumbed" through `kn`.

[2020-09-18 13:29] nainaz commented on #126
This constant switch to kn faas to kn service could be very confusing and jarring.
I believe consistency for Function Author will be paramount given they might not be from dev background.
to create function I write ```kn faas init``` or ```kn faas create```. but then to delete or describe I have to write ``` kn service describe``` etc.
Is there a way to wrap these kn commands in faas cli for bette

[2020-09-18 13:32] nainaz commented on #126
I agree with the point @lkingland  made here .
```However, if we would like the faas client library to provide a platform-agnostic set of Function manipulation primitives, which can be used across multiple deployment platforms```.
This should be our goal, platform agnostic in the long run.

[2020-09-18 13:50] lance commented on #126
Why? What other platform do we realistically expect this to be running on any time before 2022?

[2020-09-18 13:51] lance commented on #126
They already are in the faas CLI. I am proposing to remove them, because they are redundant. Certainly `delete` is, if not `describe`.

[2020-09-18 13:58] lkingland commented on #126
Yes, these are redundant if one's perspective is that the only purpose of the `faas` CLI is to be a plug-in for `kn`.  However, we might have a very nice opportunity to provide a simple option for Function developers who are being supported by a cluster administrator.

The `kn` command, while full featured and rich, is a much higher learning curve than the simple Create, Read, Update, Delete provi

[2020-09-18 19:17] lance commented on #126
See https://github.com/boson-project/faas/pull/128. I think I may close this issue.

[2020-09-18 19:21] #126 closed

[2020-09-18 19:50] lance commented on #120
What if, instead of configuring builders explicitly, we simply add metadata to the templates. For example:

[code]

[2020-09-22 14:37] zroubalik opened #135 "Combine deploy and update into a single deploy command"
As agreed on the call, we should track it here.

[2020-09-24 13:52] #123 closed

[2020-09-24 15:04] zroubalik commented on #107
@lance this could be closed as well, if I am not mistaken? since #123 is merged in

[2020-09-24 15:21] #107 closed

[2020-09-24 15:41] #120 closed

[2020-09-24 15:54] matejvasek opened #138 "Add GH action for integration tests"
We should have integrations tests for our binary.

Such a test would try:
create a function
build the function
list functions (the created function should be in the list)
describe the function
deploy the function into cluster
call the function

this should be done for all templates (runtimes/triggers).

[2020-09-24 15:56] matejvasek commented on #138
for this the action will have to set up cluster with `KServing` (and maybe `KEventing`).
https://github.com/matzew/kn-box w

[2020-09-24 15:57] zroubalik commented on #138
I'd vote for reusing libs/concepts from `kn`: https://github.com/knative/client/blob/master/test`

[2020-09-25 14:34] zroubalik opened #140 "Use unique name for built images"
`faas build` currently produces image named eg `docker.io/zroubalik/myfunction:latest`.

We should add some hash to the name, to make the image unique.

Usecase:
Let’s say, I’d like to create 2 different functions, but both named myfunction (deployed into different namespaces). Current soluiton will result in conflict

[2020-09-25 14:36] zroubalik opened #141 "faas build & deploy should use SHA"
`faas build` should note at the end result the SHA e.g. in faas.yaml that then could be picked up by `faas deploy`

[2020-09-25 14:39] zroubalik opened #142 ".faas.yaml file shouldn't be hidden"
As per our previous discussion. `.faas.yaml` file shouldn't be hidden, this could provide more clarity for the users from the function configuration perspective and should prevent problems with versioning as some `.gitignore` templates ignores hidden files by default.

[2020-09-28 17:33] lance commented on #95
@zroubalik I am closing this as I think recent work has made it obsolete. Feel free to reopen if you feel otherwise.

[2020-09-28 17:33] #95 closed

[2020-09-29 14:27] #142 closed

[2020-09-29 16:46] matejvasek commented on #64
@lance @nainaz as discussed this should be done by adding documentation, what it the place where I should put the documentation?  Should I also add that to template READEs?

[2020-09-29 17:07] lance commented on #64
@matejvasek maybe as a standalone guide in https://github.com/openshift-knative/docs?

[2020-10-01 21:39] lance commented on #64
Hmm... as I feared this fails with port forwarding in a shared cluster. I don't have permissions to access resources in the regsitry's namespace.

[code]

[2020-10-01 21:50] matejvasek commented on #64
@lance so they would need ask admin for permission?

[2020-10-01 21:53] lance commented on #64
Yes I believe so. I'm not sure exactly what kubectl is doing, but I assume it's modifying a service resource￼ to expose the port.

[2020-10-01 21:56] matejvasek commented on #64
Too bad, at least it can be useful for CRC.

[2020-10-01 21:57] matejvasek commented on #64
I never used that.

[2020-10-06 17:18] lance opened #154 "Change FAAS_REPOSITORY to FAAS_REGISTRY"
I think probably it makes sense as @rhuss suggested, to change `FAAS_REPOSITORY` to `FAAS_REGISTRY` since that's really what we are asking for anyway (terminology in this space is so messy).

A simple Quarkus project faas.yaml looks like this:

[code]

Instead, I think the image property should just be `quarkus:latest` and that we should persist the `FAAS_REGISTRY` value in this file as well.

/cc

[2020-10-06 17:32] lance commented on #154
Alternatively, we could get rid of `FAAS_IMAGE` and instead keep `FAAS_REPOSITORY` but have it point to the full image, meaning `registry/[user]/<repository>:[tag]` (where `[user]` and `[tag]` are optional (since a registry may not expose repos in a namespace and tag could just be `latest`).

[2020-10-07 12:33] matejvasek opened #157 "Allow user to set environment variables for a Function"
For JVM Quarkus we are using https://github.com/fabric8io-images/run-java-sh

The script can be controlled by environment variables.
In particular `JAVA_DEBUG`, which can enable debugging.

This might be useful for debugging in general.

[2020-10-07 13:10] matejvasek commented on #157
There could be `--env` flag like `kn` has.
In `faas.yaml` there would be section with envvar too:
[code]
WDYT @boson-project/core

[2020-10-07 15:29] #135 closed

[2020-10-07 16:30] lance commented on #157
So the buildpack builder would read faas.yaml and set the variables in the image environment?

[2020-10-07 17:04] matejvasek commented on #157
@lance Interesting I wasn't thinking about that. I actually meant it would set envvars to `ksvc` on deployment.

[2020-10-07 17:05] matejvasek commented on #157
Deployment operation already sets build timestamp envvar.

[2020-10-07 17:13] lance commented on #157
Oh I like your way better actually

[2020-10-08 08:58] #154 closed

[2020-10-08 11:44] zroubalik opened #160 "Use knative client lib"
knative client lib for serving and eventing should be used for manipulation with knative objects

[2020-10-08 11:46] zroubalik opened #161 "Commands should check whether a Function is initialized"
Currently some commands don't check whether they are executed on a properly initialized Function project.

[2020-10-08 12:47] zroubalik commented on #80
Tracked under: https://github.com/boson-project/faas/issues/160

[2020-10-08 12:47] #80 closed

[2020-10-08 13:32] #161 closed

[2020-10-09 11:13] zroubalik opened #164 "`faas deploy` should support options available for `kn service create`"
Users might want to tweak the deployed Function (Knative Service).

There are bunch of [options](https://github.com/knative/client/blob/master/docs/cmd/kn_service_create.md#options) available for `kn service create` command, such as cpu/memore requests, scaling configuration etc.

Let's start listing here the options we'd like to support, and link to any PRs or Issues

- [x]  `deploy`: min/max con

[2020-10-09 11:14] zroubalik commented on #157
Related (more generic) proposal: #164

[2020-10-09 11:16] zroubalik commented on #119
@dsimansk Is there anything else to be done, which is not covered by #155 and #163?

[2020-10-09 11:19] zroubalik commented on #94
Closing this as we decoupled the domain from the Function name

[2020-10-09 11:19] #94 closed

[2020-10-12 13:07] lance opened #169 "Add support for health checks"
The Node.js runtime exposes `/health/readiness` and `/health/liveness` endpoints when a function project spins up. I would like to find a way to expose these at runtime. But this is a little tricky because the endpoints are really an implementation detail, and not something that the Function developer needs to be concerned with.

One way to do this would be to add health check endpoint configurati

[2020-10-12 14:32] rhuss commented on #141
Quick question: How is this related to #140 ? Does this already solve the issue that is described in #140 ?

[2020-10-12 14:35] rhuss commented on #140
The question is also whether could detect that conflict or whether it would just overwrite the other image. Using a random prefix doesn't help much either as this does not guarantee that there is no conflict (if you can't detect the conflict).

Just checking if the image exists in the registry might also not be good enough, as this could have been created just by a previous build from the current

[2020-10-12 14:36] rhuss commented on #140
I wonder how other container-based faas (e.g. openfaas or riff) deal with this situation. Maybe its worth to have a look at them, too.

[2020-10-13 12:11] #157 closed

[2020-10-13 15:57] #117 closed

[2020-10-13 19:16] lance commented on #141
Personally, I think it solves the issue well enough for dev preview. What do you think @zroubalik?

[2020-10-13 19:38] lance commented on #141
Hmm- taking a quick look at the Buildpack client, it doesn't seem that they expose the sha after the image is built. https://github.com/buildpacks/pack/blob/main/build.go#L175

I suppose after the build completes, we could query the docker daemon to get the image info and extract it from that. Hrm...

[2020-10-14 07:16] rhuss commented on #141
Yes, this getting the SHA typically involves an additional query (could be the docker daemon where the image has been build or also the registry where the image is stored). You would ask for information about the image with the specific tag.

[2020-10-14 07:18] rhuss commented on #141
Interestingly the build command also fetches the sha/id just for logging purpose: https://github.com/buildpacks/pack/blob/68dec3e856738048ca848f2addb3858a150e4411/build.go#L310 Not sure whether it can be exposed more easily

[2020-10-14 08:42] #160 closed

[2020-10-14 08:45] zroubalik commented on #141
I dealt with the exactly same problem yesterday, seems like docker query is the only viable option.

For Buildpacks, there's https://github.com/buildpacks/imgutil library for inspecting the image (but it is using docker internally) so I think we can use the docker directly.

[2020-10-14 19:39] pmorie opened #177 "Support buildah / imagebuilder"
I should be able to build a function without requiring the docker daemon, for example with buildah or podman.

[2020-10-14 19:42] matejvasek commented on #177
@pmorie Unfortunately BuildPack doesn't work without `docker`. We tried `podman`, but without success.

[2020-10-14 20:44] pmorie opened #178 "faas create breaks with SELinux enforcing"
I'm on F29.

[code]

Audit log:

[code]

When I `setenforce 0`, it works.

[2020-10-14 20:52] matejvasek commented on #178
@pmorie can you at least build image from dockerfile on the machine?

[2020-10-14 21:01] matejvasek commented on #178
What is output of `ls -lZ /var/run/docker.sock`?

[2020-10-14 21:05] matejvasek commented on #178
What version of docker are you using?

[2020-10-14 21:33] lance commented on #177
@matejvasek I've been reading up on this and I think there is a way... see: https://github.com/buildpacks/pack/issues/564. I will try to summarize here after I have digested.

[2020-10-14 21:35] matejvasek commented on #177
If you think about `DOCKER_HOST` I tried that (and @dsimansk too) and it didn't work.

[2020-10-14 21:47] lance commented on #177
Some notable comments from that issue.

[`kpack`](https://github.com/pivotal/kpack) is pivotal's buildpack lifecycle CLI and it does not require Docker because it uses the lifecycle directly.

I think it's time we become a bit more familiar with the buildpack lifecycle spec.

[2020-10-14 21:49] matejvasek commented on #177
`kpack` is for building in `k8s` cluster, isn't it?

[2020-10-14 21:56] matejvasek commented on #177
`podman system service` -- this call to create the socket worked on older version, with newer I got:
[code]

[2020-10-15 08:19] zroubalik opened #179 "Don't use docker binary for push & run"
Currently we are using `docker` binary for running `push` and `run`: https://github.com/boson-project/faas/blob/f4851fb669462ab348b9f51f60b813ef1494f9b5/docker/pusher.go#L28

We should use some library for this, Docker Go SDK is not ideal, because with this library it is [quite hard to do authentication ](https://github.com/moby/moby/issues/39377#issuecomment-503589708). But there should be anothe

[2020-10-15 09:16] dsimansk commented on #178
In fact it seems to be present on Fedora 32 as well. I have my SELinux set to `permissive` by default, therefore image build works fine, but it would certainly block the action on `enforcing` setting.
[code]

[code]

[2020-10-15 09:46] zroubalik opened #180 "Remove the create command"
As discussed several times, we should remove `create` command and rename `init` to `create` then.

As a result `faas create` will have the same functionality as `faas init` has currently.

[2020-10-15 12:09] matejvasek commented on #177
@dsimansk do you recall what you have tried?

[2020-10-15 12:23] dsimansk commented on #177
I've tried buildpacks on the following podman version. For me `system service` cmd works fine. However, I still got an error during image build in the neighbourhood of  "NotAllowedMethod being used", I don't have the exact text handy right now.

podman version
[code]

[2020-10-15 13:39] pmorie commented on #178
I would not expect `container_t` to be able to use `container_runtime_t`.

[2020-10-15 13:40] matejvasek commented on #177
OK. It should be possible, but it's not going to be as easy as `alias docker=podman`.

[2020-10-15 14:19] zroubalik commented on #179
this might be useful: https://github.com/containers/image

[2020-10-15 15:37] lance commented on #177
Agree with that for sure.

[2020-10-15 15:37] lance commented on #179
Oh wow - I had been thinking that we were using the libs. Hrmm.

[2020-10-15 19:54] #169 closed

[2020-10-15 21:31] lance opened #181 "Replace usage of pack CLI libraries with the buildpack lifecycle reference implementation"
The `pack` CLI is an implementation of buildpack's [`platform` specification](https://github.com/buildpacks/spec/blob/main/platform.md) and is an opinionated tool designed specifically for users who have a Docker daemon running on their development machine. But this is _not_ a necessary requirement for conforming to the buildpack specification. We need to remove the usage of the `pack` libraries a

[2020-10-19 09:43] #141 closed

[2020-10-19 09:43] #140 closed

[2020-10-19 23:58] lance opened #182 "Quarkus template still exports "greet""
I'm not sure exactly what's going on here. The template itself exports `echo`, but when I run `faas init`, followed by `faas build` the classes directory contains an application.properties file that has the `greet` function as the export. Could this be an old buildpack is still being used?

[code]

[2020-10-20 02:02] matejvasek commented on #182
@lance that's odd, in `src` it's OK, but for some reason `target` is bundled in template and it should't be.

[2020-10-20 02:05] matejvasek commented on #182
I guess something wrong went with `pkger`. It really should be called while make.

[2020-10-20 02:24] matejvasek commented on #182
@lance looks like this was broken as part of 74511948cefc368d898ad05b911fded74d44b759
I don't know how that could happen.

Were you testing the templates within source tree? If so, you might unknowingly commit some changes via pkger.
Or maybe merge/rebase issue?

I hate versioning generated files.

[2020-10-20 02:28] matejvasek commented on #182
This is why we need integration tests.

[2020-10-20 13:07] #182 closed

[2020-10-20 16:34] matejvasek opened #185 "Custom port for image repository is not respected"
If using repository like my-repo:5000/default/bar, the ":5000/default/bar" part is removed during deploy.

[2020-10-20 16:37] matejvasek commented on #185
This appeared after adding sha to image.

[2020-10-20 16:41] matejvasek commented on #185
@lance we need to fix this right?

[2020-10-20 16:42] lance commented on #185
Yes I think we should fix it.

[2020-10-20 16:43] matejvasek commented on #185
I'll try this: https://stackoverflow.com/questions/37861791/how-are-docker-image-names-parsed

[2020-10-20 17:47] zroubalik commented on #185
Good catch 👍

[2020-10-20 17:54] #185 closed

[2020-10-27 14:50] matejvasek commented on #177
I did some digging into why `podman` doesn't work, since it should implement docker APIv2.

1. The APIv2 `containers/(name or id)/archive` endpoint is not yet implemented.
That's why @dsimansk saw `NotAllowedMethod being used`.
I am trying to address that https://github.com/containers/podman/pull/8126.

2. Even when the endpoint is implemented there were issue with another APIv2 endpoint,
it wasn'

[2020-10-28 21:05] lance commented on #177
@matejvasek great work!

[2020-10-29 10:17] slinkydeveloper opened #195 "[feat] Missing a runtime list command"
**Is your feature request related to a problem? Please describe.**
The `kn faas` command is missing a subcommand to list all the available runtimes, with the list of supported triggers too. In order to find out the available runtimes, i need to run `kn faas create --help`

**Describe the solution you'd like**
A command like `kn faas runtimes` or something similar (feel free to bikeshed on the name

[2020-10-29 10:21] slinkydeveloper opened #191 "[usability] The default runtime choose is weird and biased"
**Does the issue result in incorrect behavior?**
This issue is a personal opinion, feel free to ignore.

After installing for the first time the tool, i run `kn faas create`/`kn faas init` and it creates a golang project. This seems to me like a biased choice and, somehow, this behaviour sounds weird to me, because i typed this command with the expectation that it would fail with something like :

[2020-10-29 11:29] cardil opened #188 "[feat] Support for podman"
**Is your feature request related to a problem? Please describe.**
On my Fedora box with podman installed I'm unable to use FaaS. I've been using podman happily for more than a year without any trouble. I can do all kinds of stuff with podman and I have never been forced to have docker installed. I would like to use faas without hasle and security pitfalls of having Docker daemon running.

FaaS re

[2020-10-29 11:51] slinkydeveloper opened #190 "[usability] Template/demo CloudEvents functions replies with non CloudEvents"
**Does the issue result in incorrect behavior?**
Both in node and quarkus event function templates, the response is a non cloudevent. This behaviour is not "eventing-friendly" and we should discourage it. The reply to a trigger invocation can be only a cloudevent, otherwise the response is discarded (which is what happens in that case https://github.com/knative/eventing/blob/master/pkg/mtbroker/fi

[2020-10-29 12:05] slinkydeveloper opened #192 "[feat] kn faas list should contain more informations"
**Is your feature request related to a problem? Please describe.**
kn faas list just shows a list of the deployed functions

**Describe the solution you'd like**
I would love to see a table of deployed functions with at least their url, image and readiness

[2020-10-29 15:37] markusthoemmes opened #189 "[feat] More output on the build/deploy step"
**Describe the solution you'd like**
My `kn faas build` command was literally

[code]

A spinner would've been neat as it has been sitting there for a while. A `Success` message would also be nice on... well... success.

[2020-10-29 15:46] markusthoemmes opened #196 "[feat] Make use of known-to-be-existent stuff on Openshift"
**Describe the solution you'd like**
I'd love if I wouldn't have to deal with the fact that we're building images when running on Openshift at all. Wouldn't it be cool if one could just do `kn faas deploy` on an Openshift cluster without additional setup (i.e. dockerhub accounts etc.).

We discussed briefly how it's non trivial to talk to the Openshift internal-registry, but maybe we can salvage O

[2020-10-29 18:52] alanfx opened #194 "[bug] curling a nodejs function produces: "TypeError: Cannot read property 'info' of undefined""
**Describe the bug**
Created a nodejs function, ran it locally, and curling the loclhost:8080 endpoint produces an error.

**To Reproduce**
Steps to reproduce the behavior:
1. `kn faas init -l node`
1. `npm run local`
1. `curl -X POST -d '{"hello": "world"}'  -H'Content-type: application/json'  -H'Ce-id: 1' -H'Ce-source: cloud-event-example' -H'Ce-type: dev.knative.example' -H'Ce-specversion: 1.0'

[2020-10-30 08:52] rhuss opened #187 "[usability] Help message for "kn faas" should be improved"
The help messages are confusing or wrong.

For a quick summary, please see the end of this description.

-------------
`kn help`

[code]

This is a technical description not targeted to the user (who actually probably does not care much that this is a "plugin"). Also, the header already indicates that this is a plugin.

Suggestion:

[code]
----------------

`kn faas help`

[code]

* What is "Funct

[2020-10-30 14:18] slinkydeveloper opened #193 "[bug] Wrong command description"
**Describe the bug**
When you install the faas tool as kn plugin and you invoke the help messages, it reports the wrong command message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install faas as kn plugin (I'm using warren productized build)
2. Run `kn faas create --help`

**Expected behavior**
I should see

[code]

[2020-10-30 18:20] cardil opened #197 "[bug] (Quarkus) Respect Java modern conventions in sample app better"
**Describe the bug**
A Quarkus app that is produced by `kn fass init` isn't following all conventions for Java. Being the starting example I think it should.

What's wrong in my opinion:
 * App targets Java 8, it would be better to use current LTS Java - 11
 * `pom.xml` file have `groupId` and `artifactId` set generally. Artifact ID should be diverged from the directory where we run `kn faas init`

[2020-10-30 19:20] lance commented on #187
@rhuss thanks for the great feedback. Some responses below...

I agree that this phrasing is terrible for the several reasons you state. I won't comment on other related points you made around this, but overall am in agreement.

I think this should be tackled in `kn` if possible. Ideally, this CLI should be able to stand alone so that non-OpenShift users can take advantage of it. It wouldn't make

[2020-10-30 21:42] nainaz commented on #191
I agree. we should prompt to choose the runtime and event type.

[2020-11-02 14:05] mvinkler opened #199 "[bug] Unable to "kn faas deploy" on Windows"
**Describe the bug**

`kn faas deploy` not successful on Windows:

[code]

I was logged in to docker, OCP cluster, run `kn faas build`, etc:
[code]
There is no additional information which would indicate access to which resource is denied.

[2020-11-02 14:14] matejvasek commented on #199
@mvinkler could you please run the command again with `-v` flag for more verbose output.

[2020-11-02 14:27] #191 closed

[2020-11-02 14:29] lance commented on #191
@nainaz I just closed this by defaulting to Node.js HTTP. By saying that we should prompt, are you suggesting that there be no actual defaults?

[2020-11-02 15:25] #119 closed

[2020-11-02 15:58] nainaz commented on #191
no it is fine. I like interactive CLI. probably just me. We will wait for more feedback.

[2020-11-02 20:21] lance opened #201 "Rename binary to `function`"
Based on conversation during test day, the consensus is that the binary and subsequent `kn` plugin should be renamed to `functions`. This has implications both in the name of the binary, but also in the CLI help strings as the `faas.yaml` filename.

[2020-11-03 08:34] mvinkler commented on #199
The issue was caused by incorrect login to docker hub and therefore not being able to push the image (not sure why):

`docker login https://docker.io` said Login Succeeded but apparently not to correct repo.
`docker login` worked.

[code]

The issue can be closed.

[2020-11-03 14:00] lkingland commented on #199
Thanks for the update @mvinkler.  Closing.

[2020-11-03 14:00] #199 closed

[2020-11-03 14:02] lkingland commented on #180
Agreed.  Now that the constituent steps of `create` have been exposed as individual sub-commands, having `create` is confusing.

[2020-11-03 17:04] lance opened #204 "Release builds are versioned incorrectly"
The CI action that is responsible for building releases incorrectly sets the version as `v0.0.0`.

[code]

This is happening because in the action, the build occurs before the source is tagged by the Release Please action. (It seems like we've done this dance before).  The `make cross-platform` and the Permissions step should be moved.

This
https://github.com/boson-project/faas/blob/61cb56aec3461

[2020-11-03 19:16] lance commented on #194
Reopening as this depends on https://github.com/boson-project/faas/pull/202

[2020-11-04 12:15] #192 closed

[2020-11-05 10:14] rhuss commented on #187
@lance let me fix the easy things (PR are coming) and create issues for the larger one.

[2020-11-05 11:53] lkingland commented on #201
`function` or `functions`?

[2020-11-05 11:54] zroubalik commented on #189
Discussed this with @lkingland, Implementing the spinner properly (so it is not eating the output) may take some time. So I'll proceed with printing some basic info messages, since we are under such a tight deadline.

And we will revisit the Spinner properly for all the commands as a post Dev Preview task.

[2020-11-05 12:36] zroubalik opened #207 "[feat] Implement Spinner on output of build/deploy/delete command"
Currenly commands are printing output messages directly to the stdout, we should revisit and implement Spinner, that will not eat error or verbose (image build/push...) output.

Follow up issue on: https://github.com/boson-project/faas/issues/189

[2020-11-05 12:38] zroubalik commented on #201
I suppose it should be `function`

[2020-11-05 13:18] zroubalik commented on #201
We should probaly rename env variables, such as `$FAAS_CONFIRM`,`$FAAS_IMAGE`, `$FAAS_PATH` and`$FAAS_REGISTRY`.

And what about  `quay.io/boson/faas` ?

[2020-11-05 13:19] zroubalik commented on #201
Then we should follow up with renaming this repo from `boson-project/faas` -> `/boson-project/function` and change the occurrences in code (package..) :trollface:

[2020-11-05 13:40] lance commented on #201
Also, this should include rename of `faas.yaml` to `function.yaml`.

[2020-11-05 14:59] #204 closed

[2020-11-05 15:22] #190 closed

[2020-11-05 15:22] #194 closed

[2020-11-05 15:46] #189 closed

[2020-11-06 02:10] matejvasek commented on #197
@cardil I am afraid it would make project un-buildable for people still running on java8.

[2020-11-06 08:16] cardil commented on #197
Those people can switch to java 8, but default should be current lts

[2020-11-06 08:38] rhuss opened #214 "Make examples in usage message parameterizable"
The examples that are being added require the command name, which is different whether used as standalone (`faas`) or as a plugin (`kn faas`).

Therefor the example message should be parameterized as a template on this value, which also requires to build up the command dynamically when it is known whether it is running in plugin context or not.

[2020-11-06 09:41] #201 closed

[2020-11-06 10:12] rhuss opened #215 "Group main help message to put important commands to the top"
I.e. the `version`, `help` and `completion` commands should be put into a separate section below the main commands. This can be achieved with the same technique as found for `kn` that uses advanced templating techniques from Cobra.

[2020-11-06 10:16] rhuss opened #216 "Use `kn function` in help message when run as a plugin to kn"
This requires two things:

* Set a flag when the `init()` method is called when the plugin registers itself
* Evaluate that flag when creating the root command. Unfortunately by standard Cobra mean it is not possible to set a two-level command name directly. Therefor we need to adjust the generation of the help messages, but we need to do this anyway because of #215

[2020-11-06 13:47] lance opened #219 "Docker image is based on golang:alpine but should probably be UBI8-minimial"
The Dockerfile for the runnable image is based on alpine. This should probably be changed to be based on ubi8-minimal.

[2020-11-06 15:58] lance commented on #180
Closing. Fixed in https://github.com/boson-project/faas/pull/209

[2020-11-06 15:58] #180 closed

[2020-11-06 16:07] rhuss opened #221 "Refactor flag handling to avoid duplication"
E.g. `--namespace` or `--path` can be provided for multiplied commands. To guarantee a consistent usage message we should refactor the flag setup so that all commands get the same namespace option setup etc.

Currently I just doing a C&P around the commands but this is of course quite error-prone.

[2020-11-06 16:20] rhuss opened #222 "Add all flags of `kn service apply` to `func deploy`"
As `kn service` allows many more options when creating a service, it would make sense to support those for `func create`, too.
Ideally the options could be reused from the kn code-base, so making those reusable should be a task for the knative client to implement.

As a workaround `kn service update` could be used to tweak service parameters.

[2020-11-06 16:22] rhuss opened #223 "Add a new format "url""
This would be handy to expose the URL of a function's service.

Also, consider to rename `--format` to `--output` as this would align with the `kn` options.

[2020-11-06 16:25] zroubalik commented on #222
Probalby a duplicate of: https://github.com/boson-project/faas/issues/164

[2020-11-06 16:36] rhuss commented on #223
Also `-f` is typically reserved for `--file`

[2020-11-06 16:38] rhuss commented on #223
This is for the "describe" and "list" commands.

[2020-11-06 16:39] rhuss opened #224 "Add a --all-namespaces to "func list'"
This would allow show all functions deployed on the cluster. Shortcut: -A

[2020-11-06 16:40] rhuss commented on #222
True, so let's close this. But let's keep in head to reuse the kn-code if possible.

[2020-11-06 16:40] #222 closed

[2020-11-07 10:05] rhuss opened #225 "[usability] Add a 'next steps' paragraph after "func create""
The output of "func create" is a bit terse. I think it should contain more information and especially:

* Where is the source code located. what can be adapted? This text could be template-specific.
* What would be the next steps? (--> deploy or build / run)

[2020-11-09 10:26] lkingland commented on #138
Unless anyone else feels uniquely qualified, or especially passionate, I'll take a look at this one.

[2020-11-10 04:31] navidshaikh opened #228 "Empty func list should print 'no functions found in X namespace'"
than printing column names with empty rows.

Current behavior:
[code]

Suggested behavior:
[code]

[2020-11-23 10:00] kameshsampath opened #229 "Support for Spring Cloud Functions Template"
The functions should provide template for building for https://spring.io/projects/spring-cloud-function

[2020-11-24 06:25] kameshsampath opened #230 "binary build should include `pkger`"
currently when we add new tempaltes, we need to do `pkger` from the templates directory for it to be used with `func`.  There are lot of changes to have that step missed, hence its better to have it as part of `Makefile`

CC: @lkingland

[2020-11-24 06:30] lkingland commented on #230
I don't see any reason we could not include:
[code]
as part of the build process.

I wonder:  in a perfect world, would it be a separate Make target, only triggered if Make detects changes to any files in the `./templates` directory...

[2020-11-24 13:46] lance commented on #230
I'd say that we should to that even in __this__ world! :smile:

[2020-12-03 20:50] matejvasek opened #234 "Allow envvars in the `func.yaml` config."
I think it might be useful to be able to use envvars in `func.yaml`

Sample:
[code]

[2020-12-07 11:17] zroubalik opened #236 "`run` shouldn't use image digest but should use image name reference"
There's a bug, `run` uses image digest to reference the image, but digest is being produced by `push` as a reference to an image in the external registry.

We should use name instead.

If you run these commands in sequence you can see the problem:
[code]

[2020-12-07 11:23] zroubalik opened #237 "Golang events triggered function template suggests wrong function signatures"
`create my_function -l go -t events` produces handle.go template with these function signatures in the comment:
[code]

This is wrong, as cloudevents-sdk expects the response event as the return value of the function

[2020-12-07 11:23] zroubalik commented on #237
CC @lkingland

[2020-12-08 15:19] #236 closed

[2020-12-10 11:12] #224 closed

[2020-12-10 11:36] zroubalik opened #245 "Rename repo to `func`"
Shouldn't we do the rename to `func` since we don't ship `faas` anymore?

[2020-12-10 15:27] #230 closed

[2020-12-10 21:11] #237 closed

[2020-12-10 21:17] lance commented on #245
Done.

[2020-12-10 21:17] #245 closed

[2020-12-10 21:53] lance commented on #181
Closing this as we have decided this is not the route we should take.

[2020-12-10 21:53] #181 closed

[2020-12-11 14:25] zroubalik commented on #234
@matejvasek this could be closed, right?

[2020-12-11 14:26] zroubalik opened #249 "EnvVars are not set to the KService when creating a function"
it works only on a function update

[2020-12-11 14:32] #223 closed

[2020-12-11 14:34] #228 closed

[2020-12-11 14:35] matejvasek commented on #234
@zroubalik actually no, this is not about setting evvars to ksvc, but about using in config.

[2020-12-11 14:37] matejvasek commented on #234
e.g. in java property file you can write
[code]

[2020-12-11 14:39] matejvasek commented on #234
So you can fill envvar from envvar.

[2020-12-11 14:39] matejvasek commented on #234
@zroubalik Does this make sense?

[2020-12-11 14:42] zroubalik commented on #234
@matejvasek gotcha :)

[2020-12-11 14:43] zroubalik commented on #234
Referencing a Kubernetes Secret would be nice to have to

[2020-12-11 14:44] matejvasek commented on #234
Absolutely, but it will decrease level of abstraction from k8s.

[2020-12-14 09:34] zroubalik commented on #234
Yeah, but Secrets are fundamental building blocks heavily used even by non k8s experienced users. Many times, Secrets with creds are preconfigured by admins or ops and devs are consuming them.

[2020-12-14 12:33] #249 closed

[2021-01-29 13:48] utherp0 opened #255 "Quarkus build fail results in extraneous error reporting"
When the compilation of a Quarkus function fails the returned information seems to be excessively full of [builder] tags (one for every character in the return error messages.
<img width="1387" alt="Screenshot 2021-01-29 at 09 42 37" src="https://user-images.githubusercontent.com/2233236/106282522-9d332f00-6238-11eb-856b-53ea2dbf81ef.png">

[2021-01-29 15:36] matejvasek commented on #255
Might be issue of pack dependency, https://github.com/buildpacks/pack/pull/867.

[2021-01-29 21:45] lance commented on #138
@lkingland I've been a bit out of the loop lately so just wanted to check in on this to see if any progress has been made. Thx

[2021-02-01 13:51] lkingland commented on #138
@lance Yes there's progress being made on this.  Thanks for checking in.  It's not complete, but I can fire up a PR with what's available

[2021-02-01 16:03] #255 closed

[2021-02-08 13:35] matejvasek commented on #234
Ian just ask me about such a feature like this.

[2021-02-09 19:48] lance opened #261 "Add additional labels to function deployments"
Currently, when we deploy a function as a knative Service, we add two labels `boson.dev/function=true` and `boson.dev/runtime=[runtime]`. It might be also useful to add the builder used to create the image. Since the image name and digest are already captured in the `Service` definition, I don't think that's necessary to add as a label. But would it make sense to allow for a  `labels` section in `

[2021-02-09 20:03] lance commented on #138
Hey @lkingland - I was speaking with @pmorie yesterday about some work that he's been doing for the larger picture in the serverless universe. If you can push what you've got to a branch, it would be a great help in trying to ensure that whatever we do here fits within the bigger picture. Even if you don't want to push a PR yet, it'd be great to collaborate on a branch.

[2021-02-11 14:20] lkingland commented on #138
Sure thing @lance I am working on the WIP PR now.  There's some caviats which I will mention in Slack chat.  Basically flakiness in the underlying system puts us between two bad choices when trying to automate the service creation/removal.  Your input on which bad option to choose will be appreciated.

[2021-02-15 12:05] lkingland commented on #138
Hey @lance; That PR now demonstrates firing up a KinD cluster to run tests tagged `integration` for PRs.

While regular unit tests are run with `make test` (aka `go test`), integration tests are run with `make integration-test` (aka `go test -tags integration`).

This of course requires a local connection to a cluster which is set up and configured for Functions (Knative, Kourier, and various sett

[2021-02-15 12:58] lkingland commented on #261
Seems like a good idea to me, if there is the need for it now.  Labels is also a very generic concept so our abstraction remains intact (just like our discussion around Secrets).

[2021-02-18 13:40] matejvasek commented on #234
@boson-project/core what syntax do we prefer `${env.NAME}` or `{{evn.NAME}}` or something else?

[2021-02-18 15:49] lance commented on #234
@matejvasek I don't personally have a preference. Whatever is easiest to code a parser for I guess. :smile:

[2021-02-18 20:20] lance opened #264 "RFE: Add the ability to set min/max concurrency when deploying"

[2021-02-26 15:04] matejvasek commented on #177
@pmorie I made usage of `podman` (not `buildah`) possible using `DOCKER_HOST` envvar. Can I close this issues?

[2021-03-01 10:15] zroubalik commented on #261
Agree, good idea.

[2021-03-01 10:18] zroubalik commented on #264
Request for the general support for kn flags is tracked here: https://github.com/boson-project/func/issues/164

[2021-03-01 13:46] lance opened #268 "Consider adding func to homebrew so it can be easily installed standalone"

[2021-03-01 14:24] zroubalik commented on #268
Is this going to be standalone `func` command or added `func` plugin to the upstream `kn` published by Homebrew?

[2021-03-01 16:39] lance commented on #268
@zroubalik I think that `kn` is already available via homebrew - obviously without `func`. :smile: We could try and add it as a plugin for that distribution. I'm not sure if the upstream `kn` includes plugins for the homebrew distribution, maybe @rhuss would know. In any case, I was really talking about `brew install func`.

[2021-03-01 16:55] lance opened #269 "Create Python templates"
See also https://github.com/boson-project/buildpacks/pull/60

[2021-03-01 22:08] lance opened #270 "Changing the state of a deployed function with kn CLI causes subsequent deployments to fail"
Using the kn service update command to change the state of an environment variable after deploying the function causes 'func deploy' to subsequently fail after later code changes.

Deploying function to the cluster results in the following error:

[code]

According to @markusthommes the error is caused by generating a new revision name in the client during kn service update.

Related: https://gith

[2021-03-02 03:05] matejvasek commented on #188
This depends on https://github.com/boson-project/func/issues/179

[2021-03-02 03:30] matejvasek commented on #270
I see @rhuss resolved this for `kn`. Shouldn't just updating our `kn` dependency help?

[2021-03-02 03:32] matejvasek commented on #270
I stumbled on BYO revison once too https://knative.slack.com/archives/C9JP909F0/p1600876741003800

[2021-03-02 03:51] matejvasek commented on #270
Now I see you have trouble with `kn` not `func`. Why is this here.

[2021-03-02 03:52] matejvasek commented on #270
Back then we also used client-side generated revision, but it has been removed d5839ea6c1e84e843ad643cc0611a82e2e6d2399.

[2021-03-02 10:58] lance commented on #270
The issue as I understand it is that if a function is updated via `kn` then later updated with `kn func deploy` the latter fails.

[2021-03-02 15:02] zroubalik commented on #270
What if we try to patch the Service instead of update?

[2021-03-03 10:19] rhuss commented on #270
The issue is that kn by default uses BYO revision naming until kn 0.21. This means, that for every update that you do via the API you have to also change the revision name in the template (kn does this automatically when in this mode and using `kn service update`.

I suggest that you explicitly choose server-side revision naming when creating the service. When you could point me to the spot where

[2021-03-03 10:22] rhuss commented on #270
Patching will lead to the same error. There are tons of issue with this default behaviour, therefor we changed the default in 0.21 (which will probably translate to OSS 1.15). It was only introduced by Naomi for some corner cases AFAIR, where the client needs to know the revision name in advance. This corner case is so obscure though, I don't even remember it 😬 . BYO revision has tons of issue, so

[2021-03-03 10:32] rhuss commented on #268
We are thinking to introduce a repository for installing plugins via https://github.com/knative/client/issues/397#issuecomment-788998071

The point is that if you install func standalone it needs to be called `func`, but for kn as plugin it has to be `kn-func`. But maybe the Brew formula syntax is rich enough to support creating symlinks ?

[2021-03-03 10:37] utherp0 commented on #270
Use case for this is functions that use ENV - I inject config information into the function using an ENV that is defined in the func.yaml; post installation I then update the ENV using 'kn update' and then subsequently I need to *delete* the function before redeploying it (for a code change); this will be a problem for devs....

[2021-03-03 10:42] zroubalik commented on #270
@rhuss https://github.com/boson-project/func/blob/38fd673fdbef1094558b32910a42fcdff2d8bb0c/knative/deployer.go#L122

[2021-03-04 07:33] rhuss commented on #270
ok, so the generation of the service does not set the revision name, so it must be the update. let me check that, too ...

[2021-03-04 07:41] rhuss commented on #270
@zroubalik could you try to set `service.Spec.Template.Name` to an empty string in https://github.com/boson-project/func/blob/38fd673fdbef1094558b32910a42fcdff2d8bb0c/knative/deployer.go#L160 ?

If you update a service and when you are using server-side generated names you always need to remove the name so that the server can fill it in with its generated name. Otherwise it will think that you wan

[2021-03-04 09:43] lkingland opened #272 "Support deploying without implicitly building"
Currently, the deploy step (both CLI and client library) implicitly build.

This default behavior should be updated such that the client library _either_ builds or deploys, depending on the `Client` method invoked, and the `func` CLI's `deploy` subcommand updated to invoke Build by default, which can be disabled via flag.

Errors will be expected when attempting to deploy an unbuilt Function.  Thi

[2021-03-04 11:56] zroubalik commented on #270
@rhuss I'll give it a try

[2021-03-04 15:16] zroubalik commented on #270
The suggested fix is working for me, thanks @rhuss !

[2021-03-08 08:31] #270 closed

[2021-03-08 08:32] lkingland opened #275 "upgrade to go:embed for templates"
With the release of Go 1.16, the ability to embed static files is now included as the `go:embed` directive.  This should be used in leau of the current `pkger` third-party dependency, as this will both greatly improve the intuitiveness with which updates to templates will be included, as well as simplify our overall build and release tooling.

[2021-03-08 16:16] lkingland commented on #275
One side-effect of this update will be the loss of custom file modes on *nix-y systems.
https://golang.org/src/embed/embed.go?s=5559:6576#L235
As a side-effect of the decision that the embedded filesystem be an expressly read-only FS, the Mode permisions are hard-coded.
This means embedding things like setup scripts in templates will require manual intervention to change permisson to executable.

[2021-03-08 21:33] lance commented on #275
Bummer

[2021-03-08 21:35] matejvasek commented on #275
What if we embed tar files, they should preserve *nix rights?

[2021-03-09 01:29] lkingland commented on #275
Thats a good idea. IIRC the tar archive implements the fs.FS interface, so we should be able to use it directly. I'll refactor and give that a shot.

[2021-03-09 19:18] lance opened #276 "Function name should match service name"
At the moment, the function name almost always matches the service name. However, if the function name has a dash in it, the service name gets a double dash. E.g. a function named `game-score` becomes a service named `game--score`, which is not ideal.

[2021-03-09 19:58] lance opened #277 "Binaries created in CI do not have the proper version"
The [latest release](https://github.com/boson-project/func/releases/tag/v0.11.0) still says `v0.0.0`.

[code]

I think this may be resolved when run as a `kn` plugin, because `SetMeta` is being called with explicit values here.

https://github.com/boson-project/func/blob/8143ea1056626b238c40010fb0ede3bdc5fb5065/plugin/plugin.go#L28

But, when running in CI, it's expecting a git tag on the current

[2021-03-10 07:16] rhuss commented on #276
I remember a long discussion with @lkingland about what is more important: The external URL or that the KService and the Function share the same identity (aka name). (unfortunately, I lost the link to this discussion along with the reasoning that it contained)

My POV is still that you can't treat the KService as an implementation detail that is completely hidden by the user if we are leveraging f

[2021-03-10 09:49] lkingland commented on #276
As a developer, I would like to "create www.example.org" and "create www.example.com" using Functions, and serve them both from the same cluster.  They should also be SSL secured via the configured cluster issuer.   Here is a demo of this workflow working (no vaporware):  https://lukekingland.com/vid/standard-handler.mp4
We have backed off this workflow a bit since then.  I am interested to know i

[2021-03-10 10:46] #138 closed

[2021-03-10 11:09] lkingland commented on #277
Since I am in there poking about in our CI tasks, I can take a look here.  My guess is a loose wire somewhere; this should work fine so long as we're building via the Makefile target.

[2021-03-24 13:41] utherp0 opened #285 "Redeploying Functions leaves many old revisions in the namespace"
I'm doing some development on functions that require me to rebuild and redeploy a lot; every time I redeploy my function the namespace retains the services (one normal, one 'private') for previous versions; currently I have three active functions and 83 service objects

Check out the creation date shown below:

oc get services | grep attack
attack                              ExternalName   <none>

[2021-03-24 19:01] lance commented on #285
@utherp0 I believe this is simply how Knative works. You will also see a `Deployment` for each revision as well. You can see this by using the `kn` CLI.

[code]

[2021-03-24 19:13] lance commented on #285
If you don't have the `kn` CLI and just want to list your current Knative revisions, you can do this with `kubectl get ksvc`.

[code]

[2021-03-25 08:39] utherp0 commented on #285
Aye, but these are the SDN services not the ksvc; I have a single ksvc service (attack) which I have redeployed around 30 times. I'm just slightly confused that the system is retaining so *many* of the old services. The knative stuff creates revisions for every change you make to a service (ksvc) but functions don't; even though they are expressed as knative services the original images and config

[2021-03-26 12:54] zroubalik commented on #285
I don't think I follow this, function is deployed as ksvc, there shouldn't be any difference in the behavior. Could you please give us more details on this?

[2021-03-26 13:06] utherp0 commented on #285
It might just be me misunderstanding; with 'normal' knative services the UI renders the revisions. With functions you get a single revision active at once which is fine, I'm only interested in that one, but it appears it retains the last twenty deployments as revisions (without rendering them as such in the UI). Hence the existence of the 2x kubernetes services per revision.

To check this I did a

[2021-03-26 13:28] zroubalik commented on #285
With both ksvc and functions you have only one active revision, but you can select older revisions or set traffic distribution across them in the UI. There is no real difference, here you can see deployed function with 2 revisions:
![Snímek obrazovky 2021-03-26 v 14 26 14](https://user-images.githubusercontent.com/726523/112638178-42d0dc00-8e3f-11eb-82cb-c90ee84ed50c.png)

You are not forced to u

[2021-03-26 13:39] utherp0 commented on #285
Is there an easy way to throttle the number of revisions created? Would be nice if I could define as part of the function that I didn't want revisions created, or if so that it only 'remembered' x of them - seeing 83 services running in my namespace gave me a heart attack :-)

[2021-03-29 14:21] lance commented on #285
I'm not sure, but if so it would be via the `kn` CLI (probably). @rhuss ?

To be clear, only one revision is actually "running" at any given time, unless you have manually done some traffic shaping/distribution. All of the earlier revisions are just instances of a `Revision` resource, but they are not actively running anything and should not consume a lot of resources.

[2021-03-29 14:41] zroubalik commented on #285
IIRC there's global property for specifying the number of stale revisions and other similar options (for how long should Knative keep the Revisions etc). Not sure if this is applicable on single KServices or Namespaces?

[2021-03-29 14:49] zroubalik commented on #285
The global property I was referring to is in ConfigMap in knative-serving namespace, probably `config-gc` or something like that.

[2021-03-30 10:07] #179 closed

[2021-03-30 10:30] matejvasek commented on #188
@cardil I've chosen path of using `podman` as a `docker` deamon: `podman system service`.
User can do:
[code]

[2021-03-30 13:58] cardil commented on #188
But, that's not how Podman is supposed to work. Podman was done to get rid of a daemon. `kn func` should support podman as it is, not by calling an unsecured public port. If you publish that service to `tcp:0.0.0.0:1234` anyone could connect to your machine and do anything you can do on it - that's quite a **BIG** vulnerability. `kn func` shouldn't require opening such vulnerability to operate on

[2021-03-30 14:52] matejvasek commented on #188
@cardil

That was bad example from me, you don't have to run `tcp:0.0.0.0:1234` it would work with `tcp:127.0.0.1:1234` too.

Also the Unix socket works, but you need to setup proper policy (or disable labeling for containers) when using SELinux.
We are looking into it; see https://github.com/containers/podman/discussions/9860.

Golang libpod binding library is not deamon less. It's just a REST cl

[2021-03-30 14:53] matejvasek commented on #188
We are using buildpack's `pack` to build function; it uses Docker APIv2. Reimplementing `pack` would be a lot of work.

[2021-03-30 14:55] matejvasek commented on #188
Also this approach made `pack` CLI usable with podman which is beneficial also people outside boson's `func`.

[2021-03-30 15:12] cardil commented on #188
`tcp:127.0.0.1:1234` is as vulnerable on server environments as `tcp:0.0.0.0:1234`. Even on more standard single user machine `tcp:127.0.0.1:1234` opens up a way for malicious code to attack a user.

[2021-03-30 15:18] matejvasek commented on #188
@cardil then Unix socket it is. We just have to prepare SELinux policies or disable labeling of build containers.

[2021-03-30 15:46] matejvasek commented on #188
@cardil to explain a little the issue with SELinux:
The `pack` runs build in a container, the container needs a way to push resulting image to local repository. That's why it mount's the socket. By default it's forbidden since mounting socket is potential security risk (especially if daemon runs as the root).

There is one more way around mounting: not to push to local repository, but push to remo

[2021-04-07 19:00] lance commented on #277
Assuming [this works](https://github.com/boson-project/func/pull/290) in our next release, this can be closed. Will reopen if needed.

[2021-04-07 19:00] #277 closed

[2021-04-07 19:01] lance commented on #269
Fixed in https://github.com/boson-project/func/pull/286

[2021-04-07 19:01] #269 closed

[2021-04-12 17:55] lance opened #296 "Add spinner/progress bar to 'build' and 'deploy'"
Running `kn func build` can take a while, and there is no user feedback to let them know that things are progressing. A "progress bar" was originally requested. However, unless there is some callback/event mechanism in the `pack` API that would allow us to determine progress, this will probably just need to be a spinner of some kind.

[2021-04-12 19:27] matejvasek commented on #296
IIRC there used to be spinner in older versions, am I right @lkingland

[2021-04-12 19:28] nainaz commented on #296
There was a spinner.
"Progress bar" --> way to inform that it is woking.
Open to all suggestions on how it could be shown.

[2021-04-13 10:20] lkingland commented on #296
Yes, there was a spinner with a progress indicator (not a visualized bar) with major steps "2/4 Building" etc.  which showed both activity and progress at a coarse level.

This is however limited to the major steps exposed by our API, and treats the build step as a single (very large) step.  As Lance says, unless Pack has a progress registration callback mechanism we may have to settle on a spinne

[2021-04-14 19:19] rhuss commented on #285
Actually everytime you change the image (which happens for every function build) a new revision is created, that's the way how Knative works. There are some global configurations parameters that can be used to limited the overall amount of revisions (those are stored in the a global configmap, see https://github.com/knative/serving/issues/8208 for the possible knobs. There is also a [responsive re

[2021-04-15 06:39] markusthoemmes commented on #285
It'd be nice to qualify whether or not the services are an actual problem here. The assumption is that those are fairly cheap at steady state and shouldn't impact your performance too much.

However, as others have pointed out, there **is** the possibility to make the garbage collector more aggressive. https://github.com/knative/serving/blob/main/config/core/configmaps/gc.yaml is the configmap in

[2021-04-15 07:20] rhuss commented on #285
Actually I wonder whether having a service-individual setting would make sense, too? For use case where you create tons of revisions (like a fsnotify based watched regeneration of images, or during the interactive development phased for a specific service) you probably look for a much more aggressive GC than for services that you rollout as application. I expect both types of services can occur on

[2021-04-15 07:25] markusthoemmes commented on #285
The other possible angle is to have a more aggressive cleanup for inactive revisions by default. I.e. remove the services and deployments once no route points at a specific revisions anymore. Let's create a discussion for this in Knative Serving.

[2021-04-15 07:29] rhuss commented on #285
I'm also going to open a docs issue as i feel the garbage collector with all variant deserve a dedicated documentation outside the source code. Just not sure, _where_ to open the issue, so started this meta-discussion at https://knative.slack.com/archives/C01JBD1LSF3/p1618471556150700

[2021-04-15 08:54] zroubalik commented on #285
+1

And/or allowing the GC parameters on a Namespace, would be benefitial as well. This would allow the admins to set this properties individually a teams or projects.

[2021-04-19 14:17] lance opened #305 "Update tutorial so that url references /latest/ instead of a specific version"
From Burr

[2021-04-19 14:27] lance opened #306 "Template READMEs needs more info"
* Cover build AND deploy
* For Quarkus it should cover both JVM and native
* All event templates should expect identical CloudEvent input and return identical data
* All HTTP templates should expect identical POST data and return identical data
* Python templates don't have a README at all

[2021-04-19 14:29] lance opened #307 "Allow for annotations in func.yaml"
From Burr:

[code]

Related: https://github.com/boson-project/func/issues/261

[2021-04-19 14:32] lance commented on #188
@matejvasek I think this issue has been resolved, correct? Can it be closed now?

[2021-04-19 14:34] lance commented on #272
Fixed in https://github.com/boson-project/func/pull/279

[2021-04-19 14:34] #272 closed

[2021-04-19 14:37] matejvasek commented on #188
as of `podman` 3+ is should work.

[2021-04-19 14:46] zroubalik commented on #307
Related: https://github.com/boson-project/func/issues/164

[2021-04-20 20:46] lance opened #308 "A non-default builder in func.yaml is overwritten by 'kn func build'"
If I run `kn func build -b native` on a quarkus function, the build actually uses the native builder image, and updates `func.yaml` to reflect this. But if I subsequently run `kn func build` without the `-b native` flag, the customized value for `builder` is overwritten with the default builder image, and the default builder image is used.

Steps to reproduce this:

[code]

[2021-04-21 14:23] matejvasek commented on #308
@lance I'll look at this.

[2021-04-21 21:49] lance opened #310 "Add a reference document for func.yaml"
See: https://github.com/boson-project/func/pull/267

[2021-04-21 21:51] lance commented on #196
@markusthoemmes I think this should be covered by our On Cluster Builds FT - potentially by TP.

[2021-04-21 21:54] lance commented on #187
@rhuss I believe most if not all of your concerns here have been addressed in one way or another. The top level help for `kn func` now looks like this.

[code]

Can this issue be closed, and if we need to iterate further on the UX, create targeted, smaller issues?

[2021-04-22 09:56] rhuss commented on #276
+1 for option 2, I think it's fair to apply this restriction on naming which still allows enough choice for the naming.

[2021-04-22 10:32] lance commented on #276
I think opinionated is often the right approach. I'm +1 for #2.

[2021-04-22 13:44] #308 closed

[2021-04-22 22:19] lance commented on #307
I started implementing this today and it was quite simple. Adding annotations like `foo: bar` is trivial - whether when creating a new function or updating an existing one. However, `autoscaling.knative.dev/*` produces this:

[code]

So for these kinds of annotations, we should approach it as `kn` does, with explicit flags or configuration values.

[code]
So, in `func`, to set the `autoscaling.kna

[2021-04-23 05:47] lkingland commented on #276
If we make this change, we will be unable to run the following commands:
`create myapp.boson-project.org`
`create myapp.boson-project.com`
This use-case was fully working before (see [the demo](https://lukekingland.com/vid/standard-handler.mp4) above), and I feel like it is an important pattern.  If we are going to go ahead and agree that it is not a valuable use-case, that's fine, but how will we

[2021-04-23 07:23] rhuss commented on #276
Wouldn't it be good enough to create an opinionated URL and show that at the end, but allow the user to overwrite the URL if needed ? So I don't think that the second suggestion with the `--route` option is bad at all (and gives the user 2 degrees of freedom (service name not coupled to final URL, but having good default).

The difference is that the route URL will be auto-generated by default ins

[2021-04-23 07:56] zroubalik commented on #276
Agree with Roland on this.

And I as well think, that an option like `--route` is a great one. As an extra it gives user ability to update the route without changing the function name (as it would have to happen if we go with the function name == route).

[2021-04-23 08:01] rhuss commented on #307
Yes, auotscaling parameters can be set/updated with `kn`:

[code]

[2021-04-23 08:52] zroubalik commented on #307
My original idea was to allow setting arbitrary `kn` parameters (that are relevant to `KService`) in `func.yaml`, eg:
[code]
Tthese flags (not just autoscaling) would be then used when creating/updating a KService via kn client API.  If we do it right, we can support all flags that `kn` provides and will provide in future. @rhuss is there a way in kn client API to set this kind of flags?

Doing th

[2021-04-23 09:28] rhuss commented on #307
These flags translate to either fields in the KService spec or to annotations and are populated before the call to the API affair. So there is probably no direct support for those and also no generic way yet how to map CLI option to updating a KService CR (however, this would be probably a good idea to make this more generic)

[2021-04-23 13:13] lance commented on #307
@rhuss I was specifically wondering about `autoscaling.knative.dev/target` which does not seem to be something I can change with `kn`. Am I missing it somewhere?

[2021-04-23 14:06] lance opened #315 "Change func.yaml 'envVars' field to 'env'"

[2021-04-23 20:51] #305 closed

[2021-04-26 07:07] rhuss commented on #307
This annotation is set/updated with `--concurrency-target`

[2021-04-26 08:13] #276 closed

[2021-04-26 11:01] skonto opened #321 "Pushing a func image should show a progress bar"
I tried pushing a func over a slow (it seems) network and things get stuck. I can't distinguish between something is slow and something is making no progress. Clients like `docker` etc during pushing show a progress bar. It would be very helpful to have something similar when calling `kn func`.

[2021-04-27 13:38] lance commented on #321
Closing as a duplicate. See: https://github.com/boson-project/func/issues/296

[2021-04-27 13:38] #321 closed

[2021-04-28 17:59] #307 closed

[2021-04-29 19:40] jrangelramos opened #323 "`func delete` does not undeploy the function/knative service when using the function name as argument"
delete command help states you can delete a function by just passing the name as argument.
[code]
but it does not delete when you are outside of the function project directory

[code]

[2021-04-30 19:18] lance commented on #315
Fixed in https://github.com/boson-project/func/pull/316

[2021-04-30 19:18] #315 closed

[2021-04-30 19:19] lance commented on #310
Fixed in https://github.com/boson-project/func/pull/312

[2021-04-30 19:19] #310 closed

[2021-05-01 15:52] lkingland commented on #323
Thanks for pointing this out @jrangelramos .  This was working at one time, but it appears to have been lost during a large refactor.

[2021-05-03 18:25] #296 closed

[2021-05-05 16:06] lance opened #328 "Add log level configuration documentation for Node.js templates"
Node.js functions can set their log level to one of 'fatal', 'error', 'warn', 'info', 'debug', 'trace' or 'silent'. By setting the environment variable `FUNCTION_LOG_LEVEL` in func.yaml. Right now the default is 'info' which is maybe a bit too chatty.

[2021-05-05 18:35] jrangelramos opened #330 "Consider having probe endpoints for Quarkus functions similar to functions deployed in other runtimes (Go, Python, node)"
Functions created and deployed using Quarkus runtimes does not contains similar Readiness and Liveness probe URL as other functions created in Node, Python and Go.

Go, Python, Node probe endpoints
[code]

Quarkus
[code]

Consider having similar probe endpoints to unify experience across languages

[2021-05-06 16:07] lance commented on #285
Tracking the documentation request for tuning here: https://github.com/knative/docs/issues/3461

[2021-05-06 16:16] lance opened #331 "Provide a new emit command to send events"
For local development, it would be nice if I could send simulated events to my function. I should be able to specify the source, type and optionally the data. I should be able to send the event to the deployed URL for my function, or to localhost. I propose the following interface.

[code]
All flags are optional.

[2021-05-07 05:31] #275 closed

[2021-05-07 16:33] kskels opened #333 "[bug] Registry input using repo/org/name renders faulty image reference"
After creating project with `kn func create -l go -t http` the initial `func.yaml` contains empty image value.

When executing `build`, the name will be requested which fails when full path to the image is used. The yaml will simply contain `:latest` which fails the build.

[code]

[2021-05-10 13:19] #219 closed

[2021-05-10 14:08] jcrossley3 opened #335 "Improve the getting started docs"
I don't think the getting started tutorial goes far enough. Ideally, there'd be a clear, concise description of how to trigger the function from a VERY SIMPLE event source.

The user shouldn't be required to spend any brain cycles understanding the domain of some pre-existing, sophisticated example, e.g. an image processing pipeline is cool, but i don't care about processing images. Essentially, I

[2021-05-10 20:45] zroubalik opened #336 "Add YAML schema for func.yaml"
We should create a schem for `func.yaml`, this could help with the validation and easier editing of the file in IDEs (values suggestion).

https://developers.redhat.com/blog/2020/11/25/how-to-configure-yaml-schema-to-make-editing-files-easier/

[2021-05-11 14:31] lance commented on #335
@jcrossley3 if you would like to contribute thoughts or review existing work that is attempting to address this issue, please do! https://github.com/boson-project/func/pull/332

[2021-05-11 14:53] lance opened #337 "Change 'func describe' command name"
The `describe` command conflicts (not technically, but sematically) with `kubectl describe`. We should consider changing this command to `status` or `info`.

[2021-05-12 11:29] jrangelramos opened #338 "e2e Testing"
It would be great to have e2e testing that simulates user experience with func cli (e.g func create, func deploy, func list, etc.)
E2E would include (but not limited to) scenarios as deploy and redeploy functions in all run-times for either ttp and event triggered functions.

[2021-05-14 07:18] lkingland opened #347 "missing defaults for extensible templates location"
Either I forgot to put in the logic, or it was inadvertently refactored away:  the `--templates` flag should have logic which first searches for templates using the logic indicated by its comment:
[code]
Note that the funtionality of actually _respecting_ this setting is already in place and tested, we just need the defaulting.

[2021-05-17 03:49] lkingland opened #349 "replace pkger with builtin go:embed"
The pkger dependency, while a good stop-gap, needs to be replaced with a tarfile generated on `go generate` and embedded as a `fs.FS` using the `go:embed` introduced in go 1.16.

UPDATE:  This work is complete, along with several other updates necessary for the transition (see associated PR).  Unfortunately our productization pipeline currently supports Go1.15 max.  This issue's resolution is ther

[2021-05-17 05:38] lkingland commented on #338
Thank you for the suggestion Jrangleramos, but I do want to issue a few words of caution, and perhaps steer your contributions towards improving unit and integration tests, because it is my experience that E2E tests have a low value per unit of work invested, and end up often having unintended negative side-effects down the road!

E2E tests tend to be a catch-all for testing systems which do not h

[2021-05-17 14:54] mgencur commented on #338
Hi @lkingland , I'll try to provide more detailed answer later and also provide some more use cases where E2E will help but here's a few that I can think of right now:
* The E2E are the top of the [test pyramid](https://martinfowler.com/articles/practical-test-pyramid.html#End-to-endTests), a small set of tests that execute the complete path through the program execution. There should be many more

[2021-05-18 00:08] lkingland commented on #338
Thanks for your comments @mgencur, and thank you again for the contributions @jrangelramos.
I agree with you!  I fear that the larger, implicit goal of my comments above may have been overshadowed by my long-winded justifcation for keeping E2E tests small.

The primary purpose of my comments here is to **lay some justification for why I had so many suggested changes in the associated PR**.  I want

[2021-05-19 12:58] jrangelramos opened #352 "[usability] Spinner for build and deploy commands does not look correct on Windows"
Sample output:

[code]

[2021-05-19 13:44] jrangelramos opened #353 "[usability] list plain and list human are exactly the same"
This is more like a suggestion (cosmetics).
The output for `list` command using `human` or `plain` are exactly the same.

[code]

This does not happens with describe command. So, as suggetions, it could be different when using plain or maybe just remove the plain output.

[2021-05-19 17:26] jrangelramos opened #354 "func deploy command fails to push image to registry on Windows machines"
`deploy` command fails to push the image to the registry. I notice a strage behavior while trying different options. When you run `func deploy` without verbose mode it displays the message indicating gives you the impression it is pushing like this:
[code]
but it keep stuck forever, until you hit enter and get the following:
[code]

When running in verbose mode it requires user, but it fails immed

[2021-05-21 15:00] evanshortiss opened #357 "func.yaml and environment variable security"
I'm opening this issue for discussion of best practices surrounding environment variables defined in the `func.yaml`.

I didn't think much about this initially, but noticed that my func.yaml is included in the built container image. This isn't a big deal *unless* you're defining things like API Keys and SASL username/password in the environment. I was defining a username/password in the func.yaml

[2021-05-21 15:02] lance commented on #357
I think we should just not include func.yaml in the image. It should be easy to filter it out in the buildpack

[2021-05-21 15:30] lance commented on #352
The Unicode clock looks OK - it's just the terminal control characters that are not happy.

[2021-05-21 15:37] jrangelramos commented on #352
Well.. actually it does not display. It shows like a symbol. It appeared here on copy and paste.

[2021-05-26 13:41] zroubalik opened #362 "Allow function developers to access Kubernetes Secrets"
Function developers should be able to specify secrets that needs to be mounted or added as ENV variable to the deployed function.
They can do that via editing `func.yaml` file or via `func secret` command, which should interactively suggest secrets available in the namespace on the cluster and then allow users to attach them to the function.

**func.yaml example:**
[code]

[2021-05-27 08:55] zroubalik opened #364 "Spinner on build eats output if user is asked to provide registry credentials"
If I deploy a function, but I am not logged in registry -> the function is being built and user is asked for credentials.
But the spinner eats the output, ie `Username:` and `Password:` lines. The result looks like this:

This is happenning on Mac OS

[code]

[2021-06-04 07:48] embano1 commented on #362
Thank you for the details @zroubalik. Two questions:

1) Can you provide an example with namespaces?
1) It looks like Example 3 above is incorrect (multiple value fields, incl. inconsistent use of array/non-array semantics)?

[2021-06-04 08:16] zroubalik commented on #362
Do you mean referencing a Secret from a different namespace? That's not possible currently and honestly I don't think this is a good practice wrt security.

No it is correct, but those are 2 separate examples:
This sets `key1` from the secret as a env value `EXAMPLE3`:
[code]

This sets all key=value pairs from the secret as env variables:
[code]

[2021-06-04 09:23] embano1 commented on #362
Ah sorry for the confusion here as I read the initial comment that this should be possible. I just reread and noticed my wrong assumption. I also agree that secrets should be assumed to live in the same namespace. All good then.

Gotcha! Got tripped off by the missing `name` property, which of course is not missing in the examples. 👍

[2021-06-04 11:02] zroubalik commented on #331
Done in https://github.com/boson-project/func/pull/332

[2021-06-04 11:02] #331 closed

[2021-06-08 12:55] matejvasek opened #377 "Support aarch64 macOS"
As far as I know we are not building binaries nor buildpack images for aarch64 macOS. Do we want it?

[2021-06-08 12:55] matejvasek commented on #377
@boson-project/core wdyt?

[2021-06-08 14:03] zroubalik commented on #377
I don't think that it is something that we need right now, but in a long term it is good to support this architecture. Btw `kn` doesn't provide this arch yet, so I guess the process should start there.

[2021-06-08 20:27] lance commented on #377
Agree that it's something to anticipate, but not to do just yet.

[2021-06-10 13:43] zroubalik opened #383 "users should be able to specify resource limits/requests on the deployed function"

[2021-06-15 07:26] #264 closed

[2021-06-15 13:20] jcrossley3 opened #387 "Need a programmatic way to get deployed function's URL"
Knowing that a deployed function is actually a knative service, I can get its deployed URL using either `kn` or `kubectl`, but I'd prefer to use the same tool I deployed it with: `func`.

I'd like to be able to do something along these lines:

[code]
I got the `url` output format idea from `kn service describe ...`

[2021-06-15 14:49] lance opened #388 "The emit command should provide feedback/response from the endpoint"
Currently, the only way to determine if the function received the emitted event is to watch the deployment logs. The CLI should provide feedback to the user as the response data from the function.

[2021-06-15 19:23] cardil commented on #188
I got podman 3.1.2, and  it still has some problems:

[code]

[2021-06-15 19:27] cardil commented on #188
@matejvasek As Dan [pointed out](https://github.com/containers/podman/discussions/9860#discussioncomment-545142), adding `--security-opt label=disabled` should help this, right?

But, that needs to be added via REST, not as a CLI option. Am I right?

[2021-06-15 19:47] cardil commented on #188
Podman extends the Docker API a bit. So, I think it might be possible to detect if given endpoint is podman 3+ and use this API to add that security-opt to analyzer container: https://docs.podman.io/en/latest/_static/api.html#operation/ContainerCreateLibpod

[2021-06-15 20:01] cardil commented on #188
Although, the code below uses build pack client:

https://github.com/boson-project/func/blob/a937c490b7e1ad31c3596f91c310c3f4560329fd/buildpacks/builder.go#L65-L91

That means a proper handling of this `label=disabled` security opt should land on https://github.com/buildpacks/pack project first...

[2021-06-15 20:07] cardil commented on #188
Lol. I've just dig out your commit there, that added the `DockerHost` opt: https://github.com/buildpacks/pack/commit/be9b1b9c6f7d8cffff18b3dd9a9c7b7e9caa173f

So, my proposal. Extend https://github.com/buildpacks/pack once more, so that it will properly handle the podman socket, by adding `label=disabled` security opt to containers that mount the docker socket. I'll create such issue in https://gi

[2021-06-16 01:02] matejvasek commented on #188
Yeah if I recall correctly it does help.

[2021-06-16 01:07] matejvasek commented on #188
`--security-opt` is valid `docker` flag (it's not `podman` specific) maybe we could add the flag for `pack`.
Another solution/workaround would be use `containers.conf` where you can disable labeling for all `podman` containers.

[2021-06-16 01:17] matejvasek commented on #188
since it's standard docker flag I think there is a change of getting it into `pack`; if it were just `podman` specific I think maintainers might not like it

[2021-06-16 01:39] matejvasek commented on #188
@cardil but you will probably encounter the error also with `moby` not just `podman`.

[2021-06-16 01:45] matejvasek commented on #188
https://github.com/buildpacks/pack/issues/1208

[2021-06-16 01:51] matejvasek commented on #188
@cardil  What be could do now (before the functionality will be added to the `pack`):

[code]

It's possible to set custom docker client for the `pack` client.
We could create custom wrapper for standard docker client, the wrapper would just inject the flag sec-opts flag for `ContainerCreate()` function.

[2021-06-16 06:34] cardil commented on #188
That would be awesome if it works ☺️

[2021-06-17 16:05] cardil commented on #188
Shouldn't this be closed because #390 is merged?

[2021-06-18 07:50] #387 closed

[2021-06-18 14:50] jrangelramos opened #398 "`func build / deploy` is unable to deploy using registry/image name with nested folders"
Func does not allow image names with nested folders, for example: `myregistry.io/myorg/myuser/myfunctions/mysamplefunc:latest`

example on func.yaml
[code]

on deploy
[code]

[2021-06-18 14:52] jrangelramos commented on #398
Same happens with `func build -r myregistry.io/myorg/myuser/myfunctions`
[code]

[2021-06-21 06:38] #383 closed

[2021-06-23 13:32] lkingland commented on #83
See #381

[2021-06-23 13:32] #83 closed

[2021-06-24 12:53] jrangelramos opened #411 "Unable to build with podman"
func is not able to build using podman. I'm seeing the below issue (for all runtime available)

[code]

[2021-07-01 14:32] lance opened #414 "Support user specified entrypoints"
When a function is deployed to the cluster, the primary entry point is that specified in the buildpack's toml file. For example the following will cause `npm start` to be the container `entrypoint`:

[code]

It is possible, however, to support multiple entrypoints both in the buildpack's toml file as well as in a `Service` deployment. This would be beneficial for supporting a `debug`  deployment.

[2021-07-01 14:39] lance commented on #414
https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes

[2021-07-05 13:26] rhuss commented on #377
+1 for supporting the new Apple Silicon machines, but as darwin-amd64 still works for macOs regardless of architecture, I also think this does not need to be of high priority.

[2021-07-07 10:48] #164 closed

[2021-07-11 12:38] Shashankft9 opened #417 "Broken link in golang guide"
`check out the reference doc` here https://github.com/boson-project/func/blob/main/docs/guides/golang.md#golang-function-developers-guide leads to a 404.

broken link: https://github.com/boson-project/func/blob/main/docs/guides/config-reference.doc

[2021-07-12 13:02] #417 closed

[2021-07-13 10:57] matejvasek commented on #411
@jrangelramos this https://github.com/containers/podman/pull/10905 should fix the issue

[2021-07-15 09:13] utherp0 opened #426 "Quarkus builds with external non-Maven JARs"
I am building some functions that use some libraries I have built - these are in separate projects and produce a JAR file I want to include as part of the build.

Normally I install the JAR into my local .m2 and then add it as a dependency; with the buildpack approach I can't so this. For Summit we got around it by adding the JARs into the code repo for the build (i.e. in a /lib dir) and explicitl

[2021-07-15 12:14] julz opened #427 "Contributor's guide link in README is a 404"
I would have just fixed this, but I can't actually find a contributor's guide or DEVELOPMENT.md to update it to :). We should add one.

[2021-07-16 19:36] lance commented on #362
@zroubalik this can be closed now that #396 has landed, correct?

[2021-07-16 19:37] lance commented on #357
Closing: fixed in https://github.com/boson-project/buildpacks/pull/105

[2021-07-16 19:37] #357 closed

[2021-07-16 19:40] lance commented on #338
@lkingland @jrangelramos @mgencur can this be closed now? We have e2e tests in place even if they are still a bit flakey.

[2021-07-16 19:42] lance commented on #347
@lkingland this can be closed now that #415 has landed, correct?

[2021-07-17 01:13] lkingland commented on #347
Yes this can, thanks Lance

[2021-07-17 01:14] lkingland commented on #338
Yes, thanks!  E2E testing is now sufficient to close this, and is much less flaky now that 419 landed.

[2021-07-17 02:48] jrangelramos commented on #338
Yes I aggree. It should be already closed .

[2021-07-17 02:48] #338 closed

[2021-07-17 02:55] jrangelramos commented on #323
Issue addressed by https://github.com/knative-sandbox/kn-plugin-func/pull/324

[2021-07-17 02:55] #323 closed

[2021-07-17 02:57] jrangelramos commented on #411
Yes @matejvasek I tried it out and works.

[2021-07-19 10:31] #362 closed

[2021-07-19 21:30] lance commented on #427
:100: all I can say is that sometimes links are aspirational. :)

[2021-07-19 21:41] lance commented on #261
I tried this, but labels have restrictions on the characters that can be used, and a slash as in `quay.io/boson-project/some-builder` is not acceptable.

[2021-07-19 21:44] #347 closed

[2021-07-19 21:47] lance commented on #411
@jrangelramos thanks for the confirmation. I'm closing this, if there's something else you find amiss, please reopen or create a new issue. Thanks

[2021-07-19 21:47] #411 closed

[2021-07-19 21:48] lance commented on #323
@jrangelramos thanks for the contribution and confirmation!

[2021-07-20 14:53] lkingland commented on #427
+1 for aspirational hyperlinks.  Good band name?

[2021-07-20 19:26] lance commented on #427
As things come up in places, we should note them here to be added to the guide. For example: https://github.com/knative-sandbox/kn-plugin-func/pull/429#issuecomment-883637742

[2021-07-23 14:01] #427 closed

[2021-07-26 04:20] lkingland opened #435 "Update to CloudEvents 4"
Templates are using CE 3, and the latest is currently 4.0.3.  @julz mentions that the major version bump was just the removal of some deprecated APIs, so we should probably upgrade as soon as possible before Function developers potentially create dependencies on these.

[2021-07-26 04:24] #435 closed

[2021-07-27 12:06] omerbensaadon opened #441 "Make `func` easy to install and invoke from within CLI"
## Description:
There should be a relatively simple "happy path" to installing the `func` plugin.

---

## Story
[code]

## Acceptance Criteria
- [x] Perry can install using a binary
[code]

- [ ] Perry can install using homebrew
[code]

## Known Issues and Considerations:
This issue may be dependent on https://github.com/knative/client/issues/1399

[2021-07-27 12:06] omerbensaadon commented on #441
/help

[2021-07-27 14:01] omerbensaadon opened #442 "(User Interview Script Prep) Placeholder for questions to ask users"
This is the issue where you should put any potential questions you have for end users of func

[2021-07-28 11:45] #388 closed

[2021-07-29 12:16] omerbensaadon opened #445 "[SPIKE] Which OS image do we want to use as the "community default" builder for func?"
A software spike is normally used to assess the level of difficulty in completing some programming task, without having to deliver any of the desired functionality.

In this case, we'll use one to answer an important question about `func`'s stack.

---

### Questions to Answer
Q1. Without actually completing an assessment, what are some criteria we may want our base OS image to satisfy?

Q2. What

[2021-07-29 12:17] omerbensaadon commented on #445
/label MVP

[2021-07-29 12:18] omerbensaadon opened #446 "Create builder images that are neutral and hosted"
~~Blocked by: https://github.com/knative-sandbox/kn-plugin-func/issues/445~~
---

### Story
[code]

### Acceptance Criteria
[code]

Here is the list of supported runtimes and their status regarding paketo builders. If checked, the paketo builders are in use.

- [x] go
- [x] node
- [x] rust
- [x] springboot
- [x] typescript
- [x] #977
- [x] #978

[2021-07-29 20:50] lance opened #448 "Add support for vendor specified buildpack"
## Vendors should be able to specify the buildpack to use when building a function

Currently, the `func` CLI allows developers to specify a builder image in the `func.yaml` configuration file. And vendors may specify the builder image for their language extensions in a `.builders.yaml` file. However, the builder image is not what knows about function code and how to turn that code into a runnable

[2021-07-30 15:39] lance opened #451 "Display available runtimes and templates based on what's in ~/.config/func/repositories"
## Function developers should be presented with available runtimes and templates that have been installed in the configured function repository directory
---
When running `kn func create --help` the user is presented with a very nice help message.

[code]

However, note that the `-l` or `--runtime` flag displays only the available built in runtimes. Not those that may be installed in the configure

[2021-07-30 15:39] lance commented on #451
/type enhancement

[2021-07-30 17:31] lance opened #452 "Determine and document expected directory structure for language pack extensions"
## Vendors providing new language packs should know how to structure the directory

## Current behavior

Currently, the `func` CLI assumes that all top level directories in a language pack repository represent a runtime, and each subdirectory is a template directory.

[code]

For example, when installing the https://github.com/lance/gcf-kn language pack repository, the ruby cloud-function template

[2021-07-30 17:44] lance opened #453 "Provide interactive selection of project templates on `func create`"
## As a function developer, I want to create a function project without having to know all possible templates in advance

## Current behavior
When creating a new project, a function developer needs to know in advance what templates and runtimes are available. This information exists in the `--help` output. But the user needs to then remember that when typing the create command. If she has a lot of

[2021-07-30 18:28] lance opened #454 "Provide CLI based global management of language pack repositories"
## Function developers should be able to easily manage language pack repositories
As a function developer, I want to manage the repositories that have been configured in `~/.config/kn/repositories` so that I can add, remove and list language pack repositories. For example, the initial prompt when running `kn func config --global` in any directory might look something like this.

[code]

When selec

[2021-08-03 13:10] #261 closed

[2021-08-05 17:33] lance commented on #352
Fixed in https://github.com/knative-sandbox/kn-plugin-func/pull/459

[2021-08-05 17:34] lance commented on #354
Fixed in https://github.com/knative-sandbox/kn-plugin-func/pull/459

[2021-08-05 17:34] #354 closed

[2021-08-05 17:41] #364 closed

[2021-08-05 17:46] matejvasek commented on #352
@lance actually there is still issue with unix control chars.

[2021-08-06 11:05] lance opened #463 "Allow language pack providers to specify liveness/readiness endpoints"
Currently thinking about "language packs" and one of the assumptions we make about them in the func binary. At the moment, we assume all runtimes except quarkus will expose liveness and readiness endpoints at /health/liveness and /health/readiness. So, a function that is built using a simple GCF language pack will fail.

This works fine locally
[code]
But as soon as you kn func deploy the app will

[2021-08-06 13:46] #188 closed

[2021-08-06 13:46] matejvasek commented on #188
for how to use `podman` see https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/guides/podman.md

[2021-08-09 11:07] zroubalik commented on #336
https://github.com/SchemaStore/schemastore/pull/1787

[2021-08-09 11:47] matejvasek opened #469 "Improve ssh connectivity for docker API"
Right now docker connection string may be `unix://` `tcp://` and `ssh://`. In case of ssh it works only for TCP forwarding. However one could want to also tunnel `unix://` over ssh not only `tcp://`. We should enable connections string like `ssh://user@host:/some/unix/p.sock`.

[2021-08-09 11:47] matejvasek commented on #469
@danieloh30

[2021-08-10 13:17] lance opened #471 "Allow language pack providers to specify health endpoints"
Currently `func` will set the liveness and readiness endpoints for a function as `/health/liveness` and `/health/readiness` respectively for all functions except Quarkus. This means that all language packs must provide these endpoints. This is a problem if you, for example, want to use Google Cloud Function runtimes in your language packs, since they do not necessarily expose these endpoints. It s

[2021-08-10 13:26] lance commented on #471
Dup

[2021-08-10 13:26] #471 closed

[2021-08-10 14:28] lance commented on #336
@zroubalik this can be closed now, correct?

[2021-08-10 15:19] zroubalik commented on #336
@lance 90% done. I will close it once the schema for labels and envs is done.

[2021-08-11 14:54] #328 closed

[2021-08-11 15:17] lance commented on #84
Closing this - the build and deploy progress bar are in place

[2021-08-11 15:17] #84 closed

[2021-08-11 15:19] lance commented on #178
@matejvasek has the work you've done with podman, etc. resolved this issue?

[2021-08-11 15:25] lance commented on #177
I'm going to close this as resolved. If there are additional issues that come up with podman, we can open new issues for them.

[2021-08-11 15:25] #177 closed

[2021-08-11 17:12] #336 closed

[2021-08-12 03:31] #398 closed

[2021-08-16 04:43] #337 closed

[2021-08-17 15:59] omerbensaadon commented on #441
/label MVP

[2021-08-22 16:00] #463 closed

[2021-08-23 02:38] omerbensaadon opened #488 "`func create` defaults to Node"
## Current Behavior
When I do `func create` a Node project gets created

## Desired Behavior
It would be nicer if the CLI prompted me to pick a runtime and showed me what runtimes were available.

I'm actually still unsure what the desired behavior would look like. it could either be...

[code]
OR
[code]

[2021-08-25 16:47] matejvasek commented on #330
@jrangelramos I think this should be fixed in `main`. Can you please verify?

[2021-08-30 14:34] matejvasek opened #497 "Ease usage of private docker repository"
In order to use private repository like quay.io user has to set secrets to cluster I wish there was some easier way.

[2021-08-30 16:59] omerbensaadon commented on #442
probably a failed experiment

[2021-08-30 16:59] #442 closed

[2021-08-30 21:45] omerbensaadon opened #499 "`func deploy` gives no recourse to change registry"
I'm actually not sure how to configure a correct registry because when I type `func deploy help` func ignores the "help" portion.

### Acceptance Criteria:
[code]

[2021-08-30 21:52] omerbensaadon commented on #499
I am assuming we want to take this value provided by the user and write it into func.yaml? I don't think it's being written there now

[2021-08-31 17:47] lance commented on #499
The `--registry` parameter to `func build` and `func deploy` is used, along with the name to construct the function image URI. The value is stored in the URI. So for example, if I mess up and type `kn func build -r asdfasdf` or type that in at the prompt like so, you can see the value in the image name printed at the end of the build.

[code]

In this case, I just provided `asdfasdf` as the value

[2021-08-31 18:39] lance commented on #448
Fixed in https://github.com/knative-sandbox/kn-plugin-func/pull/465

[2021-08-31 18:39] #448 closed

[2021-08-31 18:47] lance commented on #446
There has been some progress on this, but it's not ready for closing yet. Currently we are moving to docker://ghcr.io/boson-project for a container registry. The registry contains two buildpacks - one for TypeScript and one for Go. You can find those buildpack images here: https://github.com/orgs/boson-project/packages

In the `func` binary, the TypeScript, Node.js and Go built in templates are no

[2021-08-31 20:15] lance commented on #195
Closing as this has been covered by https://github.com/knative-sandbox/kn-plugin-func/pull/490 and other related PRs

[2021-08-31 20:15] #195 closed

[2021-08-31 20:17] lance commented on #268
Related: https://github.com/knative-sandbox/kn-plugin-func/issues/441

[2021-08-31 20:19] lance commented on #499
Related: https://github.com/knative-sandbox/kn-plugin-func/issues/333

[2021-09-01 07:27] #207 closed

[2021-09-01 13:53] zroubalik commented on #499
I can try to tackle this :)

[2021-09-02 12:16] matejvasek commented on #469
This might be useful in particular for people running podman in VM on macOS.

[2021-09-02 13:07] rhuss opened #504 "Progress information is confusing"
Actually it looks like that `kn func deploy` (that still seems to include a build step) prints out:

![image](https://user-images.githubusercontent.com/99080/131848382-0190122f-7561-4d9c-bf43-418651377b1f.png)

but eventually ends up with

![image](https://user-images.githubusercontent.com/99080/131848437-ec81b214-0d21-44e3-a7ee-bde077ba5d97.png)

Note that the "Build part" has been completely rem

[2021-09-02 17:47] jrangelramos commented on #497
I think this can be configured directly on the cluster, for example on Openshift we can "teach" the cluster how to pull from private repos using secrets.

[2021-09-02 18:08] matejvasek commented on #497
@jrangelramos yes that's true, but we don't make easy for user, if user forgets to set the secret on the cluster then deployment fails and use has to search for the cause.

[2021-09-02 18:09] matejvasek commented on #497
I updated description and title.

[2021-09-02 18:16] jrangelramos opened #506 "`func deploy` registry options from command line (`-r`) should take precedence over registry on `func.yaml`"
When you build a project using a testing repository that repo get saved on func.yaml.
Then when you use deploy command the specifying a different repository, func honor (func.yaml) and does not uses the specific setting passed on command line

[code]

I think a command line options should take precedence in this case.

[2021-09-03 17:09] lance commented on #504
https://github.com/knative-sandbox/kn-plugin-func/pull/501

[2021-09-06 14:57] matejvasek commented on #469
I'll fix this here https://github.com/buildpacks/pack/issues/1259

[2021-09-07 08:58] zroubalik commented on #506
The same behavioiur for `func build`

[2021-09-07 13:28] omerbensaadon opened #511 "Superfluous headers in go template"
@lkingland told me to submit this issue.

(basically, if you type anything other than "OK" the container errors out)

[2021-09-07 13:33] omerbensaadon opened #512 "`func` requires credentials on each local `func deploy` for Mac OS X"
I literally have to type in the username and password to my personal machine each and every time

[2021-09-07 17:21] matejvasek commented on #511
@omerbensaadon could you please write more details?

[2021-09-07 17:23] matejvasek commented on #511
Is this caused by setting content-length?

[2021-09-07 20:18] omerbensaadon commented on #511
@matejvasek I think that's right yes.

If you replace OK with anything else it just errors out since (I think because it's longer than 3 characters?

[2021-09-08 10:13] lkingland commented on #512
@matejvasek note that I am not seeing the same behavior.  My `~/.docker/config.json` is:
[code]
the registry which Omer is using when this issue is encountered is the `localhost:5000`.

[2021-09-08 10:44] lkingland commented on #453
In keeping with the unix philosophy of small, focused, but perhaps most importantly composable commands; I am not sure that the _default_ action should be interactive prompts.  This interfere with he standard usage pattern of command line tools.   Some would go so far as to argue that interactive prompting has no place in a CLI and should instead be offered elsewhere such as web admin consoles or

[2021-09-08 11:00] lkingland commented on #453
By the way, completing this issue will require adding prompts/confirmation to the command, necessitating a minor refactor, such that we might as well go "all the way" and prompt for runtime and name as well.

[2021-09-08 11:41] #511 closed

[2021-09-08 13:42] #214 closed

[2021-09-09 00:23] #506 closed

[2021-09-09 00:35] lkingland commented on #504
the `-v` flag enables standard, scrolling output without control characters.  Also note this is the default if the command is being run not in an interactive terminal (such as a cron job, etc).

[2021-09-09 15:09] #454 closed

[2021-09-15 12:58] matejvasek commented on #512
This shouldn't be `Mac OS X` exclusive. Users are prompted for credentials if they are not logged in via `docker login`.

[2021-09-15 12:59] omerbensaadon commented on #512
Ah, i see. I think including that help text when we prompt login will
satisfy me enough to close this issue out!

On Wed, Sep 15, 2021 at 8:58 AM Matej Vasek ***@***.***>
wrote:

[2021-09-15 13:06] matejvasek commented on #512
I think we could save the entered credentials (or maybe first ask the user if it's OK to save it). We just need to decide where to put it, I would prefer to create our own auth file, and use `~/.docker/config.json` only as read-only.

[2021-09-15 14:20] matejvasek opened #527 "The `FUNC_REGISTRY` environment variable overrides image in `func.yaml`."
The `FUNC_REGISTRY` environment variable should be only used if image registry is not explicitly set in `func.yaml`.

Right now the envvar overrides image registry in `func.yaml` upon build. So if the envvar points to let say `quay.io` and user wants to change that in `func.yaml` to `docker.io`, it's not possible because the image will be overwritten.

[2021-09-16 21:07] shinigambit commented on #527
@matejvasek  mind if I have a crack at it?

[2021-09-17 20:15] lance commented on #441
@omerbensaadon I think this can be closed and considered complete. WDYT?

See: https://github.com/knative-sandbox/homebrew-kn-plugins

[2021-09-17 20:29] omerbensaadon commented on #441
If you /lgtm #539

[2021-09-18 16:26] #441 closed

[2021-09-20 11:31] zroubalik opened #542 "`deploy` prints "Still building" in the progress status related to Deployment step"
It shouldn't be `building` but should be a message related to deployment, because image has been already built, see:

https://user-images.githubusercontent.com/726523/133995384-f67642b0-7d6a-414c-868d-8702861ef13b.mp4

t.

[2021-09-21 15:19] #542 closed

[2021-09-22 20:00] #451 closed

[2021-09-22 20:00] #453 closed

[2021-09-23 00:17] omerbensaadon opened #552 "Make sure users don't kill `func build`"
# Context
When we interviewed users, many of them watched `func build` hang for quite awhile... some (at least one) mentioned that they would probably cancel the process altogether given how long it took.

This can probably be delivered by setting `func build` to run in verbose by default, but **a better user experience would be aligning to something similar to what `kn quickstart` does** which is

[2021-09-23 00:27] omerbensaadon opened #553 "`func create` should require "-l" flag; be strict about list of supported runtimes"
# Context
Many users did not expect `func create` to automatically create a Node HTTP project, the easiest way to resolve this is to simply require the -l flag when running `func create`

There may be a follow-on story to this one which asks the user if they want to save the language they specify as the default language, but that behavior is out of scope for this implementation.

# Story

**As Dea

[2021-09-23 13:44] lance commented on #552
@omerbensaadon please have a look at this https://github.com/knative-sandbox/kn-plugin-func/pull/537

I think it should address this issue. It's not in a release yet, but will be in the next one.

[2021-09-23 13:54] omerbensaadon commented on #552
I've updated the Acceptance Criteria...

Can we ensure that we can fulfill #1? The only thing missing is letting users know that the first build will take longer than others.

[2021-09-23 13:54] omerbensaadon commented on #552
I'll spin out AC #2 as it's own story

[2021-09-23 13:59] lance commented on #552
I'll submit another PR that says as much on the first build.

[2021-09-23 14:00] omerbensaadon opened #555 "Give users some idea of what `func build` is doing"
# Context
When we interviewed users, many of them watched `func build` hang for quite awhile... some (at least one) mentioned that they would probably cancel the process altogether given how long it took.

This can probably be delivered by setting `func build` to run in verbose by default, but **a better user experience would be aligning to something similar to what `kn quickstart` does** which is

[2021-09-23 14:02] omerbensaadon commented on #552
@lance I've split this story up, see #555

Also,  can we change "don't give up" to "don't give up on me" Naina and I think it's funnier

[2021-09-23 14:02] omerbensaadon commented on #555
this story was originally AC#2 for #552

[2021-09-24 11:57] matejvasek opened #556 "Environment variables for build phase"
As of now we can only pass environment variables to runtime -- deployed function.
We need ability to also pass environment variables to build to customize behavior of buildpacks.

For instance one can use `BP_GO_BUILD_LDFLAGS` to change behavior of paketo's `Go` buildpack.

[2021-09-24 12:03] matejvasek commented on #556
We will have to either introduce new flag for build-envvars (and new field in func.yaml), or share envvars between runtime and buildtime. wdyt @knative-sandbox/kn-plugin-func-approvers ?

[2021-09-24 12:04] matejvasek commented on #556
cc @senthilnathan

[2021-09-24 12:43] #527 closed

[2021-09-25 20:40] senthilnathan commented on #556
Keeping the build env variables separate from the runtime env variables may be preferable for better separation of concerns.
Once there is agreement on the design, I would like to work on this if that is ok.
/assign

[2021-10-01 12:28] matejvasek commented on #556
@lance @lkingland @zroubalik wdyt?

[2021-10-01 19:56] shinigambit commented on #497
@matejvasek I wonder if you have any ideas in mind on how the usage of this would be. I was thinking:
- A new command in `func` like maybe `func config-registry`
- A flag in `func deploy` that would create/update and configure the pull secrets in the cluster
- A dynamic check at deploy time that detects that the pod's status is ImagePullBackoff and suggests the preferred way of configuring the sec

[2021-10-01 20:49] shinigambit commented on #414
I'm not super familiar with buildpacks but is this configuration going to be a code block in the `func.yaml` file that will be copied directly to the toml file?  From the use case you mentioned adding a `--debug` would allow the user to specify the `type`  as in `--debug=web` => `type = "web"`? Just wondering how it would support more than two entrypoints or if two is the exact amount  you would l

[2021-10-02 12:56] matejvasek commented on #497
I don't have specific idea. For starer just some check that image is private and subsequent warning with link to documentation should be enough.

[2021-10-04 13:58] shinigambit commented on #497
Thanks @matejvasek , I think I can tackle this one.
/assign

[2021-10-05 15:41] lkingland commented on #556
It seems to me that keeping them separate is a good idea.

[2021-10-05 16:47] lance commented on #556
Definitely think it makes sense to keep build time and runtime variables separate. Here is a good link describing how the paketo buildpacks can be customized with env vars: https://paketo.io/docs/reference/configuration/#environment-variables

[2021-10-05 18:55] lance commented on #553
AC #2 fixed in
[code]

[2021-10-05 19:03] lance commented on #555
I'm going to push back on this a bit - we already have the `-v` flag which pipes the buildpack build output to the terminal, making it pretty clear exactly what is happening under the hood, and without the `-v` flag, I think the CLI should be as quiet as possible. Finally, the implementation of this is unclear. What exactly is meant by "some idea of what's happening under the hood"? There is reall

[2021-10-05 20:44] omerbensaadon commented on #555
I think ideally, a download progress bar and then a message to the effect of "building" after that would satisfy this story...

That being said, Naina and I agree that #537 will resolve our most pressing concerns for the time-being.

[2021-10-07 13:41] #552 closed

[2021-10-07 13:47] matzew opened #565 "`func create` not working"
Checked out the source and did ran `make` as per doc:
https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/installing_cli.md#from-source

Now when I run `func create ....`  (e.g. `func create -l go -t events`), I am getting

[code]

[2021-10-07 14:43] #565 closed, assigned to zroubalik

[2021-10-10 01:23] #353 closed

[2021-10-10 01:23] #349 closed

[2021-10-10 01:23] #306 closed

[2021-10-10 01:23] #285 closed

[2021-10-10 01:23] #229 closed

[2021-10-10 01:23] #225 closed

[2021-10-10 01:23] #187 closed

[2021-10-10 01:23] #82 closed

[2021-10-11 11:22] rhuss commented on #377
/remove-lifecycle stale

[2021-10-11 20:16] omerbensaadon opened #572 "Provide a consistent developer experience for all function templates"
# Context
During the user interviews, we noticed there is a lot of variance between the templates of each language, and there are some issues with the templates as a whole. Namely, we need to...

- Effectively highlight where the developer inserts their code (//CAN'T MISS COMMENT + Method at the top)
- Make sure the code is effectively commented to assist in developer's understanding of said code

[2021-10-11 20:30] nainaz opened #573 "`func create` command should default to confirm prompt"
# Context
During User interviews. When users are creating functions, default choice of language wasn't the expected experience and confused them to think that Node is the only choice and doesn't let the user know that there are other choices available for language/runtime and/or templates. In addition, user had to consult the Help text multiple times and it resulted in disjointed experience.

# St

[2021-10-11 20:40] omerbensaadon opened #574 "Create some documentation around what a `func` language template looks like"
Once https://github.com/knative-sandbox/kn-plugin-func/issues/572 is delivered, creating some documentation for what rules new language templates ought to conform to.

[2021-10-11 20:44] nainaz opened #575 "kn func emit command should execute local testing by default"
Blocked by :  {https://github.com/knative-sandbox/kn-plugin-func/issues/576}
# Context
User interviews
Since default experience for func cli is local, when it came to func emit experience, default expectation of remote was very confusing and every user got it wrong. Error messages were also not helpful in figuring out what the users should do as the error message was about some connection error to

[2021-10-11 20:52] omerbensaadon opened #576 "Change `func emit` to `func invoke`"
# Context
During the user interviews, we found that nearly everyone we talked to did not understand what "emit" did intuitively.

We're going to go with `func invoke` instead as recommended by @lance

---

# Story

**As Deandra the Developer**
**I want** to have a more intuitive way to send CloudEvents to a running function
**So that** I more quickly understand what the purpose of `func emit` is

[2021-10-11 20:54] nainaz opened #577 "Func run should ask the user if they want to build"
# Context
User interviews:
Users always used the `kn func run` command after the `kn func create` command, inevitably it returned an error message and forced the user to go do the 'kn func build" command first. This experience shows that it is adding an extra step to the users.

# Story

**As Deandra the Developer**
**I want** to have `kn func run` build the func project for me
**So that** I don't

[2021-10-11 21:17] nainaz opened #578 "Rename template "events" to "cloudevents""
# Context
User interviews:
Users were not always clear on what kind of events is the template name "events" referring to and would often mistype event to events . Name cloudevents can help us with the ambiguity in both cases.

# Story

**As Deandra the Developer**
**I want** to know what type of events I can send to my events templates function project
**So that** I can better understand the forma

[2021-10-12 19:40] nainaz commented on #576
I like the command name "invoke" as send does not properly convey what are we sending and why and what it is the intent.
kn func invoke removes this ambiguity. I am invoking my created function with the appropriate "trigger".
P.S: emit/send/invoke command should cover the plain http call/test to the function as well. Should I create a different issue for that?

[2021-10-12 20:54] lance commented on #576
As long as we are including multiple acceptance criteria in a single issue, I think it's OK as it is.

[2021-10-12 20:59] omerbensaadon commented on #576
@lance am I understanding correctly that we want invoke to better cover HTTP templates and it currently only covers CloudEvents templates?

If it's a small change, I can add an AC here. Feels to me like a new issue on first glance.

[2021-10-13 12:28] lance commented on #576
Yes exactly. I think I've covered the use cases here: https://github.com/knative-sandbox/kn-plugin-func/issues/575

[2021-10-13 21:19] #578 closed, assigned to lance

[2021-10-20 05:32] rhuss opened #595 "Usability: `-l` vs. `--runtime`"
From a usability point of view the choice of option letter is a bit unfortunate for `kn func create`:

[code]

It's not trivial to memorize that the short-cut option for `--runtime` is `-l`, and if you don't know that and intuitively choose `-r` instead you land at `--repository`. That is highly confusing.

One solution out of the dilemma would be to remove the short option from either `--reposito

[2021-10-20 05:40] rhuss opened #596 "Node templates default for unsupported HTTP method"
[code]

while returning [451](https://en.wikipedia.org/wiki/HTTP_451) is quite funny (could have been also 418 ;-), I don't think that users typically will get the reference. A bit more boring but probably also a bit more professional would be to return a `501 Not Implemented` or a `405 Method Not Allowed`, depending on your point of view.

As a general remark, I could imagine that the Node templa

[2021-10-20 05:59] rhuss opened #597 "Help message of `kn func run` is misleading"
[code]

What actually does `locally` mean ? Usually I would say, this would mean to execute the project locally on the Desktop but _without Docker_ (like with `npm run`). But here it is meant to run in a Docker daemon which usually is not considered to be "local" (and in fact, on Windows or macOs Docker always runs in another VM). Not sure how to call it, but maybe "Run function image locally" ? (

[2021-10-20 06:19] rhuss opened #598 "Add examples as comments when creating func.yaml"
It would be super awesome if some examples for how to customize func.yaml could be added as comments. Currently I want to customize the `envs` property but have no clue what to add as array. Of course, I can look it up (and will do), but having this directly in the gerated `func.yaml` as an example (in a yaml comment), that would be great.

Not sure how easy it is to implement this.

[2021-10-21 18:24] lance commented on #595
@rhuss this was changed in https://github.com/knative-sandbox/kn-plugin-func/commit/4fe9fdcab08552814c86d85194c552b591f52cd7#diff-e52f1f4fa0c533e3287cbe2ef0436582b5ca471a3fddcdf1f49fecd1ec0c7d13 to support `-l` and `--language`, leaving `--repository` alone. I will close this issue, but if you'd like to reopen it to discuss that decision please feel free.

[2021-10-21 18:28] lance commented on #598
Related to this, if you decide to comment your `func.yaml` to explain things to yourself, the next time you run a build, `kn func` will overwrite these comments.

[2021-10-25 14:00] jrangelramos opened #603 "`func` does not retain user comments on `func.yaml`"
Comments added on **func.yaml** by developers are lost every time a func command that writes to this file is executed.

As an example, I added a label (or env var), then I manually changed the **func.yaml** with a comment to describe that label (or env).
[code]
After adding another label thru `func config`, or after running a `func build` my comment get removed from the yaml file.

[code]

[2021-10-25 14:10] jrangelramos opened #604 "`func info` using a deployed func name"
It would be nice if `func info` could accept the *func name* as argument and display the deployed function information without requiring used to be on the path of the initialized functions (or without using `--path` option).

Just as `func list` display functions from the cluster, `func info <func name>` could query kn service information and display to user

[code]

The above command could return

[2021-10-25 19:31] embano1 opened #606 "Simplify Go CE func template signature"
I brought this up in one of the user interviews and couldn't find a note/issue in the docs here whether simplifying the CE handler template signature was already discussed (and why it was decided to keep the 12 signature options). So please excuse if this has been answered already.

Currently, the handler in the Go template for the `CloudEvents` type signature exposes (leaks) all 12 signature opti

[2021-10-27 11:39] #596 closed, assigned to nobody

[2021-11-02 14:25] omerbensaadon opened #619 "Dynamic Templates"

[2021-11-02 14:26] omerbensaadon opened #620 "On-cluster Builds"
WIP Design Doc: https://docs.google.com/document/d/1iQFVtfsrYb4pp616h3B_IXQB1Cck1oxt7ypZyU8ChzE/edit

Features:
Pushing code from local machine to an on-cluster build
Pushing code from Github to an on-cluster build

# Tasks required for MVP:
- [x] #748
- [x] #750
- [x] #751
- [x] #752
- [x] #753
- [x] #754
- [x] #847
- [x] #848
- [x] #765
- [x] #855
- [x] #1173
- [ ] #984
- [ ] #849
- [x] #856
- [

[2021-11-03 20:09] lance opened #626 "Stray manifest.yaml files in go/cloudevents and typescript/cloudevents"
These should be removed. They are redundant.

[2021-11-03 20:10] lance opened #627 "Remove manifest.yaml files after `func create`"
If a language pack includes a `manifest.yaml` file in a template directory, the file ends up in the user's project. The `func create` command should remove the file.

[2021-11-03 20:10] lance commented on #627
/kind bug

[2021-11-04 09:15] salaboy commented on #627
/assign

[2021-11-04 09:18] salaboy commented on #626
@lance do you mean these ones:
- https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/go/cloudevents/manifest.yaml
- https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/typescript/cloudevents/manifest.yaml

So the ones that need to stay are the ones in the parent directory?
- https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/typescript/manifes

[2021-11-04 09:39] salaboy commented on #626
/assign

[2021-11-04 10:45] salaboy opened #630 "Support func Spring Native template"
Add a template for Spring Boot with Spring Native to leverage GraalVM runtimes.

[2021-11-04 14:17] lance commented on #626
@salaboy yes - the only ones needed are in the parent directory.

[2021-11-05 12:56] omerbensaadon opened #633 "User Experience Improvements (From Round 1 of User Interviews)"
This is an epic which contains all of the issues which relate to the user experience deficiencies found in func user interviews.

The categories below are listed in the order that user's discover the pains.

#### Documentation
- [x] #574

#### Templates
- [x] #578
- [x] #511
- [x] #572

#### `func create`
- [x] #553
- [x] #488

#### `func run`
[code]
- [x] #577

#### `func build`
- [x] #552
- [x]

[2021-11-05 12:57] omerbensaadon commented on #196
Checking on this, can this issue be closed?

[2021-11-05 13:01] omerbensaadon opened #634 "(VMware) Upstreaming Python + Springboot Buildpacks: https://github.com/vmware-tanzu/function-buildpacks-for-knative"

[2021-11-05 13:03] omerbensaadon commented on #446
Checking in on this... any updates Lance?

Should this be on the roadmap?

[2021-11-05 13:15] omerbensaadon commented on #573
@nainaz I'm going to change this to default to -c the first time the user runs func create.

I will open another issues which asks the user if they would like to store their option as their default runtime...

Thoughts on this? @lance @lkingland @zroubalik where could this default be stored?

[2021-11-05 13:32] zroubalik commented on #196
@omerbensaadon this is still not resolved

[2021-11-05 14:40] omerbensaadon opened #635 "[placeholder] Change text of `func create -c` to show users what the flags are for runtime and templates"

[2021-11-05 14:40] omerbensaadon opened #636 "`func create`: persist --language choice"
- Give users the option to save the runtime as default (y/n)
- Make sure to let them know where this is saved
- Make sure the template always defaults to -c when not provided as a flag (-t)

[2021-11-05 14:55] omerbensaadon opened #637 "Create should prompt for `cloudevents` when provided events, event, or ce as options for `cloudevents`"
[code]

[2021-11-05 15:09] shinigambit commented on #577
/assign

[2021-11-05 15:44] lance commented on #573
@omerbensaadon we have a `func config` command that we have discussed adding things like this to. Currently `func config` affects only the local project, but the tentative plan is to have `func config global` to manage global configuration options such as this (or possibly `func config -g`.

Already, we store installed remote template repositories that have been added with `func repo add` in `~/.c

[2021-11-05 15:47] lance commented on #446
We have Go, Rust, Node.js and TypeScript all using Paketo builders. I believe that @salaboy is working on Paketo builders for the SpringBoot templates and @matejvasek is working on the same for Quarkus. Can you guys confirm? Once these are done, this can be closed.

Sure - it's just the Quarkus and SpringBoot work that remains.

[2021-11-05 15:53] lance commented on #635
@omerbensaadon can you be a little more specific here? This is what the prompt looks like for language:

[code]

And once you select it, you'll see this.

[code]
By hitting <TAB> it will provide you with all of the possible templates. What would you like to see that's different?

[2021-11-05 15:58] lance commented on #555
I'm going to continue pushing back on this, because aside from the download progress bar, this is what we have (plus what was added in #537). And it's not clear what a download progress bar would be measuring. Download of what?

[2021-11-05 16:09] lance commented on #636
I don't think that's a great idea. I think the user should just be able to run `func config global`. See: https://github.com/knative-sandbox/kn-plugin-func/issues/573#issuecomment-962003540

[2021-11-05 19:07] #626 closed

[2021-11-07 10:32] lkingland commented on #636
I will discuss this further with @lance this week, but the work I am doing on `func invoke` actually requires taking a bite out of the `config` situation:  in particular opening the door to more conventional "config" settings, including git-like behavior of displaying a helpful message informing the user they need to choose a language, but can set a default via `git config ... --global`  (exact sy

[2021-11-07 10:38] lkingland commented on #555
I completely agree with this.  However, I also understand that on longer tasks it is preferable to have some kind of progress indication to assure the user that something is happening.

Early on, we identified this as a potential issue, and added the "spinner" with a periodic update.  Later, we added even more user updates as Lance mentions in #537.  If I am remembering correctly, #537 was not par

[2021-11-07 10:45] lkingland commented on #635
This may not be the intention of the issue, but it does make me consider:
the `-c` flag is intended for first-time users or beginners.
It would be nice if we thought of it as "training wheels" to proper command-line usage.
If this is the goal, then the output from `-c` could be amended to always include, at the end, a message indicating how the process _could_ have been completed using a set of fl

[2021-11-07 10:53] lkingland commented on #196
Yes.  That is indeed a goal!  For non-openshift as well.

[2021-11-07 11:07] lkingland commented on #573
I am pretty sure the core problem here:

Will be solved by implementing the git-like behavior of prompting a user to provide the `--language` flag, but informing them this can be defaulted for future invocations using `git config X --local`.
This might make changing the default behavior to the `-c` flow unnecessary, but we can take a look again at that time!

[2021-11-08 11:28] salaboy opened #640 "Support for BuildEnv in manifest.yaml to be propagated to func.yaml"
Currently, BuildEnv is not supported inside `manifest.yaml` in templates and some cases require setting some Build environment variables for buildpacks to work. This issue was discussed here: https://github.com/knative-sandbox/kn-plugin-func/pull/631#pullrequestreview-797818776

[2021-11-08 11:30] salaboy commented on #640
It feels like I should follow a similar approach than @evankanderson in his PR: https://github.com/knative-sandbox/kn-plugin-func/pull/591/files where he wanted to support probes in `manifest.yaml`

[2021-11-08 21:56] lance commented on #635
+1

[2021-11-08 22:04] lance commented on #637
@omerbensaadon do you mean that the following commands should all result in the same thing - the creation of a function template for cloudevents? For example, all of the following commands should result in identical output - the creation of a Node.js project with a function signature accepting a CloudEvent?

* `func create -l node -t ce foo`
* `func create -l node -t event foo`
* `func create -l n

[2021-11-09 11:26] salaboy commented on #630
As discussed in the closed PR, I will get the current templates working with SpringNative and I will document how to disable that for functions that want to include libraries that doesn't still work with SpringNative.
This work is depending on this PR to support BuildEnvs in the `manifest.yaml` file: https://github.com/knative-sandbox/kn-plugin-func/pull/646

[2021-11-09 12:04] zroubalik commented on #637
I inclined to support this. I have only one concern, wouldn't it make a problem or bring confusion to the external templates?

[2021-11-09 15:54] lance commented on #637
I worry about that too. I'm entirely convinced that this aliasing is a good thing.

[2021-11-09 18:20] dolfolife commented on #634
/assign

[2021-11-11 13:48] lkingland commented on #553
I fundamentally have concerns about having required flags.  The other name for a flag is an "option".  They are definitionally optional.

The correct solution to this problem is to either 1) change this flag to an argument:  `func create node myFunction`, in which case the argument is required.  Or to 2) very visibly notify the user of the chosen default, and instruct them how to change this defau

[2021-11-12 09:28] Shashankft9 commented on #553
To me it seems like language runtime is something we shouldn't default to, because default in my head seems like a safe or most used option (which might be the option with http template) if I somehow forget to define, which in the case of language runtime is _none_, and if there still is a default, I'd suspect most of the times we are just making the user delete the directory once its created with

[2021-11-12 13:09] lkingland commented on #553
In generaly I agree with you almost completely.  Your analysis and explanations are clear and understandable.  Thanks for taking the time to work this out.  We will be sure to arrive at a better solution for taking the effort.

A few points.  First, I would like to emulate the behavior of `git` above the behavior of `kubectl`.  This is (among other reasons) because our target audience is likely to

[2021-11-14 01:23] #426 closed

[2021-11-15 13:35] #640 closed

[2021-11-15 14:55] zroubalik commented on #553
To add to the discussion on whether to print an error msg with list of runtimes vs promt with the runtime.

As I mentioned https://github.com/knative-sandbox/kn-plugin-func/pull/647#discussion_r749391958, I prefer to display a prompt in this particular case. Because imho it is actually much faster and convenient to continue with the runtime selection in the prompt, instead of memorizing what is th

[2021-11-16 18:31] #630 closed

[2021-11-18 16:34] jrangelramos opened #668 "Unable to build a function using docker on macOs (without Docker Desktop)"
I'm unable to build a function using docker on macos (without docker desktop)
- macos BigSur
- using docker VM (on minikube)
- minikube v1.24.0

The following error appears

[code]

Steps to reproduce

[code]

[2021-11-19 20:16] #668 closed

[2021-11-22 17:26] evankanderson commented on #634
/assign @salaboy to help shepherd this as well.

[2021-11-23 16:08] dolfolife commented on #637
There are many ways a function can support events and CloudEvents is only one of them. Making the CLI use the implementation for cloudevents might create some confusion and it will make it harder to add other types of events.

If our implementation for the function's experience is to align with Knative Eventing I am happy to add more words for the dictionary since Knative eventing docs say
[code]

[2021-11-23 17:57] dolfolife opened #673 "[Docs/Specs] Template detection specification"
_**Note**: this might not be the right repo for this issue but I can move if this https://github.com/knative-sandbox/kn-plugin-func/discussions/662 resolves._

## Description

Buildpacks today use different mechanisms for detecting the function code. One common trigger is the presence of the file `func.yaml`, and other buildpacks rely on the use of Environment variables set while they build the so

[2021-11-24 02:01] lkingland opened #674 "Support pre-v0.19 Functions"
Functions Created prior to v0.20 (current `main` HEAD) will yield the error "No initialized Function at <path>"

We are now using a Created timestamp to positively identify the point in time at which a new Function is initialized, rather than testing a side-effect.  This is an upgrade that has been in the works for a while, but we will need to support Functions which were created prior to this cha

[2021-11-24 02:21] lkingland opened #675 "Keep main stable and PRs small"
It seems to me that we have two goals which are currently at odds with each other:

1. Small PRs
2. Stable main branch

It is often the case that a change necessitates additional changes for it to be fully stable. For example, [adding the `Created` timestamp](https://github.com/knative-sandbox/kn-plugin-func/pull/651) to a new Function required that we have [Function migrations](https://github.com

[2021-11-24 09:12] salaboy opened #676 "Push container image should be an option in `func build`"
While working on the Tekton Pipelines for onCluster builds I found that the push functionality is defined inside the `func deploy` command and that `func build` only does the building of the image. `func deploy` does the push if it is instructed to build the image as part of the deploy procedure.

My recommendation would be to:
- Move the push functionality to build, with an optional parameter to

[2021-11-24 09:16] salaboy commented on #676
@lance @zroubalik I need some consensus on this.. do you see any issue with this proposed change? I am happy to do the work around this.. but I am not sure who else needs to be included in the discussion.

[2021-11-24 09:16] salaboy commented on #676
Reference: https://github.com/salaboy/func-oncluster-build-experiments/blob/main/README.md

[2021-11-24 11:22] zroubalik commented on #676
@salaboy makes sense +1 from me

[2021-11-24 11:23] zroubalik commented on #676
Just note, `func build` should by default keep the current behaviour (ie. don't push)

[2021-11-24 12:50] #674 closed

[2021-11-24 13:13] salaboy commented on #676
@zroubalik so.. the idea is to add push as an optional parameter to `fund build` and remove the push code from `func deploy`? right? @lance are you ok with this change? @lkingland do you have any opinions on this change?

[2021-11-24 13:13] salaboy commented on #676
/assign

[2021-11-24 14:17] lance commented on #676
Conceptually, we think of deployment as a single act which may comprise multiple steps, one of which is a push to a registry. Truthfully, this push should be an implementation detail that the function developer should not have to think about. But of course we are not there yet.

Personally, I think this is fine. Although it would be worth talking with Luke about it. A [pull request](https://github

[2021-11-24 14:51] zroubalik commented on #676
We should at least do this change internally in the API and not expose to CLI.

[2021-11-26 16:41] salaboy commented on #676
/assign @shinigambit

[2021-11-29 02:23] lkingland commented on #675
Works for me; and barring other opinions is what I'll stick with supporting then.  Thanks for the input.

[2021-11-29 05:13] lkingland opened #682 "Default Config and Repositories Path"
The client currently defaults repositories path to the current working directory.  This causes a few problems, generally WRT flexibility, but is in general due to the client not (until recently) moving the defaulting logic into the core, and additionally the lack of auto-creation of this directory on instantiation.

https://github.com/knative-sandbox/kn-plugin-func/blob/ccf00152be0ceba1794267f8e03

[2021-11-29 21:53] #682 closed

[2021-11-30 09:19] zroubalik commented on #268
/remove-lifecycle stale

[2021-11-30 09:20] zroubalik commented on #215
/remove-lifecycle stale

[2021-11-30 22:00] lance commented on #555
I agree. I suspect that @omerbensaadon has a full plate with his new work at GitHub, and while I don't want to preemptively close this without some acknowledgement from Omer, I believe this issue has been resolved in #537 and can be closed. Omer, feel free to reopen with specific requests for functional changes if you have them, or create a new issue.

[2021-11-30 22:00] #555 closed

[2021-12-01 08:22] salaboy opened #691 "Create `func` container for automation"
Having `func` bundled up as a container will help to use `func` into CI/CD automation pipelines, enabling integrations with tools like [Tekton](HTTP://tekton.dev)

[2021-12-01 08:44] salaboy opened #693 "`func deploy` should only prompt build questions if `build` argument is set to `true`"
Currently, even if you disable the build option for `func deploy` it still prompt questions related to the build phase.

https://github.com/knative-sandbox/kn-plugin-func/blob/c2e1b769cc0d80082e6ef1be9ad2785ba8db4550/cmd/deploy.go#L114

I think this is just a bug.

[2021-12-01 09:06] salaboy opened #695 "`func deploy` will push the image even if the SHA in the `func.yaml` file is present"
Related to #676

`func deploy` should have a clear behaviour for deciding when to push a container image to the registry.
Currently is always pushing: https://github.com/knative-sandbox/kn-plugin-func/blob/db9ad07c7048361946a8c7d45c549323eee44a58/client.go#L597

I do understand the need to collapse push and deploy together in benefit to a better user experience, but for integration tasks, deploy s

[2021-12-01 09:09] salaboy commented on #691
/assign @shinigambit

[2021-12-01 09:09] salaboy commented on #695
/assign @shinigambit

[2021-12-01 09:11] salaboy commented on #675
@julz @lkingland yes please.. let's use trunk-based development + small PRs which add enough unit and integration testing to keep `main` stable.

[2021-12-01 10:02] #675 closed

[2021-12-01 13:48] lance commented on #499
/remove-lifecycle-stale

[2021-12-01 15:32] rhuss commented on #216
/remove-lifecycle stale

[2021-12-01 15:33] rhuss commented on #221
/remove-lifecycle stale

Not sure if this is still relevant, though

[2021-12-03 21:13] shinigambit commented on #693
It does look like a bug but unfortunately I haven't been able to reproduce it, could you share more information about the conditions you had when you experienced this? The contents of the `func.yaml` file and the command used would be of much help

[2021-12-06 03:53] lkingland opened #700 "Integration Testing Port Conflict in MacOS"
The recent addition of an AirPlay listener in MacOS Monteray utilizes local port 5000.  This conflicts with the port chosen for the local container registry used during integration testing.

We should probably move the port we use into the unregistered range.

[2021-12-06 18:30] #627 closed

[2021-12-06 19:46] #221 closed

[2021-12-07 23:05] #700 closed

[2021-12-08 13:32] jrangelramos opened #706 "Users are not allowed to add environment variables without a cluster connection"
Users are not allowed to use `func config envs` to ...

- add environment variables with specified value
- add environment variables from with value sourced from local environment variable

... when user is not connected to a cluster. The below error is thrown

[code]

I think at least these 2 operations should not require a real cluster connection. User should be able to do some local development

[2021-12-08 19:19] nainaz opened #708 "Pushing code from local machine to an on-cluster build: #620"
Issue under epic #620

[2021-12-08 19:22] lance opened #709 "CI/CD Integration with Knative release process"
See discussion: https://github.com/knative-sandbox/kn-plugin-func/discussions/671

[2021-12-08 19:22] nainaz commented on #708
Adding this as a feature of #620 epic.

[2021-12-08 19:22] #708 closed

[2021-12-08 19:23] lance opened #710 "Function telemetry and metrics for Node.js and TypeScript"
See: https://github.com/boson-project/faas-js-runtime/pull/109

[2021-12-08 19:31] lance commented on #196
Closing as a duplicate of #620

[2021-12-08 19:31] #196 closed

[2021-12-08 19:31] nainaz commented on #196
related to #620

[2021-12-09 15:23] rhuss commented on #504
/remove-lifecycle stale

[2021-12-09 22:15] lance commented on #504
@rhuss I actually think this issue _is_ stale, and could probably be closed. In https://github.com/knative-sandbox/kn-plugin-func/issues/555 and https://github.com/knative-sandbox/kn-plugin-func/issues/552 we discussed build and deploy usability quite a bit, and have landed changes to the output in https://github.com/knative-sandbox/kn-plugin-func/pull/537.

Overall, we made a few efforts to reall

[2021-12-10 14:16] lance opened #715 "Consider removing global HTTP override"
In https://github.com/knative-sandbox/kn-plugin-func/pull/711 the default `http` package's transport is overridden with a custom implementation supporting in-cluster function invocation for services not exposed externally.

This is a great feature, but could possibly be improved by using it only when and where needed, instead of overriding the global `http` package.

/kind techdebt

[2021-12-10 16:12] #715 closed

[2021-12-13 13:52] lance commented on #603
I'm not sure if this is really going to be possible. See: https://github.com/knative-sandbox/kn-plugin-func/issues/598#issuecomment-948896011

[2021-12-13 14:17] jrangelramos commented on #603
I think it would be a great addition if user could self document `func.yaml`. In case that not really possible, what about (if possible) to add some generic comment on top of func yaml explaining the file is self maintained and any comments would be deleted? It is worth?

example`func.yaml`
[code]

[2021-12-13 16:43] zroubalik commented on #603
We would probably need a custom YAML de/serializer?

[2021-12-13 17:25] #577 closed

[2021-12-13 19:31] lance commented on #603
I think so, which seems to be a lot of work for this small benefit. Maybe we should instead, normalize the README.md files that are written from the default templates, and explicitly note the role of func.yaml.

[2021-12-14 12:43] jrangelramos opened #720 "Unable to build functions on Windows using a remote docker daemon (thru TCP connection)"
I'm unable to build functions on Windows environment (without docker) using a TCP connection pointing to a docker daemon running on linux (DOCKER_HOST = tcp://_LINUX_SERVER_IP_:_PORT_ )

The following error is observed:

[code]

[2021-12-14 16:06] matejvasek opened #721 "Allow push to internal registry"
Make it possible to push to cluster internal registries.

* User should be able to push to internal registry with cluster local URL
  (e.g. `image-registry.openshift-image-registry.svc:5000`).

* If needed the cluster internal CA should be trusted for the connection.

* If the cluster is OpenShift we should use it's internal registry by default, i.e. not prompt user for registry.

[2021-12-14 16:07] matejvasek commented on #721
related PRs: #718, #704, #688.

[2021-12-14 18:10] shinigambit opened #722 "Mitigate Log4j CVE in Springboot's default templates (http and cloudevents)"

[2021-12-14 18:14] shinigambit commented on #722
/assign

[2021-12-14 22:37] shinigambit commented on #722
The way VMware engineers worked around this problem was to exclude the log4j dependency but according to this spring [post](https://spring.io/blog/2021/12/10/log4j2-vulnerability-and-spring-boot), they recommend to bump the dependency version to 2.15.0, this would allow the use of log4j without the security issue so I lean more towards the latter but I'd like to hear your thoughts on this @matejva

[2021-12-15 11:00] #710 closed

[2021-12-16 11:10] lkingland opened #725 "Template updates fail CI gofmt check"
Rebuilt `pkged.go` is missing a newly introduced build stanza

In Go1.17 a migration introducing build constraints was added.  This means that the `pkged.go` file generated when encoding templates is not fully in compliance with the latest format, as it needs the line `//go:build !skippkger`.  This causes the automated code format checks to fail in CI.

[2021-12-16 11:32] #722 closed

[2021-12-16 13:38] #725 closed

[2021-12-19 18:37] nainaz opened #728 "brew upgrade func command did not updated func v0.18.0 to the latest 0.19.0"
I have func plugin version 0.18.0 installed.
Using brew upgrade func command output
Warning: knative-sandbox/kn-plugins/func v0.18.0 already installed

Latest release under Release is 0.19.0 built on Nov 3.

[2021-12-21 11:51] rhuss commented on #504
yes, sure. I was not aware that there has been changes elsewhere. If I find something odd I can still create a new issue.

[2021-12-21 11:51] #504 closed

[2021-12-23 20:14] jrangelramos opened #732 "Unable to use ssh-agent thru named pipes on Windows"
On Windows ssh-agent that is exposed thru a named pipe, for example `\\.\pipe\openssh-ssh-agent` is not used by `func` during build process. Even when ssh-agent is properly setup and keys added (and confirmed) it seems func does not make use of it. During it prompts user for password.

Steps to reproduce (On Windows powershell)

[code]

[2022-01-05 01:25] #469 closed

[2022-01-05 18:38] #732 closed

[2022-01-06 14:37] #691 closed

[2022-01-09 07:03] embano1 commented on #606
@lkingland as `func` gets more adoption I was wondering whether this should be tackled soon to not break too many users?

[2022-01-10 03:14] lkingland commented on #606
It's perhaps worth noting that this change is not a breaking change, so it will not break any users.

A function signature can be changed at any time to any of those supported by the underlying CloudEvents library.

[2022-01-10 09:02] zroubalik commented on #377
/remove-lifecycle stale

[2022-01-10 09:02] zroubalik commented on #572
/remove-lifecycle stale

[2022-01-10 09:02] zroubalik commented on #574
/remove-lifecycle stale

[2022-01-10 09:03] zroubalik commented on #414
/remove-lifecycle stale

[2022-01-10 12:54] salaboy opened #745 "Tekton Tasks for `func build` & `func deploy`"
As discussed in the working group meeting, we will host Tekton Tasks for `func` in this repository until they are mature enough to donate to the Tekton Catalog.
This issue is to keep track of this work

[2022-01-10 21:59] #606 closed

[2022-01-11 13:52] zroubalik opened #748 "On-cluster build: Code from public Git repository"

[2022-01-12 19:52] zroubalik opened #750 "On-cluster build: Support function related buildpacks"
current Buildpacks Tekton Task doesn't support custom Buildpacks. We should provide a builder image that contains all Functions related custom buildpacks and use it in the pipeline.

[2022-01-12 19:58] #748 closed

[2022-01-12 19:59] zroubalik opened #751 "On-cluster build: Try to get registry credentials from a local developer machine"

[2022-01-12 19:59] zroubalik opened #752 "On-cluster build: Try to suggest correct Server name for Image Registry Credentials prompt"

[2022-01-12 20:01] zroubalik opened #753 "On-cluster build: Add kubernetes labels to resources created for Pipeline"

[2022-01-12 20:01] zroubalik opened #754 "On-cluster build: Delete pipeline and all created resources with `func delete`"

[2022-01-13 11:52] #751 closed

[2022-01-13 13:32] #752 closed

[2022-01-13 18:19] #753 closed

[2022-01-15 11:33] #745 closed

[2022-01-17 17:09] #750 closed

[2022-01-18 09:24] salaboy commented on #620
@zroubalik I would like to take these one:
-  On-cluster build: Implement --git flag for func deploy

I don't seem to be able to convert it to an issue from here, can you?

[2022-01-18 15:08] omerbensaadon opened #765 "On-cluster build: Implement `--git` flag for `func deploy`"
- If the user uses `func deploy --git <GIT_REPO>`
  - the `func.yaml` will automatically set build to `git` and specify the git repository

In other words, I will be defaulting the following information to avoid manually editing `func.yaml`:

[code]

I will update this issue if I find more details and consequences of using `--git`

[2022-01-18 15:08] omerbensaadon commented on #620
@salaboy converted for ya, check #765

[2022-01-18 19:09] lance commented on #620
@omerbensaadon welcome back! :)

[2022-01-18 21:03] lance commented on #635
@omerbensaadon @lkingland doing a little cleanup, and this issue is both quite stale, and not specific enough to be actionable. I'm going to close for now. Feel free to reopen or create a new request with more details if this still needs addressing.

[2022-01-18 21:03] #635 closed

[2022-01-18 21:06] lance commented on #676
I think this was fixed in https://github.com/knative-sandbox/kn-plugin-func/pull/681
Closing as resolved

[2022-01-18 21:06] #676 closed

[2022-01-19 13:19] matejvasek opened #767 "Clean up after `func run`"
If `func run` ends abruptly (e.g. `SIGKILL`) container is not cleaned up.

[2022-01-19 15:35] lance opened #768 "Make `func create` more new-user-friendly"
Via @lkingland

It would be nice if we thought of it as "training wheels" to proper command-line usage.

Consider modifying the output from interactive mode to always include, at the end, a message indicating how the process could have been completed using a set of flags.

/kind feat

Related: https://github.com/knative-sandbox/kn-plugin-func/issues/635

/cc @omerbensaadon

[2022-01-19 15:46] lance commented on #216
@lkingland I believe https://github.com/knative-sandbox/kn-plugin-func/pull/705 has a number of changes that address this issue. Below is a list of all of the `func` sub-commands. I've checked which ones I think are covered by your PR, or already doing this correctly today, or where it's irrelevant.

- [ ] build       Build a function project as a container image
- [x] completion  Generate complet

[2022-01-19 22:08] lance commented on #573
@nainaz there are a couple of overlapping issues related to this. I closed one AND created one of them yesterday. :stuck_out_tongue:

https://github.com/knative-sandbox/kn-plugin-func/issues/768 was created in favor of https://github.com/knative-sandbox/kn-plugin-func/issues/635, which I closed. And I think we should consider closing this one as well. wdyt?

[2022-01-20 13:27] omerbensaadon commented on #573
Glad y'all are finally getting around to some of this stuff!!

I think this one is actually quite important for onboarding new users. IMO, we want to keep devs "hacking" for as long as possible before they have to reference any documentation.

This feature (combined with #768) would make it so users wouldn't need to know anything but "func create" in their first experience.

[2022-01-20 17:49] nainaz commented on #768
This issue is talking about modifying `create -c` flag. I still think that it should be default unless user is providing the appropriate flags.

[2022-01-20 18:02] nainaz commented on #635
I like this idea of adding flag at the end to let users know about other flags.
However, I agree, -c should be default unless user is using specific  flags.
@lance @lkingland

[2022-01-20 22:02] jrangelramos opened #771 "`func version` does not match released version"
The version informed by `func version` does not match the released version. Also the func.yaml version field is only updated with the actual version after a build.

[code]

[2022-01-20 22:08] jrangelramos commented on #771
Also version from `func version` is reported as 0.0.0

[code]

[2022-01-20 22:49] lance commented on #573
To be clear... If a user types `func create` with no flags or other parameters, the default should be to enter `confirm` mode as though they had typed `func create -c`. But anything other than a bare `func create` should behave as it does today?

For example for the two scenarios below are behaving as desired today.

[code]
And
[code]

I like this - makes sense. Apologies for not fully grasping th

[2022-01-20 23:10] lance commented on #771
/kind bug

[2022-01-21 04:22] nainaz commented on #573
Yes.
That is the ask :)
No worries.
Thank you,
-N

On Thu, 20 Jan 2022 at 17:49, Lance Ball ***@***.***> wrote:

[2022-01-21 09:30] rhuss commented on #598
/remove-lifecycle stale

[2022-01-21 13:58] nainaz commented on #488
this can be closed now. It is being done through #573

[2022-01-21 14:01] lance commented on #488
Pretty sure the behavior requested here was added in https://github.com/knative-sandbox/kn-plugin-func/pull/547

[2022-01-21 14:01] #488 closed

[2022-01-21 14:24] nainaz commented on #619
@matejvasek, please fill in the details and link to feature track.

[2022-01-21 14:25] matejvasek commented on #619
spec is being disused here: https://github.com/matejvasek/func-dynamic-templates/pull/1

[2022-01-21 14:28] lance commented on #553
Fixed in: https://github.com/knative-sandbox/kn-plugin-func/pull/647

[2022-01-21 14:28] #553 closed

[2022-01-21 14:36] lance commented on #572
Consider as inspiration https://github.com/GoogleCloudPlatform/functions-framework

[2022-01-21 14:43] nainaz commented on #673
https://github.com/boson-project/packs/pull/4

[2022-01-21 14:44] nainaz commented on #673
https://github.com/vmware-tanzu/function-buildpacks-for-knative/blob/main/buildpacks/python/python/detect.go#L27

[2022-01-21 17:32] lance commented on #446
**Update**
Here is the list of supported runtimes and their status regarding paketo builders. If checked, the paketo builders are in use.

- [ ] go
- [ ] node
- [ ] python
- [ ] quarkus
- [ ] rust
- [ ] springboot
- [ ] typescript

[2022-01-21 17:57] lance opened #775 "Change SpringBoot template manifest to point at gcr.io builder"
Currently, the `manifest.yaml` file contains a builder image tag that does not include a registry host.

https://github.com/knative-sandbox/kn-plugin-func/blob/8ceb325142385e4b808b6fcc5be2ae25933d6fb4/templates/springboot/manifest.yaml#L1-L5

Unfortunately, can cause builds to fail in some scenarios with the following message.

[code]

This correct image tag is `gcr.io/paketo-buildpacks/builder:ba

[2022-01-21 19:24] jrangelramos opened #776 "Unable to use `gcr.io` as registry"
When deploying a function using `gcr.io` registry, build works but deployment fails with the following message:

[code]

[2022-01-21 20:04] #575 closed

[2022-01-21 20:04] #576 closed

[2022-01-21 20:45] #776 closed

[2022-01-22 20:26] senthilnathan commented on #771
Looks like it is trying to apply the migrations and ends up picking the version from [here](https://github.com/knative-sandbox/kn-plugin-func/blob/153e486bc62c05963cba41243d6c01a9f9ae414f/function_migrations.go#L76).

[2022-01-24 18:23] lkingland opened #778 "default cluster name collision"
The test cluster used for local development, integration testing, and e2e testing in CI uses the default cluster name `kind`, which of course conflicts when the user is also using `kind` for any other reason.  This should be switched to `func` such that any single node can be used as a single-node Functions-capable provider (`kind` not to be used in production caviat of course in mind).

[2022-01-24 18:30] #778 closed

[2022-01-24 20:39] #754 closed

[2022-01-25 15:16] salaboy commented on #765
@omerbensaadon did you created this one for me? @omerbensaadon do you know what kind of permissions do I need to be able to create issues like this from the check list?

[2022-01-25 17:32] omerbensaadon commented on #765
I think it's just OWNERS? I'm still an owner on knative-sandbox so the feature shows up for me

[2022-01-25 22:46] lance commented on #771
Yes - the version itself is actually set in `func.yaml` by this code, which iterates over all "migrations" of the func.yaml file, applying them, and setting the version based on that migration. So in this case, I think it's not really a bug, because the purpose of this file is not to inform the user what version they are using, but rather what is the maximum version known-to-work with this func.ya

[2022-01-26 10:30] jrangelramos commented on #771
Hi @lance, thanks for confirmation I understand that.. meaning that's the minimal backward compatible version.. let's say a **func.yaml** created on func 0.20.0 is still compatible (an project can be build and deployed) with func 0.19.0. However when we use `func create` it saves the version on **func.yaml** as **0.0.0**. Shouldn't it be in this case **0.19.0** (the last compatible one)?

Creating

[2022-01-26 12:26] jrangelramos opened #784 "Improve `func version`, add build date and git revision"
Here a suggestion of enhancement.
Include on `func version` information about build date and git revision of that build (similar to `kn version`)

Example:
[code]

[2022-01-26 19:28] #775 closed

[2022-01-27 10:03] salaboy opened #791 "On-cluster build: allow pipeline override or pipeline export for a func project"
Currently, pipelines are defined inside the CLI and cannot be overridden. allowing to export the pipeline into a YAML file that can be updated and replaced on the cluster for that specific function project will enable other tasks to be performed as part of the function deploy or build process.

[2022-01-27 17:45] lance commented on #268
@rhuss @dsimansk this is done, right?

[2022-01-27 17:55] rhuss commented on #268
Right, but currently 0.18 is the latest release in https://github.com/knative-sandbox/homebrew-kn-plugins --> https://github.com/knative-sandbox/homebrew-kn-plugins/blob/main/func.rb#L4

In case of a func release this repo needs to be updated manually (by sending a PR with the updated version numbers, plus potentially copying over the original version to a `func@0.18.rb` like done for the version

[2022-01-27 19:42] lance commented on #268
OK - I'm going to close this in favor of an issue to do this

[2022-01-27 19:42] #268 closed

[2022-01-27 19:44] lance opened #794 "Update brew repo with func 0.19"
Per @rhuss

/kind bug

[2022-01-27 20:16] lance opened #795 "Figure out best way forward with changelog.md"
Now that we are leaving release-please behind, in favor of knative release infra, we need to figure out a good way to automate the changelog.md and version.txt updates for each release. This could probably be handled in `./hack/release.sh`.

/kind bug

[2022-01-27 20:50] nainaz opened #796 "brew install/upgrade not working correctly."
brew install kn func installs v 0.18.0 version.
brew upgrade kn func doesn't update it to the latest package.

[2022-01-27 20:53] lance commented on #796
Closing as duplicate of https://github.com/knative-sandbox/kn-plugin-func/issues/794

[2022-01-27 20:53] #796 closed

[2022-01-31 06:16] lkingland commented on #784
Thanks; this is working as expected. The default output from `func version` should be simply the semver tag, such that it is both simple, and easy to use in nontrivial commands (such as `diff`ing the versions of two binaries.  The data you're looking for is in `func version --help`:
[code]
So, as with the other commands, the `-v` (`--verbose`) flag returns more information.  In this case it return

[2022-01-31 06:16] #784 closed

[2022-01-31 15:44] dsimansk opened #801 "Auto-release job failing due to conflicting branch names"
This's sort of a bug report wrt CI infra. I'd like to capture my thought on auto-release job failures, that we spotted last week.

Log of the job e.g.:
https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-sandbox-kn-plugin-func-auto-release/1488124573319696384

IMO, the root cause of the failure is branch conflicting naming to what the `release.sh` expects.  The `v` (in release-v0.20.1) i

[2022-01-31 18:25] lance commented on #801
I noticed this too last week before I had to leave, and wondered myself what the best way forward would be. Thank you for taking the initiative here! My gut instinct was not to remove the branches, but instead find some way to rename them. However, I think that might introduce some unnecessary work/complexity, and now I am leaning towards just deleting the branches.

Typically, we would want to ma

[2022-02-01 09:00] salaboy commented on #765
Looking at this comment in `functions_buildtype.go`:

[code]
It seems that we are using BuildType `git` for remote builds.. which I think is fine.. so to avoid confusion I think that removing `BuildTypeRemote` comment will make sense..

Is there any other way to do a git build without being remote? Is there a local remote git build? meaning that a git repo is cloned locally and built?
Does it make

[2022-02-01 09:13] zroubalik commented on #765
@salaboy the idea is to use `git` type for the current git based workflow and `remote` for the approach, where on cluster build is being executed from the source code directly uploaded to the cluster (ie. without git), ie. usecase 2 from https://docs.google.com/document/d/1iQFVtfsrYb4pp616h3B_IXQB1Cck1oxt7ypZyU8ChzE/edit#heading=h.pvswm4g8giw9