[2022-02-01 09:27] dsimansk commented on #801
Yep, I'd go with your suggestion. Until tags are untouched, release branches should be recoverable.

@rhuss a little heads up, all the branches in question are protected of course. :superhero:

[2022-02-01 15:41] trisberg opened #804 "Schema validation errors for func.yaml"
I have the latest client and func plugin

[code]

Creating a new function using:

[code]

Now if I open `func.yaml` in VSCode I see all these validation errors

[code]

Clicking through to the schema that VSCode is using I see

[code]

[2022-02-02 02:05] #804 closed

[2022-02-02 07:47] matzew opened #808 "Build error with Podman 3.4"
Following this guide:
https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/guides/podman.md

Getting the following after a successful build:

[code]

Podman:

[code]

[2022-02-02 09:40] Shashankft9 opened #809 "On cluster build not working for a golang function"
I am following this doc: https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/guides/on-cluster-build.md and have compiled func cli from main branch.

I created function in go language.
When I am doing `func deploy`, it fails with:
[code]
Upon taking a look at `step-create`, it says:
[code]

I wonder if its because go functions require some scaffolding with boson go buildpack and that

[2022-02-02 10:14] zroubalik commented on #809
@Shashankft9 you are right, that's the problem.

@lance did this PR: https://github.com/boson-project/packs/pull/5

We just need to set the proper builder for Golang based func projects.

[2022-02-02 10:35] embano1 commented on #695
+1

Also the behavior is strange. If I explicitly disable `build`, why would it still try to push the specified image? `kn func deploy --build=false --image kind.local/my-image`

[2022-02-02 11:19] Shashankft9 commented on #809
sure, related question - something like the PR you linked has to be done for rust runtime as well I believe? Since it uses one paketo community buildpack which is not included in the the paketo buildpacks builder.

[2022-02-02 11:39] matejvasek commented on #808
https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/guides/podman.md#known-issues didn't help @matzew ?

Also with func +v0.20.0 you shouldn't need start service https://github.com/knative-sandbox/kn-plugin-func/pull/648

[2022-02-02 11:49] matejvasek commented on #808
Also we should update https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/quarkus/manifest.yaml .

[2022-02-02 12:31] matejvasek commented on #808
@matzew also maybe this may be workaround-ed by using `:tip` tag for your builder images in `func.yaml`.

[2022-02-02 22:29] trisberg opened #811 "More schema validation errors for func.yaml"
The latest fix in #805 resolved most of the issues from #804 but I'm still seeing these errors opening `func.yaml` in VS Code:

[code]

[2022-02-03 15:42] zroubalik commented on #811
Those properties are present in the schema.json, you can check that yourselves: https://github.com/knative-sandbox/kn-plugin-func/blob/b4e6318ce5ec6bab1d48113c517221eb8d34744e/schema/func_yaml-schema.json#L67-L77

I don't see any errors in my VSCode (it is referencing the correct json (https://raw.githubusercontent.com/knative-sandbox/kn-plugin-func/main/schema/func_yaml-schema.json). It is more l

[2022-02-04 14:39] trisberg commented on #811
If I use the plugin to create a function I don't get those required fields in the YAML

[2022-02-04 14:53] trisberg commented on #811
Also, If I add them, then validation passes but I  can't build the function

[2022-02-05 05:19] senthilnathan opened #814 "'func create -c' fails when go is chosen as the language runtime."
RELEASE:
    The issue is observed in HEAD.

Steps to replicate the issue:
  Run 'func create -c' and to select go as the language just press enter without using the arrow keys to move up and down.
[code]

[2022-02-07 09:10] #814 closed

[2022-02-07 10:07] salaboy opened #817 "Refactoring `func.yaml` file to follow a CRD format"
Currently, the `func.yaml` file describes a Func project and it follows its own conventions and [schema](https://github.com/knative-sandbox/kn-plugin-func/blob/e918f74b9e177989ac520ae430dd5f232b393deb/schema/func_yaml-schema.json) for defining and validating the available configuration values.

By refactoring `func.yaml` to a CRD-like resource we can:
- Reuse existing Kubernetes API machinery to w

[2022-02-07 10:40] zroubalik commented on #811
@trisberg that means that you are using old build of `func` binary. Please try the latest version from `main`.

[2022-02-07 13:52] dolfolife commented on #817
I love the concept of making `func.yaml` more K8s align. I think it is natural to read files that feel familiar rather than learning a new structure/schema.

The only question I have is the aggregation of how a function is going to be built and its runtime structure.

I see benefits in keeping them separate and developing those for the best use of their domain.

For example, since we are using bui

[2022-02-07 15:44] trisberg commented on #811
@zroubalik you're right, if I build the latest it works but not if I use the most recent release. Closing this for now.

[2022-02-07 15:44] #811 closed

[2022-02-07 17:47] evankanderson commented on #817
It's pretty common for kubernetes controllers to use parts of the `spec` to generate sub-objects, which could include both a `project.toml` and a Knative Service. This seems reasonable, and is, in fact, how Knative Services compose a Route and a Configuration.

With that said, it feels like there are some aspects of the proposed YAML that shouldn't be part of the yaml:

1. `registry` feels like it

[2022-02-07 17:54] evankanderson commented on #817
With respect to item 5, writing `status` locally to file seems like an interesting question, particularly in a git-operated world; would the `status` be committed back to `git`? What if I'm operating on a local clone that isn't updated to the latest?

Having `func.yaml` be read-write from the tool (rather than having a separate status file) also makes it hard to use `.gitignore` to avoid storing t

[2022-02-07 18:06] salaboy commented on #817
All good questions and @evankanderson you make a point on some of the fields like registry and git... I was just trying to map the existing fields to the new proposed format. I was thinking that registry should external yes.. in the kube world that would come from a configMap or something similar.

Since I started working with `func` I had this issue with locally modifying the `func.yaml` file, I

[2022-02-07 18:10] lance commented on #817
I like this proposal, and also some of the other suggestions such as embracing `project.toml` to describe the build parameters. It would really ease pipeline integration with external tooling, imo. But I don't think `project.toml` should replace `func.yaml` (I know that's not what is being suggested - just being clear). Having a build descriptor external to the project descriptor would also allow

[2022-02-07 18:14] evankanderson commented on #817
I don't love TOML, so having `func.yaml` have a YAML equivalent of the necessary settings makes sense to me.

[2022-02-07 18:17] evankanderson commented on #817
Two further comments:

1. Adding `apiVersion` and `kind` makes it easy to detect if we've been handed a "wrong" YAML file, and makes it easier to iterate by adding explicit conversion steps rather than trying to "smear" field value changes.
2. I'm not sure whether we need a full set of `metadata` (e.g [Kind doesn't have `metadata`, but does have `apiVersion` and `kind`](https://kind.sigs.k8s.io/do

[2022-02-07 20:09] lance opened #819 "Specifying `--confirm` and `--repository` results in error for `func create`"
When specifying both `--confirm` and `--repository` in a call to `func create` an error is thrown in spite of valid input.

[code]

[2022-02-07 20:10] lance commented on #819
Update: when you actually type in `go` at the `Language Runtime:` prompt, it works fine.

[code]

[2022-02-07 20:36] lance commented on #801
@rhuss I think that covers it. Thank you!

[2022-02-07 23:24] lkingland opened #820 "handle missing and invalid values when prompting"
When a user provides an invalid option for a flag, a prompt selection default is not actually selected despite its UX showing selected.

When a flag or environment variable being used as a prompt selection is empty (has no default value), the selection default is not actually selected despite its UX showing selected.

In situations where a Flag is being used to directly set the default value for a

[2022-02-07 23:27] lkingland commented on #820
See #814 which illustrates the problem clearly.  See #815 for a first-pass solution.

[2022-02-08 02:15] evankanderson commented on #817
It might be interesting to look at e.g. helm post-processing or argo for some examples.

Single-disclaimer: VMware Tanzu does a lot of additional composable thinking about converting source code to a deployable artifact, so I may have commercial conflicts.

Double-disclaimer: I'm nervous about assuming that `func` as a program / interface will know best about how to get a user's code to production

[2022-02-08 02:17] lkingland commented on #817
...

These are good examples of why it may be helpful to think of `func.yaml` as something a bit unique.  It contains information that is a superset of the artifacts deployed to the cluster.  In particular, it is perhaps more accurate to think of it as the state state of Function metadata which, in conjunction with the source code and assets themselves, constitute a fully serialized Function suita

[2022-02-08 02:21] lkingland commented on #817
Providing an end-to-end out-of-the-box solution created from composable internal pieces seems the best of both worlds.  Does that make me a systemd apologist?

[2022-02-08 02:39] lkingland commented on #817
From function.go:
[code]
This is used to applying automated migrations (`func.yaml` is an autogenerated file) [when a Function is loaded from disk into memory](https://github.com/knative-sandbox/kn-plugin-func/blob/main/function.go#L157).

[2022-02-08 05:49] xtreme-sameer-vohra commented on #817
The CRD approach definitely helps in this regard. As an example, this would make it easy to extend the Sugar controller to do some automation around Trigger/Broker creation on behalf of functions -> driven by labelling/annotations.

[2022-02-08 09:02] salaboy commented on #817
@evankanderson @lkingland @lance We can talk about this in today's meeting. I feel confident to maybe go the next step and think through all these comments and suggestions and comeback with a proposal that we can link here.. but first let's catch up later today in the weekly meeting.

[2022-02-08 14:26] #709 closed

[2022-02-08 20:02] lance opened #822 "`func info` and `func invoke` should not require Knative eventing"
When running either `func invoke` or `func info` against a function deployed to a cluster that only has Knative Serving, but not Knative Eventing installed, the user receives an error.

[code]

[2022-02-09 11:04] #822 closed

[2022-02-09 20:24] #820 closed

[2022-02-11 12:03] Shashankft9 opened #827 "Handling source files deletion in on-cluster-builds"
While doing on cluster builds for go runtime, and making use of the builder `ghcr.io/boson-project/go-function-builder:tip` compiled from: https://github.com/boson-project/packs, I noticed that the custom buildpack in this builder is attempting to remove source files so that they dont appear in the final runnable image, and this won't really cause a problem when using the pack cli or its go client

[2022-02-14 15:02] zroubalik commented on #817
I really like the structured `func.yaml` - it is much more clear from UX. I like it.

If we are going to do this kind of big change, then I think that we should add one thing that would improve `func.yaml` a lot - support for comments in the file. This would probably require some custom marshaller, but I think that we should do this.

[2022-02-15 22:32] xtreme-sameer-vohra commented on #794
Would it make sense to automate this since this will keep happening (eg. https://knative.slack.com/archives/CUU6LEMRT/p1644896058641159 and current released version is v0.21.2) ?

[2022-02-16 09:28] salaboy opened #832 "Updating Spring Boot templates to use latest versions of Spring Cloud Functions and other minor updates"
The Spring Boot template has some strange things and relies on an old version of Spring Cloud Functions that has some issues that were already fixed in newer versions

- Update to Spring Cloud Functions 3.2.2
- Use Spring Boot Actuators instead of @Bean for health checks
  - Change the health endpoints in `func.yaml`
- Remote company reference in example
- Improve Function Signature to use Message

[2022-02-16 15:06] lance commented on #794
@xtreme-sameer-vohra you're right! It should definitely be automated. For the time being, I've submitted a manually created PR. Thanks for reminding me of this issue!

[2022-02-16 15:06] lance commented on #794
/assign lance

[2022-02-16 17:45] trisberg opened #834 "Unable to run 'make' on project on macOS"
If I try to build the project on macOS, then I'm getting an error when running `make`.

[code]

I believe this is due to macOS shipping an older version of `bash`

[code]

[2022-02-16 18:09] lance commented on #834
Thanks for reporting this @trisberg - I think the best we can do here is find a good place in the documentation to note that a modern `bash` is required for contributors. Remarkably, the version shipped with MacOS is 15 years old! :roll_eyes: In case it helps, here is an article from a while back documenting one way to upgrade to a more recent version using `brew`. https://itnext.io/upgrading-bash

[2022-02-16 18:28] trisberg commented on #834
strange thing, I'm not getting this any more, maybe it is not hitting that code path?

[2022-02-16 22:54] shinigambit commented on #765
I see we are using --build and --git but we still need to specify the git revision (branch) too. Is that going to be a new flag for the command or is there another way it should be specified? @zroubalik @salaboy

[2022-02-17 10:07] zroubalik commented on #765
https://docs.google.com/document/d/1iQFVtfsrYb4pp616h3B_IXQB1Cck1oxt7ypZyU8ChzE/edit#heading=h.y2uopsqzp10k

As proposed there ^, it could be: `--git-url=https://github.com/zroubalik/test-function.git#mybranch` or it could be `--git-url=https://github.com/zroubalik/test-function.git --git-branch=mybranch` or maybe both? 🤷‍♂️

[2022-02-17 10:13] salaboy commented on #832
PR ready, just waiting for Spring Cloud release to be publically released in maven repos

[2022-02-17 10:19] salaboy opened #839 "Proposal: Update Go template to include an example that works out-of-the-box"
Following the Spring Boot template, which includes a working function and cloud events routing based on CE-Type or an expression, it will be great if the Go template includes some working examples following the same lines. We can apply the same example to other languages too.

The Go Template just include an empty Handle function, that by default uses a signature that doesn't return a CloudEvent a

[2022-02-17 10:22] zroubalik commented on #839
I think this is being tracked here: https://github.com/knative-sandbox/kn-plugin-func/issues/572

[2022-02-17 10:30] salaboy commented on #839
Is it ok to keep this as a sub-issue from #572 so we can use it to discuss the proposed example for Go only?

[2022-02-17 10:53] salaboy commented on #839
Added a PR with a simple example.. follows the same approach as the `spring-boot` template.. it helps to quickly have a runnable function to test and demonstrate

[2022-02-18 09:14] senthilnathan commented on #620
If it is possible, can all the outstanding tasks be converted to issues by someone with the permission?

[2022-02-21 09:16] lkingland commented on #839
The builtin Functions are not examples.  They are the minimum necessary to echo its imput (for integration testing), and pre-populate the user's new Function with the default function signature, in the language chosen.

For Example Functions, see the [Function Examples](https://github.com/boson-project/templates) templates repository.

[2022-02-21 09:22] lkingland commented on #839
Please see the discussion in #606 for the reasoning behind this decision.

tl;dr returning an error is go idiomatic, and avoids an extra import.  However, the default Function should have no actual implementation other than to echo back the event received, so perhaps we can use the more complex function signature and simply return the inbound `event`.

[2022-02-21 09:39] lkingland commented on #572
An example of this was completed in #741 for the Go templates that may be a useful example for other languages.

[2022-02-21 11:33] lkingland commented on #834
The `./hack/update-pkger.sh` script which causes this issue does not actually use the library imported (the offending line).  I will also make a note to use the Makefile directly, as this script only adds an additional layer of complexity, potential breakage, and as we see here incompatibility.

[2022-02-21 16:15] salaboy commented on #817
Document for proposal: https://docs.google.com/document/d/188xgLIXBTZZFdFL26JpVksPmQ1g-ADyAXe0EZDoQ3W4/edit#heading=h.pvswm4g8giw9 , ping me if you don't have access

[2022-02-21 19:06] #834 closed

[2022-02-22 13:08] #794 closed

[2022-02-22 14:39] omerbensaadon commented on #574
/shrug

[2022-02-22 14:40] omerbensaadon commented on #574
/unshrug

[2022-02-22 14:40] omerbensaadon commented on #574
/joke

[2022-02-22 17:58] lance opened #847 "On-cluster build: Use cluster internal container registry if available (eg. on OpenShift)"

[2022-02-22 17:58] lance opened #848 "On-cluster build: Implement `build` Task that doesn't require privileged cluster permissions or root"

[2022-02-22 17:58] lance opened #849 "On-cluster build: Code from private Git repository"
`git-clone` supports credentials, auth: https://hub.tekton.dev/tekton/task/git-clone

There should be a user friendly way how to add credentials that will be used by pipeline. Users shouldn't create additinonal resources themselves, all of it should be handled by `func` cli.

[2022-02-22 17:59] lance opened #850 "On-cluster build: Use unique PVC name used by a Pipeline"
[UPDATE] by @zroubalik :
Reasoning behind this: if for some reasons the PVC created for a function is not ready/healthy and we would like to re-create the function (or one with the same name) we won't be able to do so, because the Pipeline will fail on the PVC creation.

We can just append a random number to the PVC name, but we need to be sure that we are using the correct PVC for the function ->

[2022-02-22 17:59] lance opened #851 "On-cluster build: Configurable PVC size used by a Pipeline"

[2022-02-22 17:59] lance opened #852 "On-cluster build: Implement interactive prompt"
Currently, on-cluster builds are accomplished through the `func deploy` command. While there is a `--confirm` prompt for local builds it does not account for the possibility that the user would like to build on the cluster, and therefore does not prompt for that information. See:

![image](https://user-images.githubusercontent.com/15952/190496283-9fb6a1b3-76f4-4f55-9402-fb6452b1c5dd.png)

The `--c

[2022-02-22 17:59] lance opened #853 "On-cluster build: Verbose output from a Pipeline"

[2022-02-22 17:59] lance opened #854 "On-cluster build: Implement Tekton Task to check Function correctness"

[2022-02-22 17:59] lance opened #855 "On-cluster build: Print logs if Pipeline Run fails"

[2022-02-22 17:59] lance opened #856 "On-cluster build: E2E test for build from Git repository (public & private)"
- [x] Deploy on cluster a default function from a public git repository, from a default branch
- [x] Deploy on cluster a default function from a public git repository, from a feature branch
- [x] Deploy on cluster a default function from a public git repository, from a commit hash
- [x] Deploy on cluster a default function from a public git repository, from a tag revision
- [x] Deploy on cluster a

[2022-02-22 17:59] lance opened #857 "On-cluster build: Validate all Git options"
We should validate all options for `git`(`gitUrl`,`contextDir`, `revision`...), there are two scenarios:

1. if `build: git` is specified in `func.yaml`.
2. if `build` in `func.yaml` is not set to `git`, but `-b git` is specifed as a parameter for `func build|deploy`

Currently there is a problem if `build: local` is set in `func.yaml` and `-b git` is specified as a parameter and `gitUrl` is not s

[2022-02-22 17:59] lance opened #858 "On-cluster build: Pipeline triggered automatically by an action on GitHub"

[2022-02-22 17:59] lance opened #859 "On-cluster build: Pipeline triggered automatically by an action on GitLab"

[2022-02-23 01:27] #604 closed

[2022-02-23 13:26] lance opened #861 "Version in func.yaml is initially 0.0.0"
But after first build it's set to 0.19.0. This could be quite confusing for users, even though we tend to say that func.yaml is not intended to be for users directly.

Related: https://github.com/knative-sandbox/kn-plugin-func/issues/771

[code]

[2022-02-23 13:28] lance commented on #771
@jrangelramos this issue covers both the version, when displayed with `func version` and the `version` field in func.yaml. Since the first issue has been resolved, I am going to close this and I have opened #861 to track the latter issue.

[2022-02-23 13:28] #771 closed

[2022-02-24 20:29] salaboy commented on #839
@lkingland ok this is cool.. so I've created this repo to test:

https://github.com/salaboy/func-templates

Do you think if we create a repo `func-templates` or `func-examples` into the `knative-sandbox` org we can document the examples in the official docs?

[2022-02-26 09:10] salaboy commented on #817
@evankanderson @lance @lkingland @dolfolife @zroubalik @matejvasek It will be great to have some kind of voting between the different proposals for me to proceed.

I would love to hear concerns about having multiple resources with more targeted behaviours in contrast with keeping things as they are today.. a single file for build and runtime, which might complicate things even when we think about

[2022-02-26 16:59] evankanderson commented on #817
I added a proposal #3 (and maybe 3.5) which defines the `FunctionSpec` as the union of `FunctionBuildSpec` and either `ConfigurationSpec` or `RevisionSpec`.

I think there are some advantages of storing the `spec` in a shape which aligns with the underlying resource definitions on Kubernetes; the chief one is that it provides an on-ramp for users to learn about the underlying resources and resourc

[2022-02-28 01:52] matejvasek opened #864 "Resolve Windows CI failures for git backed Filesystem"
There are several skipped tests on Windows for git based Filesystem.

[2022-02-28 01:52] matejvasek commented on #864
https://github.com/knative-sandbox/kn-plugin-func/pull/860

[2022-02-28 07:55] lkingland opened #866 "Unable to run tests"
Running `go test ./...` fails with:

[code]

This appears to be because of the implementation of the new `IsOpenShift` function which assumes any error other than `NotFound` means the cluster is OpenShift:

[code]

[As Evan mentioned](https://github.com/knative-sandbox/kn-plugin-func/pull/825#discussion_r811520395_) in the PR [in which this check was added](https://github.com/knative-sandbox/kn-pl

[2022-02-28 07:58] lkingland opened #867 "Tests failing locally"
Running `go test ./...` fails with:

[code]

This appears to be because of the implementation of the new `IsOpenShift` function which assumes any error other than `NotFound` means the cluster is OpenShift:

[code]

As Evan mentioned in the PR [in which this check was added](https://github.com/knative-sandbox/kn-plugin-func/pull/825), there might be a better way to detect this:

_Originally posted

[2022-02-28 08:02] lkingland commented on #866
Closing in favor of a new Issue in which my direct link to the appropos PR conversation is correctly hyperlinked.

[2022-02-28 08:02] #866 closed

[2022-02-28 11:56] #765 closed

[2022-03-01 08:05] zroubalik commented on #215
/remove-lifecycle stale

[2022-03-01 13:15] lkingland commented on #867
This has been resolved

[2022-03-01 13:15] #867 closed

[2022-03-01 13:44] lkingland opened #872 "Subcommand help text incorrect when plugin"
The [recent update](https://github.com/knative-sandbox/kn-plugin-func/commit/1b8c2c3cf72e84d612fa75532d7cf9b2e877faf4) to replace the command help text prefix environment variable with a call to the root command's `.Name()` is unfortunately not fully functional.  It does work correctly on the root command but not on the subcommands:

When name is a multi-token value (such as when in plugin mode, a

[2022-03-01 14:07] lkingland commented on #839
@salaboy I think so, yes.  In fact that is exactly one of the use-cases in mind when adding the "extensible template repositories" feature!

[2022-03-01 14:21] jeffmaury opened #874 "func create should offer a structured way of getting the list of templates and languages"
As we use the func CLI as an API to create funtions in our tooling (VSCode / IntelliJ), the parameters are handled through UI (wizard,..) and we need the user to select the template before the CLI is invoked. So we should be able to retrieve the list of templates and languages

[2022-03-01 15:21] lkingland commented on #216
All the commands will now be passing their help text through a template preprocessor which will replace any instance of `{{.Name}}` with the effective command name (`func` or `kn func`).  So long as we are sure to use this variable in our future command help text expansion, we should be GTG here.

[2022-03-01 15:38] #839 closed

[2022-03-01 16:07] jeffmaury commented on #874
A single command is to be preferred for performance reasons. Also structured output (JSON or YAML) is better for maintainability

[2022-03-01 19:56] #768 closed

[2022-03-02 10:18] #872 closed

[2022-03-02 11:27] lance commented on #874
/kind enhancement

[2022-03-02 11:56] #216 closed

[2022-03-02 18:38] lance commented on #499
/remove-lifecycle-stale

[2022-03-04 08:19] zroubalik commented on #693
/remove-lifecycle stale

[2022-03-04 18:02] jrangelramos opened #880 "Springboot functions build takes too long"
Hello Func team.
Spring boot default function created using `func create -l springboot myfunc` takes too long to build.
A performed a test on my machine it took 22m28s just for `func build`

As a comparison a **Quarkus** default function (also jvm/maven basedt) took **2m36s** under the same machine/conditions.

Maybe here is not the right location for this issue, but the idea is to raise a discuss

[2022-03-04 18:04] matejvasek commented on #880
/cc @salaboy

[2022-03-09 14:08] salaboy commented on #880
@jrangelramos yes... that's because it is using spring native builds by default.. there is an open PR that will fix that.. I will try to finish it today.

[2022-03-09 14:09] salaboy commented on #880
@jrangelramos this is the right place for this discussion

[2022-03-09 20:35] lance commented on #706
/remove-lifecycle-stale

[2022-03-09 20:36] lance commented on #706
/remove-lifecycle stale
do it right this time

[2022-03-10 08:19] Shashankft9 commented on #809
Sure! but we will need to host the rust builder somewhere, just like the go builder. I don't know how I can do that, any pointers?
Note: the rust builder also deletes the source files, so the PR #830 will unblock that.

I think this might not be an immediate issue, but might come up for users later who are already familiar with buildpacks and want to use their custom ones in on cluster builds, may

[2022-03-10 10:15] lstocchi opened #891 "Verbose flag for repository list command doesn't work"
By reading https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/guides/commands.md#list-1 the flag `-v` or `--verbose` should also list the URLs of each repo but it only shows the names as if the flag it is not used

[code]

[2022-03-10 13:34] matejvasek commented on #891
Looks like there are two issue:
* URI is not printed for local FS repositories (the one starting with `file://`)
* For git repositories the URI should be printed but for some reason they are not printed at all.

[2022-03-10 13:36] matejvasek commented on #891
Hm for HTTP git repo the derived URI is `file:///home/mvasek/.config/func/repositories/https:` which is totally wrong.

[2022-03-10 13:56] matejvasek commented on #891
The `repository` sub-command takes flags `repositories` whereas for the `create` sub command it's singular flag `repository`. Why? Also why the `function.Repositories` struct has both `path` and `remote`? Wouldn't be URI enough?

cc @lance @lkingland

[2022-03-10 22:45] lkingland commented on #891
Create actually takes both but the plural is not documented to avoid confusion. "Repositories" means "use the installed repositories which are located on disk at this location" (default ~/.config/func/repositores) whereas the singular flat "repository" means "ignore repositories on/disk and use exactly this repository". For example at a remote URL.

[2022-03-11 15:22] #832 closed

[2022-03-11 15:34] matejvasek commented on #891
@lkingland  @lance  Could we merge these (non)plural flags to just one flag? I find it really confusing.

[2022-03-11 15:58] zroubalik commented on #891
+100

[2022-03-12 09:17] salaboy commented on #817
I will try to get a draft PR with Proposal #3 so we can start reviewing the details

[2022-03-14 09:22] zroubalik commented on #603
/remove-lifecycle stale

[2022-03-14 09:22] zroubalik commented on #817
Related: https://github.com/knative-sandbox/kn-plugin-func/issues/603

[2022-03-14 10:21] lkingland commented on #891
I'm sorry but these two settings have very clearly different purposes and can not be merged.  I do have a suggestion, however.  Since the path to repositories on disk is very unlikely to be used in most situations (perhaps for running in an automated environment, or in a headless, airgapped scenario), we can remove this as a flag, leaving it only as a configuration setting.  This will mean the onl

[2022-03-14 10:37] lkingland commented on #891
Here
[code]

Unfortunately no it would not be sufficient to use just a UR, since one is a 1:1 relationship, the other is a 1:many.  It perhaps might help to reiterate that the original requirements for the Extensible Templates Repositories system was to have it function in two modes:  using locally installed template repositories, or alternately to ignore installed repositories and use a single, r

[2022-03-14 11:41] jeffmaury opened #894 "repo add seems broken on Windows"
Using 0.22.0, I ran:

- `func repo add https://github.com/boson-project/templates`
- `func repo list`

But the last one gives me the following output:

`Error: parse "file://C:\\Users\\JeffMAURY\\.config\\func\\repositories/me": invalid port ":\\Users\\JeffMAURY\\.config\\func\\repositories" after host`

[2022-03-14 11:56] matejvasek commented on #894
@jeffmaury I believe I fixed similar issue already. Could you please check latest `main` version?

[2022-03-15 04:35] lkingland opened #896 "Better Differentiation between Repository and Repositories"
The system allows two orthogonal features:
1)  Create a new Function from a template in a repository at a specific URI
2)  Customize the location on-disk where locally-installed template repositories are kept

These are referred to, respectively as `repository` and `repositories`.   This overlap on the root "repository" causes confusion.

This is a valid concern, so we should remove (or at least r

[2022-03-15 04:35] lkingland commented on #891
I have created an issue to track differentiating these two settings that I hope captures the core of the situation:

https://github.com/knative-sandbox/kn-plugin-func/issues/896

[2022-03-15 10:27] zroubalik commented on #721
@matejvasek this is done, right?

[2022-03-15 10:27] salaboy commented on #817
I've created a very draft PR with the new structs as defined in proposal 3, https://github.com/knative-sandbox/kn-plugin-func/pull/898, I've added into the PR description the two formats and how the `export` command is working.

I do see 2 big challenges to move this forward:
- Move marshallers to use: "sigs.k8s.io/yaml"
- Use ConfigurationSpec from v1 "knative.dev/serving/pkg/apis/serving/v1" to

[2022-03-15 10:34] #721 closed

[2022-03-15 13:33] sudhirverma opened #899 "func cli take a lot of time to execute any commands on latest version of macOS."
macOS version: 12.3
func version: 0.22.0

On the latest version of mac `func cli` takes a lot of time to execute any command.

[2022-03-15 14:25] lance commented on #573
/kind MVP

[2022-03-15 14:28] lance opened #901 "Global configuration for functions"
Allow the user to set global configuration options, for example the image registry, with `func config --global`.

[2022-03-15 14:44] lance commented on #637
/remove-lifecycle stale

[2022-03-15 15:48] zroubalik commented on #817
Isn't this a little bit step back? If I recall correctly, that's exactly something we were trying to avoid, to hide the complexity and YAML editing from users. I agree that sharing specs is in general the right approach, I am not sure if it applies to this as well.

[2022-03-15 21:05] trisberg opened #903 "Need better instructions for integrating plugin with kn cli"
The docs in [integration-with-kn](https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/installing_cli.md#integration-with-kn) only point to the kn CLI docs that state that any plugin must have a `kn-` prefix. Curious why the `func` plugin doesn't conform to this out-of-the-box. I had to rename it to `kn-func` to get picked up as a `kn` plugin. This should at least be documented more cl

[2022-03-16 09:27] sudhirverma commented on #891
it would be good to have a list command in structured output (JSON or YAML) format.

[2022-03-16 14:20] #706 closed

[2022-03-16 15:35] matejvasek opened #905 "`func repo list -v` incorrect output when in git versioned directory."
[code]
`https://github.com/containers/podman.git` shouldn't be in the output.

[2022-03-16 16:06] salaboy commented on #817
@zroubalik maybe I am missing some context here about previous conversations.
If you check the PR https://github.com/knative-sandbox/kn-plugin-func/pull/898 you can see both files side by side. I do agree, the second YAML file has more indentation, as the structs are more complex. Something that was discussed and is specified in the document is that at least the YAML files and conventions are clos

[2022-03-16 16:49] lance commented on #891
@sudhirverma take a look at the `--output` flag.

[2022-03-16 17:05] matejvasek commented on #891
I think that for the `repo` sub-command the output is fixed, there is no `--output` flags,
some other command support it however.

[2022-03-16 17:13] lance commented on #891
Ahh right, I see. I was just considering `func list` not `func repo list`.

[2022-03-16 17:20] shinigambit commented on #791
@zroubalik you mean like changing the pipeline flag from bool to be the path to the with the pipeline definition?

[2022-03-16 18:16] lstocchi opened #906 "Invoking a specific http endpoint requires func.yaml"
I don't know if this is a wanted behaviour or not. If so, it would be good to know the reasoning behind it so to customize the experience on IJ/vscode as we're adding support for the invoke action in our plugins.

In the tree i have access to all functions, the ones that have been deployed and those that are only opened locally.
When i invoke a remote function or one by using a custom endpoint i r

[2022-03-16 18:40] #891 closed

[2022-03-16 19:00] nainaz commented on #901
**Context**: Enterprises and developers using the same configuration parameters that may be different from the default ones for creating functions currently has to change the values repeatedly. Cluster admin would like to set up the common and standard parameters for the developers

**Story**:

As Dina the developer,

I should be able set some global configuration parameters across my machine/clus

[2022-03-16 19:27] lance opened #908 "Add support for s2i builds"
The CLI is structured such that the builder is an interface. Currently there is a buildpack implementation, and a mock implementation for testing. We should additionally support s2i as a build strategy.

https://github.com/knative-sandbox/kn-plugin-func/blob/cad0a04276cbd0fe15a83afb68dc5fd680f47d48/client.go#L66-L70

[2022-03-16 21:02] #896 closed

[2022-03-17 17:52] #894 closed

[2022-03-17 17:54] matejvasek commented on #899
@sudhirverma are you connected to running `k8s` cluster?

[2022-03-18 17:54] lance commented on #899
@sudhirverma thanks for the response. I'm closing this now, feel free to open a new issue if you encounter any more problems on macos

[2022-03-18 17:54] #899 closed

[2022-03-18 18:19] lance commented on #906
@lstocchi the `invoke` command will examine func.yaml to determine some information about the function being invoked. For example, it uses func.yaml to determine if the function should be invoked with a CloudEvent or just simple HTTP, among other things. For almost all `func` commands, the CLI uses the func.yaml file in this way. Typically, a user would be in their project directory, typing `func

[2022-03-19 22:13] trisberg opened #912 "Update springboot http template to match the cloudevent template"
The cloudevent template was updated in #832, we should make similar changes for the http template.

[2022-03-21 16:02] lance opened #915 "Springboot CloudEvent template does not work with `func invoke`"
Using version `v0.22.0` a default springboot function does not work as-is with `func invoke`.

[code]

Now, in another terminal

[code]

Finally, what we see in the function logs associated with this curl request.

[code]

[2022-03-21 17:24] nainaz commented on #728
This has been fixed.

[2022-03-21 17:24] #728 closed

[2022-03-22 11:53] lstocchi commented on #906
Thanks @lance for the answer.

Yeah i was more focussed on a couple of scenarios when the user doesn't have access to the func.yaml of the deployed function. But this should be easily fixable by disabling the invoke action for the function which are not opened locally in the IDE.

These are the two scenarios

1) Let's say I'm working on a new function and i deploy it. Then i keep updating it local

[2022-03-22 14:20] matejvasek commented on #915
/cc @trisberg

[2022-03-22 15:31] #912 closed

[2022-03-22 16:45] trisberg commented on #915
It's definitely broken for v0.22.0 but should be fixed with recent changes in main branch

[2022-03-22 16:46] trisberg commented on #915
I'll make another PR to clean up some of the README content around ce-type routing

[2022-03-23 16:31] #915 closed

[2022-03-23 18:18] lance commented on #634
@evankanderson I've reopened this, since it got overly stale and was closed. If you and/or @salaboy think it's not needed, feel free to close again.

[2022-03-29 13:51] lance opened #922 "Provide an option to display headers with `func invoke`"
Currently the `invoke` command nicely echoes the response data from a function. But there is no way to see the headers. The `-v` flag is accepted, but has no effect. This should be changed so that `--verbose` or `-v` displays all received headers as well.

[2022-03-29 21:46] lance commented on #720
/remove-lifecycle stale

[2022-03-29 21:46] lance commented on #720
@jrangelramos is this still an issue?

[2022-03-30 16:19] evankanderson commented on #817
I don't think we should re-use the `Service` CR. I *do* think that re-using one of the existing types will make it easier for users to transition between Knative YAML resources and Func YAML (in both directions), which makes it an attractive on-ramp.

My suggestion would be to use one of [`RevisionTemplateSpec` (the sole parameter in `Configuration`](https://knative.dev/docs/reference/api/serving-

[2022-03-31 14:23] lkingland opened #928 "Worklows failing"
Knative workflows are failing with:

[code]

[2022-03-31 14:27] salaboy opened #929 "Review and update spring cloud functions dependency for CVE"
- Reference: https://spring.io/blog/2022/03/29/cve-report-published-for-spring-cloud-function

[2022-03-31 14:27] #928 closed

[2022-03-31 16:51] matejvasek commented on #767
@mohitsuman what issue was this causing for IDE integration?

[2022-03-31 18:00] mohitsuman commented on #767
@matejvasek This is the issue it concerns with https://github.com/redhat-developer/intellij-knative/issues/93

@lstocchi can you add some more details for this issue.

[2022-04-01 10:09] zroubalik commented on #848
Builpacks taks update: https://github.com/tektoncd/catalog/pull/959

[2022-04-01 12:00] #847 closed

[2022-04-01 14:47] #377 closed

[2022-04-01 16:02] matejvasek commented on #767
After some investigation I think the issues is not on `func`/`kn func` side.
https://github.com/redhat-developer/intellij-common/issues/135

[2022-04-01 16:02] matejvasek commented on #767
@mohitsuman @lstocchi ^^^

[2022-04-01 16:17] matejvasek commented on #767
https://github.com/redhat-developer/intellij-common/pull/136

[2022-04-01 17:48] lance commented on #929
The dependency that is used by the templates is `spring-cloud-dependencies` version 2021.0.1. This is an umbrella dependency that just pulls in a bunch of other dependencies. Reading [this blog post](https://www.dynatrace.com/news/blog/what-is-spring4shell-vulnerabilities-in-the-java-spring-framework/) about the issue, we are affected by “Information Exposure in Spring Cloud Function”, with a miti

[2022-04-01 19:23] lance commented on #817
We do already derive the full image name, however it's typically only done once when the function is built the first time. https://github.com/knative-sandbox/kn-plugin-func/blob/00d5a8272284ea40ebeefa4f22f12c2d375aadae/function.go#L280-L293

We would still need to store some information such as the registry, and func.yaml has of course been the place where we do that.

As it is today, there is an

[2022-04-01 22:00] lance opened #937 "Spring templates do not have a `test-templates` target in Makefile"
Currently the Makefile does not have a target for `test-springboot`. And the tests appear to still expect string reversal instead of a simple echo.

/kind bug

[2022-04-04 11:00] zroubalik commented on #817
TLDR:  I do like the proposed solution in this issue description, I don't like the approach with `ConfigurationSpec`.

The "problem" I have with this proposal is, that we are basically going the opposite direction than we originally wanted to go -> We wanted to create a solution for developer and users, who would like to just implement a business logic and those who are not interested in Kubernete

[2022-04-04 13:48] evankanderson commented on #817
I'm wondering whether the registry should be part of the function definition; it seems plausible that you might build and push a function to different registry locations for local-ish development and production deployment.

It seems like we might want a `func.yaml` for invariants (like build pack or resource requirements) and an `env.yaml` or the like for per-environment settings. This would allow

[2022-04-04 13:54] evankanderson commented on #817
To be clear, I think the ideal `func.yaml` is zero lines, and I don't want to make users enter a lot of boilerplate or even have to read it.  However, if users do have to interact with it, I'd love to get a little bit of reuse and familiarity with Kubernetes rather then reinventing the wheel.

I'm guessing for min/max scale, the objection was that the default Knative annotations are long and names

[2022-04-04 16:52] #929 closed, assigned to lance, salaboy

[2022-04-04 19:04] jrangelramos commented on #720
Hi @lance  the issue still persists. However it sounds to me that connection thru a TCP connection like that is a bad practice that should not be encouraged. So for that scenario (connect to a remote docker daeamon) using SSH connections should be the way to go by developers, so given that I'm closing this issue.

[2022-04-04 19:04] #720 closed

[2022-04-05 07:36] salaboy commented on #817
@evankanderson to your point if we can aim to have a minimal `func.yaml` file following the Kubernetes Resource-style, we can always use the CLI to modify it, also following other Kuberrnetes CLI, but this instead of changing remote resources, will change the local `func.yaml` file.

So for a minimal resource like this one:

[code]

We can default all the other values, and auto-detect the kind of

[2022-04-05 08:20] zroubalik commented on #817
^^ this specific part is the example of what I don't like about this approach. Why do we need to have there that complex structure? (ie `template.spec.container.image`). I understand the reason from k8s-world pov, but we should really try to look at it from Users POV.

To give you an example: Let's say I am a Java developer and I would like to specify some property (eg. `foo`) in the config, and I

[2022-04-05 08:22] salaboy commented on #817
@zroubalik I totally get your point on complexity, but I believe that the core of the issue is that we are using a YAML file and configuring a Knative Service. I am trying to find the right balance and minimum overhead to allow users to provide configurations for the resulting service. If we have our own structs to make the life of the user simple, we will limit on the configuration side.

By usin

[2022-04-05 08:32] salaboy commented on #817
@zroubalik I am trying not to go for the tecnical purity approach for sure.. That's why the original proposal was all about exporting the existing format into a new format that is closer to K8s. If we have import, export we can fine tune the more advanced configurations in a more complex format with an opt-in approach, instead of forcing the user to go with the complex approach by default.

If we

[2022-04-05 09:21] lstocchi opened #941 "Image name overridden when deploying in openshift sandbox"
I'm trying to deploy a function to my sandbox cluster. I want to push the image to quay registry but the cli tries to use the private one. Is this a bug or it is normal? If so, why? Thanks :pray:

The image field in func.yaml is empty before executing the command then it gets populated by `quay.io...` and then overridden.

[code]

[2022-04-05 09:41] zroubalik commented on #817
Yeah, absolutely agree that it is good that we have this discussion :)

Do you have any specific example?

[2022-04-05 11:42] lkingland opened #942 "Improve Builder Flag Names"
The `--builder-image` flag introduced in #923 presents possible confusion with `--builder`.

[code]
As is mentioned during code review, we should take the time to consider possible alternative names or a wholesale refactor of this feature.

[2022-04-05 12:52] #848 closed

[2022-04-05 13:45] lance commented on #619
/kind needs-validation
Need also a valid design and plan

[2022-04-05 13:46] lance commented on #619
https://github.com/matejvasek/func-dynamic-templates/pull/1

[2022-04-05 13:54] lance commented on #573
This can be deferred to post 1.0

[2022-04-05 13:59] lance commented on #499
Closing as complete to conditions required

[2022-04-05 16:07] #855 closed

[2022-04-06 07:32] salaboy commented on #817
As discussed in yesterday meeting, the group agreed on two things (please correct me if I am wrong):
- Refactoring of the func.yaml file into a simple but ordered structure (this should look like a CRD, but without reusing complex structures for now).. the effort from the beggining was to keep this file simple building a higher-level abstraction away from Kubernetes and containers. We are not look

[2022-04-06 14:19] #922 closed

[2022-04-06 21:06] lance commented on #908
@lkingland in https://github.com/knative-sandbox/kn-plugin-func/pull/923 you mentioned that it was the first step. Could you add some tasks here identifying the additional steps required to complete the feature?

[2022-04-06 21:26] lance commented on #942
I suggest using `--strategy` and `-s` for the builder type, e.g. `buildpack` or `s2i`. I can even see a `docker` strategy being reasonable at some point in the future, to allow developers to really customize the resulting image. And use `builder` or `builder-image` for the image name. I think `builder` might be better because it doesn't tie us down to an image as the only reasonable type of value.

[2022-04-07 06:59] zroubalik commented on #942
I like the proposal by @lance

[2022-04-07 13:52] #767 closed

[2022-04-07 14:14] lstocchi commented on #906
Closing it. We fixed our issue by disabling the invoke action for functions which are not opened locally but visible in the tree because deployed on cluster.

[2022-04-07 14:14] #906 closed

[2022-04-07 15:40] zroubalik opened #952 "On-cluster build: Direct code upload"
Upload the local code to the cluster and there intiate build. This will not use Git, but the code will be uploaded to the cluster, similar to s2i binary build.

[2022-04-07 19:05] mohitsuman opened #954 "Feature: Detect docker/podman is running using func cli command"
Currently when func cli works on build, run sub-commands, it requires docker/podman to be running. If the docker daemon is not running, the command errors out with the message.

To make the workflow more intuitive, we should detect whether the user has docker-daemon started and through cli command pass out the information. This information (structured output) can be used in IDE integrations and pr

[2022-04-07 19:06] nainaz commented on #573
I agree that cluster build, global configuration and s2i are more important feature.
I would still like this "mistake" from users turned into experience.
If we all think that it is "nice to have" I will stop pushing.  :)  :)

[2022-04-07 21:43] lance commented on #954
/kind enhancement

[2022-04-08 11:28] #572 closed

[2022-04-08 12:22] lkingland commented on #942
Agreed.  If we use `--strategy`, there is no longer a name collision on `--bulder` and we can move `--builder-image` back to just
 `--builder`.

[2022-04-08 12:26] lkingland commented on #908
In order to fully support S2I builds, I would presume we want to support them for all our "core" language runtimes, and for both docker and podman.    #923 proves the concept via the Node.js S2I builder, so unless I am misguided, the full list would be:

- [X] Node S2I Builder (#923)
- [ ] Typescript S2I Builder
- [ ] Python S3I Builder
- [ ] Go S2I Builder
- [ ] Quarkus S2I Builder
- [ ] Rust S2I

[2022-04-09 09:40] mohitsuman opened #955 "M1 support(darwin-arm64) binary is missing from the release 0.23.0"
The release changes mentions that 0.23.0 cli is supported for M1 build macOS. Referenced here https://github.com/knative-sandbox/kn-plugin-func/issues/932

But the release section does not have the `darwin-arm64` present for download. Please add the `darwin-arm64` binary.

[2022-04-11 13:30] #574 closed, assigned to lance

[2022-04-11 14:22] lance opened #960 "s2i builds of typescript projects issue concerning warnings"
The build completes successfully, but there are warnings that should be addressed.

[code]

/kind bug

[2022-04-11 14:24] lance commented on #414
/remove-lifecycle stale

[2022-04-11 20:01] shinigambit opened #964 "Add way to trust user defined buildpacks"
When building a function with `kn func build` that references a buildpacks without the `quay.io/boson`, `gcr.io/paketo-buildpacks` or `docker.io/paketobuildpacks` prefix, the build process will stop due to the buildpacks being not trusted.

As a developer I'd like to tell `kn func` that I trust specific buildpacks and the build process should not be halted when a function is built with a buildpack

[2022-04-11 20:04] matejvasek commented on #964
The build should work even if the used builder is not trusted.

[2022-04-11 20:04] matejvasek commented on #964
What's the error?

[2022-04-11 20:26] shinigambit commented on #964
Hi @matejvasek the error I get is the following:
[code]
I assumed this happened because the func.yaml file specifies `ghcr.io/vmware-tanzu/function-buildpacks-for-knative/functions-builder:0.0.9` as a builder

[2022-04-11 20:43] matejvasek commented on #964
I would take that with a grain of salt.

[2022-04-11 20:48] matejvasek commented on #964
This is not about trust to builder.

[2022-04-11 20:49] matejvasek commented on #964
@shinigambit your project was probably created by different `func` version that is compiled into the builder.

[2022-04-11 20:50] matejvasek commented on #964
Where is the source code of the builder?

[2022-04-11 20:52] matejvasek commented on #964
@shinigambit https://github.com/vmware-tanzu/function-buildpacks-for-knative/blob/main/buildpacks/java/go.mod#L11

[2022-04-11 20:55] matejvasek commented on #964
You need to update the dep, or create project by `func` v0.19.0.

[2022-04-11 23:23] shinigambit commented on #964
@matejvasek you are correct it seems like the mismatch between the `kn func create` and the buildpacks func dependency is causing the issue. Thanks for your help!

[2022-04-11 23:23] #964 closed

[2022-04-12 19:24] mohitsuman commented on #955
Now the release binaries are available in 0.23.1 https://github.com/knative-sandbox/kn-plugin-func/releases/tag/v0.23.1, hence closing this.

[2022-04-12 19:24] #955 closed

[2022-04-13 19:19] jrangelramos opened #971 "Default cloudevents Go functions responds with 500 error"
Go Functions created with default cloudevents template responds with 500 error (Internal server error)

[code]

On cluster message from pod
[code]

[2022-04-14 00:53] matejvasek commented on #941
Private cluster should be just default. If you explicitly set image by `-i quay.io/lstocchi/func2203:latest` then the image should be used. I seems to work for me. Could you please try with latest version?

[2022-04-14 00:59] matejvasek commented on #941
Nope. My bad. It's not works. It's a bug.

[2022-04-14 01:33] matejvasek commented on #941
It seems that registry `-r` take precedence before image in config.

See https://github.com/knative-sandbox/kn-plugin-func/issues/506

When you are on OpenShift cluster then the `-r` flag is defaulted to internal registry.

Workaround for now: `func deploy -v -i quay.io/lstocchi/func2203:latest -r ''` -- explicitly set `-r` to empty string.

[2022-04-14 20:15] jrangelramos commented on #937
Hey @lance  see #959 and #970

That may interest too https://github.com/knative-sandbox/kn-plugin-func/runs/6025659288?check_suite_focus=true#step:8:1

[2022-04-18 15:16] lance commented on #937
@jrangelramos excellent point - but I still think we should have a `test-springboot` target in the makefile that is triggered from `test-templates`.  When making changes to the templates, it would be nice to be able to run `make test-springboot` to validate them without having to wait for a full e2e.

[2022-04-19 10:47] lstocchi opened #974 "Credentials field gets overridden by "still building" message"
This issue is in cli v. 0.23/0.23.1. By using 0.22.0 everything works fine.

When trying to deploy a function and push the image in a private registry it asks for the credentials but the username field gets hidden and the `still building` message is visible. If you miss the moment when it asks for the username you don't know what's going on.

![error-deploy](https://user-images.githubusercontent.c

[2022-04-19 11:27] matejvasek commented on #974
This is weird. This issue should be present in both versions. You can avoid this by `-v` flag. @lstocchi

[2022-04-19 12:19] lstocchi commented on #974
Thanks for the suggestion @matejvasek!! I'm going to use this workaround until this is fixed :+1:

[2022-04-19 13:41] #695 closed

[2022-04-19 13:45] #633 closed

[2022-04-19 15:12] matejvasek opened #975 "Improved multi-arch support"
This is needed for better experience on various platforms.

Issues:
* On Apple silicon builds takes much more time because of overhead incurred by emulation of amd64 on aarch64.
* Deployment to clusters with architecture not matching the architecture of developers machine:
the image build on developer machine might not run in the cluster or it can run but with high performance penalty.

First step

[2022-04-19 18:43] bbtong opened #976 "Development Guide hyperlink 404's"
The "Development Guide" hyperlink in the initial README docs 404. It is not clear where to go instead to learn how to participate.

[2022-04-19 18:52] lance commented on #637
The requested behavior to ask, "did you mean 'cloudevents'" is very specifically geared towards an error message in the case of cloudevent templates. The current behavior, which was implemented after this issue was created, fixes this in a more generic but still acceptable way, in my opinion. I think this issue should be closed. /cc @nainaz @lkingland @zroubalik @matejvasek @salaboy

[code]

[2022-04-19 18:58] lance opened #977 "Update python templates to use a paketo builder"
https://github.com/knative-sandbox/kn-plugin-func/issues/446

/kind enhancement
/assign lance

[2022-04-19 18:59] lance opened #978 "Update quarkus templates to use a paketo derived builder"
/kind enhancement
/assign @matejvasek

[2022-04-19 19:30] lance commented on #976
/assign lance
/kind bug

[2022-04-19 19:31] lance commented on #976
@bbtong we recently rearranged the docs and it seems some links were missed. Here is the developer's guide. https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/function-developers/developers_guide.md

[2022-04-19 20:03] nainaz commented on #637
I agree with error message and suggestions for the options.
Aliasing would open a whole new set of possibilities and complications.
Agree that we can close the issue.

[2022-04-19 20:04] #637 closed

[2022-04-19 21:22] #971 closed

[2022-04-20 00:09] #977 closed

[2022-04-20 02:24] bbtong commented on #976
@lance Thanks!

[2022-04-20 07:22] salaboy opened #982 "Document and reference Github Actions for building and deploying func projects"
Building and Deploying functions can be performed purely by Github actions, without the need for any other tools.
This process needs to be documented and explained in the docs for people to be able to setup their repositories with these actions.

[2022-04-20 07:35] salaboy commented on #982
@thomasvitale is already working on implementing some GitHub actions workflows here:

https://github.com/ThomasVitale/kn-func-build

[2022-04-20 12:10] #976 closed

[2022-04-20 12:41] zroubalik opened #984 "On-cluster build: Enable custom buildpacks"
Currently there's no way how we can build a funcion on cluster with a custom buildpack.
For example Go runtime specifies these additional builpacks:
[code]

`pack` library used for local build handles this properly and pulls those additional builpacks.

Though `/cnb/lifecycle/*` binaries used by `buildpack` Tekton Task has only access to builpacks that are copyied into the buillder image:
[code]

[2022-04-20 19:25] matejvasek commented on #978
resolved by: #985

[2022-04-20 20:27] lance opened #986 "Deleting functions on OSD shows error messages related to Tekton pipelines"
A deployed function, when deleted, will show error messages if the user does not have proper permissions. For example on the Developer Sandbox, this error message is displayed.

[code]

I suspect this will be an issue for most multi-tenant environments.

/kind bug
/cc @zroubalik

[2022-04-21 07:27] zroubalik commented on #986
@lance are you sure you are using the latest `func`?

[2022-04-21 12:37] lance commented on #986
I will try confirming later today.

[2022-04-21 12:42] lance commented on #986
@zroubalik this is with a binary built from `main`

[2022-04-21 14:41] zroubalik commented on #986
That's really strange, because we don't delete any rolebindings:
https://github.com/knative-sandbox/kn-plugin-func/blob/bed3dfc9f6bc03b845936e28099ae581d54c97e8/pipelines/tekton/pipeplines_provider.go#L174-L178

It was present in the previous code, but I removed this in on of the latests iteration.

[2022-04-21 15:09] lance commented on #986
@zroubalik sorry - the original report was with an older version. I re-ran with `main` and didn't actually notice the difference (that rolebinding error was no longer there). This is what I see with `main`.

[code]

[2022-04-21 17:22] lance opened #989 "On-cluster build: s2i support"

[2022-04-22 06:27] zroubalik commented on #598
/remove-lifecycle stale

[2022-04-22 14:10] lance opened #990 "S2I builds ignore environment"
When building with buildpacks, a user's environment variables, as set in func.yaml are set in the resulting image. See here:

https://github.com/knative-sandbox/kn-plugin-func/blob/bbfb3e9f989b4f1d5fad1d38514055f188e3af18/buildpacks/builder.go#L179-L197

This does not happen for s2i builds.

/kind bug

[2022-04-22 20:34] #986 closed

[2022-04-25 11:27] lkingland commented on #857
It looks like we can perhaps accomplish the goal of these pointers (omitting empty values from the `func.yaml`) without the need to use the pointers to values by instead relying on the `yaml` library's `omitempty` field annotatin functionality.

In particular, by adding the annotation to the `Git` attribute of a `Function` [here](https://github.com/knative-sandbox/kn-plugin-func/blob/main/function

[2022-04-25 19:18] #990 closed

[2022-04-27 04:07] lkingland opened #995 "Build-strategy-specific Image Configuration"
Currently, the `builder` configuration in `func.yaml` sets a global builder-image override.  This is insufficient, because now that we support both buildpack and s2i build strategies, one builder is not compatible with another, so by specifying this value in `func.yaml` it effectively "pegs" the Function to one builder or another.

For expediency and backwards compatibility, the suggestion is the

[2022-04-28 01:40] csantanapr opened #997 "func build when using colima : Cannot connect to the Docker"
I'm using [colima](https://github.com/abiosoft/colima) container engine, and can use the `docker` cli with this engine

When I run `func build` I get the error
[code]

When using colima the docker.sock is located in another location as you can see in the docker contexts, colima is located in `unix:///Users/csantana23/.colima/docker.sock`
[code]

I have set the colima as the default docket context

[2022-04-28 02:20] matejvasek commented on #997
Setting the DOCKER_HOST envvar should help.

[2022-04-28 02:44] csantanapr commented on #997
Using DOCKER_HOST it doesn't work
[code]
I get error
[code]

[2022-04-28 03:02] matejvasek commented on #997
the thing is that from your machine PoV the socket is at unix:///Users/csantana23/.colima/docker.sock but that is probably not location from VM PoV, so socket bind/mount is not working

[2022-04-28 03:13] csantanapr opened #998 "broken in link in nodejs template"
creating a http or cloudevent function with `func create` and using node, the index.js has a link to the docs about `context` and is broken
[code]

[2022-04-28 03:14] csantanapr commented on #998
It should be https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/function-developers/nodejs.md#the-context-object

I was trying to figure out why the `context.log.info` lines was not printing

[2022-04-28 11:47] lance commented on #795
/remove-lifecycle stale

[2022-04-28 12:27] lance commented on #998
/kind bug
/kind documentation
The `context.log.info` uses the `FUNC_LOG_LEVEL` environment variable to determine when to log things. I believe the default is set to `warn` not `info`. But this should at least be documented in the template.

[2022-04-29 12:56] lance commented on #998
@csantanapr that turns out to be a bug. A fix for it landed here https://github.com/boson-project/faas-js-runtime/pull/110 but the release of faas-js-runtime with that fix is not included in the current templates for `func`. You can change that by modifying the dependency version for faas-js-runtime in your package.json file to `0.9.0`.

[2022-05-02 14:18] lance opened #1003 "`func invoke -v` should be more verbose"
When running `func invoke --verbose` the command will output HTTP headers for an HTTP function. But nothing changes with a CloudEvent function. Today I was working on a few different functions at once and had a couple of different kube contexts that I was switching between. Sometimes when executing `func invoke` I wanted the command to print information about what it endpoint it was hitting, and t

[2022-05-04 17:13] lance opened #1005 "On-cluster build: builder image required in func.yaml"
Currently, because we have defaults for the builder images, they are not set in `func.yaml` for functions created using the default builtin templates. However, the builder image name is required when running builds on the cluster. This causes friction with new projects, requiring the developer to manually set this value in the `func.yaml` configuration file. When it is not set, the following error

[2022-05-09 11:11] zroubalik commented on #636
/remove-lifecycle stale

[2022-05-10 19:27] lance commented on #908
@lkingland I believe the immediate goal is to have Quarkus and Node.js/TypeScript as S2I builders. So that's a success - yay! 🎊

As for the remainder.

- Python: https://catalog.redhat.com/software/containers/ubi8/python-39/6065b24eb92fbda3a4c65d8f - I hacked around on this and got it to work without too much trouble by adding an `app.sh` file with the contents `python -m parliament .` to a Python

[2022-05-11 06:27] lkingland commented on #1005
As we're discussing elsewhere, requiring that these values always be set in the `func.yaml` (rather than treat it as an override) causes some tangential challenges.  For example, how do we update default builders without invalidating previously created Functions?
I think the core problem here is that our Tekton pipeline is expecting that func.yaml include a defined builder, before the user has eve

[2022-05-11 06:42] lkingland commented on #908
Thanks for figuring out the Python magic knock sequence.  I tried adding the `app.sh` but was missing the explicit call to parliament.

It's nice to know we can move forward with what we have now, because we have support for our immediate goals.

I'd like to try perhaps using a thin container layer which adds S2I-specific requirements such that we can support Python and Go, without needing to add

[2022-05-11 19:16] #1003 closed

[2022-05-11 20:35] SelfhostedPro opened #1015 "Allow outputting into yaml"
Hello, I'd like to be able to output any manifests that would normally get applied to a kubernetes cluster into a local file in order to deploy functions following GitOps principals. Is this something that is feasible or already exists? (I didn't see if when searching through issues)

[2022-05-11 20:47] evanshortiss commented on #808
Seems like the link to the guide for using Podman with Func has changed. It's now: https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/reference/podman.md, just in case anyone sees the 404 like I did.

Changing to `quay.io/boson/faas-jvm-builder:tip` tag worked. Thanks @matejvasek

[2022-05-16 03:33] lkingland opened #1018 "S2I Node build fails when using dependencies"
When a dependency is added to a Node project, the resultant Function fails to run.

The following Function:
[code]
Yields the following error on `run`:
[code]
Thanks for the report @rhuss

[2022-05-16 03:34] lkingland commented on #1018
This appears to be a bug in S2I per @matejvasek 's investigation.

[2022-05-16 03:36] lkingland commented on #1018
It could be argued that the root cause of this problem is that `node_modules` should not be being sent to the S2I builder in the first place.  This can be accomplished using a `.s2iignore` file.  For Functions, this is programmatic.  While it would of course be best if the builder were smart about these things, we can take care of this on our end by providing an excludes regex in the build directl

[2022-05-16 17:36] ThomasVitale commented on #982
The work on the GitHub action is still in progress. In the meantime, this is an example of building and pushing an image using the func CLI explicitly in a GitHub Actions workflow: https://github.com/ThomasVitale/devoxxuk-question-1/blob/main/.github/workflows/commit-stage.yml#L72

[2022-05-17 22:36] lkingland opened #1022 "func.yaml per-builder settings"
The func.yaml currently specifies a `Builder` and `Builders` which are in need of update.

While it is possible the naming may change, to make it consistent with our current logic, the Builder setting would be removed, and the key of the `builders` map should be set to either `s2i` or `buildpack`, whose value is the builder image the named builder should use.

Currently, the value of Builder, if i

[2022-05-20 12:44] grafvonb commented on #215
Hi @rhuss! Are you still working on this issue? If not, I would try to solve it, based on your suggestion to use your code and ideas from `kn`. I have some years of knowhow in go, Cobra, Kubernetes&Co. I have already briefly analysed your solution for `kn` and the question would be if we need exactly the same for `func` or maybe something simplified.

[2022-05-24 12:16] jrangelramos opened #1025 "On-Cluster build: Nodejs fails to deploy"
NodeJS function fails to deploy on cluster using Tekton Pipelines.

Given that tekton is installed and tasks are created (from git-clone, func-buildpack, func-deploy) as on https://github.com/openshift-knative/kn-plugin-func/blob/serverless-1.22.0/docs/guides/on-cluster-build.md

... and func project is created, edited and pushed to git repo
[code]

On func deploy. The following error is observed

[2022-05-24 12:21] jrangelramos commented on #1025
A little more background.
It fails on the `func-buildpacks` tasks on the `results` step while trying to updata func.yaml on source workspace.

Per my inverstigations the source workspace (which is mounted and passed to the builder) is cleaned by the previous task (`create`)
https://github.com/boson-project/buildpacks/blob/main/buildpacks/nodejs/bin/build#L41

[2022-05-25 10:21] zroubalik commented on #859
/remove-lifecycle stale

[2022-05-25 10:21] zroubalik commented on #858
/remove-lifecycle stale

[2022-05-25 10:21] zroubalik commented on #854
/remove-lifecycle stale

[2022-05-25 10:21] zroubalik commented on #853
/remove-lifecycle stale

[2022-05-25 10:21] zroubalik commented on #852
/remove-lifecycle stale

[2022-05-25 10:21] zroubalik commented on #851
/remove-lifecycle stale

[2022-05-25 10:22] zroubalik commented on #850
/remove-lifecycle stale

[2022-05-25 10:23] zroubalik commented on #827
/remove-lifecycle stale

[2022-05-25 10:25] zroubalik commented on #215
@grafvonb would be great if you can take a look on this.

[2022-05-25 11:16] grafvonb commented on #215
Great, I'll take over.

[2022-05-26 11:59] zroubalik opened #1029 "When in cluster registry is used, correct namespace should be used"
Suppose I'd like to use in cluster registry, then if I do:
1. I am logged to namespace `foo`
2. `$ func deploy`, image is stored under `foo`
3. Set context to namespace `bar`
4. `$ func deploy` -> image still points to namespace `foo`, thus I am not able to deploy the function.
[code]

[2022-05-26 12:08] matejvasek commented on #1029
What is error? Failure to pull?

[2022-05-26 12:51] zroubalik commented on #1029
Yeah, no permissions to access the image (the namespace is part of the image name).

[2022-05-26 12:54] zroubalik commented on #1029
[code]

[2022-05-26 13:05] zroubalik commented on #1029
@matejvasek seems like, this is only related to on-cluster build. Because the KService is being deployed with permissions set to the ServiceAccount that belongs to the particular namespace.

[2022-05-26 13:07] matejvasek commented on #1029
@zroubalik  so when deploying from developer machine you can deploy service/image cross-namespace?

[2022-05-26 13:21] zroubalik commented on #1029
I think that it works because you are trying access namespaces that you have permissions to do so.

[2022-05-26 13:34] matejvasek commented on #1029
It is issue even for local development not only in-cluster-build.

Perhaps, but that would require quite a rewrite since image is set at `func create` and persisted in `func.yaml`.

[2022-05-26 14:10] zroubalik commented on #1029
That's not always the case, it get's populated during build/deploy.

[2022-05-26 14:57] #1005 closed

[2022-05-26 14:58] #1018 closed

[2022-05-31 13:44] #446 closed

[2022-05-31 13:54] lance commented on #908
Will open issues for Python, Go, Rust and Podman validation.

[2022-05-31 13:54] #908 closed

[2022-06-03 20:19] lance commented on #856
@jrangelramos thanks for providing these. I've added them all to the issue description as tasks (which could potentially be turned in to github issues if you want), and added the `Epic` label. As you find other test cases, feel free to just update the main issue description if you can.

[2022-06-07 11:15] #1022 closed

[2022-06-07 14:33] salaboy opened #1036 "Add test for Spring Boot template in Makefile"
Following Quarkus and other language templates add internal test here:

https://github.com/knative-sandbox/kn-plugin-func/blob/main/Makefile#L115

[2022-06-07 15:37] matejvasek opened #1037 "The `-f` flag of the `func invoke` sub-command does not work"
It seems only the `format` value from `func.yaml` is used, the flag seems to be ignored.

[2022-06-07 15:37] matejvasek commented on #1037
/cc @lance @lkingland

[2022-06-07 15:41] matejvasek opened #1038 "The `func invoke -f=http` sub-command uses from encoding not JSON."
I believe the `data` part should be send as s body of POST request.
The content-type should be set as standard HTTP header.
The other CE specific values (type,source,subject,time) should be ignored.

[2022-06-07 15:41] matejvasek commented on #1038
/bug

[2022-06-07 16:15] lance commented on #1038
Yes - agree.

Specifically, we should use `application/json` unless otherwise specified by the user.

We should not be using the cloudevents library at all for the HTTP requests, or attempting to approximate anything other than a standard HTTP POST.

[2022-06-08 11:30] #1038 closed

[2022-06-08 18:33] zroubalik commented on #1025
I think this has been resolved by using packeto buildpacks.

Please reopen if needed.

[2022-06-08 18:33] #1025 closed

[2022-06-09 09:12] #1037 closed

[2022-06-09 13:09] lance commented on #1036
@salaboy I'm closing this as a duplicate of https://github.com/knative-sandbox/kn-plugin-func/issues/937
Feel free to reopen if you disagree (but explain!).

[2022-06-09 13:48] tvand opened #1049 "OnClusterBuild: Allow PVC size specification"
We use NetApp as a storage backend where the minimum PVC size allowed is 20MB. So during creation, the first run stalls because the 5MB default PVC cannot be created. It would be helpful to be able to override the default somehow.

[2022-06-09 14:00] tvand opened #1050 "quay.io/boson/faas-nodejs-builder cleans build directory, so step func-buildpacks.results does not find func.yaml anymore"
The Tekton task func buildpacks runs in three steps: prepare, create and results.

When using the faas-nodejs-builder image, one of the last steps of the build is to clean the build directory (see https://github.com/boson-project/buildpacks/blob/main/buildpacks/nodejs/bin/build, lines 39-41)

This causes the results step to fail because func.yaml does no longer exist.

[2022-06-09 14:00] zroubalik commented on #1049
This has been tracked here, let's continue there: https://github.com/knative-sandbox/kn-plugin-func/issues/851

@tvand this is a reasonable ask, are you willing to contribute this?

[2022-06-09 14:00] #1049 closed

[2022-06-09 14:04] tvand commented on #1049
I have no real experience with Go.

[2022-06-09 14:45] ocpvkb commented on #851
👍

[2022-06-09 14:48] zroubalik commented on #1049
There is never too late to start with Go :)

[2022-06-09 18:09] lance commented on #1050
Download the latest via `brew install func` or from https://github.com/knative-sandbox/kn-plugin-func/releases

[2022-06-09 18:13] lance commented on #998
Closing. Fixed in https://github.com/knative-sandbox/kn-plugin-func/pull/1000

[2022-06-09 18:13] #998 closed

[2022-06-09 18:14] lance commented on #1015
Hi @SelfhostedPro  - first - sorry for the latency in responding! You should track this PR where this feature has been proposed https://github.com/knative-sandbox/kn-plugin-func/pull/898

[2022-06-09 18:25] lance commented on #903
@trisberg the install document has changed a bit over the last few months. Can you please take a look and close this issue if it resolves your concerns? The document now includes a few different ways to install, including `brew install func` and direct download. The need to name a binary `kn-func` is no longer there.

[2022-06-09 18:57] trisberg commented on #903
Looks like I still need to rename when using a direct binary download

[2022-06-09 20:29] lance commented on #903
Well, you need to rename if you want to use it as a `kn` plugin, and don't have access to `brew`. But you can also just use it as `func` standalone. We don't intend to change the name of the binary for downloads, afaik. This is similar to how `kn` itself works. The downloaded binaries from github are named according to architecture.

https://github.com/knative/client/releases/tag/knative-v1.5.0

[2022-06-10 12:55] tvand commented on #851
Would it be feasible to generate a YAML file contains all the pipeline specifications initially and then use that, if it exists? That way, users can fix any issues they may have directly in the file. WDYT?

[2022-06-10 13:02] tvand commented on #1050
We use the kn version delivered with Openshift 4.8. Can we simply upgrade?

[2022-06-10 17:25] jrangelramos opened #1053 "S2I failures to build using podman"
S2I build failures when using podman either thru socket connection (process started by func) or thru ssh connection.

Using podman process started by func the below error appears
[code]

When using podman thru SSH the following is received (example podman machine on mac)
[code]

[2022-06-13 11:25] salaboy commented on #937
@lance thanks for doing this.. I will take care of this one

[2022-06-13 14:16] lance commented on #1050
Yes there should be no problem upgrading from a technical point of view.

[2022-06-13 14:47] lance commented on #851
@zroubalik I think there are a couple of issues already open around this idea in a general sense. There is https://github.com/knative-sandbox/kn-plugin-func/issues/1015 which is a generic request for yaml output for anything that `func` produces, and there is this https://github.com/knative-sandbox/kn-plugin-func/pull/898 which is about refactoring func.yaml and using it to generate resource yaml.

[2022-06-13 14:49] lance commented on #1015
There has been discussion around this in a couple of different areas - on cluster builds, service deployment, etc. Let's use this issue as a place to discuss what's needed, and to collate any new issues or PRs that get created as a result.

Currently, I am leaning towards the idea of a `--dry-run` flag for `func deploy` to generate yaml files.

[2022-06-13 15:33] zroubalik commented on #851
@lance you are right! Thanks for poiting this out

[2022-06-14 11:49] zroubalik opened #1058 "`--image` flag should allow specifying image digest with `func deploy`"
For s2i on cluster builds we need to find a way how to relay infromation about produced image digest from s2i build task to func deploy task. With Buildpacks approach we are modifying `func.yaml`, we would need to modify each s2i Tekton task to achieve the same.

Instead we should allow specifying image sha in the `--image` flag -> if sha is not present we will keep the existing behavior, if sha i

[2022-06-14 12:23] salaboy opened #1060 "Exporting Knative Service when requested in the CLI using --dry-run"
As discussed in this issue: https://github.com/knative-sandbox/kn-plugin-func/issues/817
As discussed in the weekly meeting

The `func` CLI should:
- Allow the user to export the Knative Service that is being created programmatically using --dry-run

This will allow users to save the resource and apply it manually if they want to override some configurations.

[2022-06-14 12:30] salaboy opened #1061 "Update Spring Boot Dependencies for Templates"
- Update Spring Boot & Spring Cloud versions to:
  - Spring Boot 2.7.1
  - Spring Cloud Functions 2021.0.3
  - Spring Native 0.12.1

[2022-06-14 12:32] salaboy opened #1062 "Update SpringBoot http template with echo"
Align SpringBoot `http` template with Echo response instead of `uppercase`:

https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/springboot/http/src/main/java/functions/CloudFunctionApplication.java#L16

Following Go Example:

https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/go/http/handle.go#L20

[2022-06-14 14:24] salaboy opened #1064 "TOC meeting planning 8 August 2022"
Let's use this issue to list topics that we want to bring up at the TOC meeting.

@lance @salaboy

- [WG Update slides](https://docs.google.com/presentation/d/1RIZTwNxXi35CmZM8lmc8qF0LF7dxKMvMN-rMF1Ikmvg/edit?usp=sharing)

- Update on 1.0 work: https://github.com/orgs/knative-sandbox/projects/7
- Update on documentation: https://docs.google.com/document/d/1wBpBA76nfgqoN6vKje7g1n7milB8l5gQZfuE49_te

[2022-06-14 17:24] #937 closed

[2022-06-14 18:58] mcruzdev commented on #1062
@salaboy, can you give me this issue?

[2022-06-15 01:04] mcruzdev commented on #1062
I will work on this issue :rocket:

[2022-06-16 20:10] #1015 closed

[2022-06-16 20:21] lance commented on #960
I'm closing this - it's an issue with the s2i builder and it does not seem to be causing a failure of any kind.

[2022-06-16 20:21] #960 closed

[2022-06-16 20:28] lance commented on #693
@shinigambit I was able to reproduce this with the following actions.

* `func create -l node test`
* `func build -p test --build disabled`

You need to be sure that you don't have `FUNC_REGISTRY` set in your environment. If you do, then it will just deduce the expected name of the function and attempt to deploy it, even though it has never been built. That's also probably an issue. But separate f

[2022-06-16 22:39] #693 closed

[2022-06-17 16:03] lance commented on #414
Now that we have moved to usage of paketo buildpacks across the board, I wonder if this is relevant any longer. In order to support this, we will need to create a func buildpack that runs in addition to the various runtime buildpacks. I'm leaning towards closing this.

[2022-06-17 16:05] #795 closed

[2022-06-17 16:06] lance commented on #808
@matejvasek @matzew I think this issue can probably be closed now as obsolete. wdyt?

[2022-06-17 16:07] #1050 closed

[2022-06-18 07:20] salaboy commented on #1062
@mcruzdev this seems to be done already right? Usually, if you include in the PR Fixes #<issue number> that will close the issue when the PR is merged.

[2022-06-20 07:31] salaboy commented on #1062
@lance, I think we can close this one.. I wonder if the only reason why this is not closed is because it didn't had the reference in the PR

[2022-06-21 07:31] salaboy commented on #880
I think we can close this one now, as the template has been changed to use non-native build, which can be enabled again by setting an ENV variable for the buildpack. IF this is still a problem please reopen.

[2022-06-21 07:31] #880 closed

[2022-06-21 07:34] salaboy commented on #673
I am closing this because I don't think we will be changing this soon, the detection mechanism today is based on having the `func.yaml` file. If we have a different proposal, or if we want to bring a new proposal for detection we should do so in a separate issue.

[2022-06-21 07:34] #673 closed

[2022-06-21 12:18] lkingland commented on #942
I think the initial confusion was caused more by a mismatch between the flag names and the structure fields, and now that we have refactored a bit, they are in sync.   Since the code is now aligned with these flag names `builder` and `builder-image`,  I would strongly suggest that we stick with _these_ names, since I believe the underlying reason for the confusion has been resolved.

[2022-06-21 12:48] lkingland opened #1075 "Enable auto builds on local deploy"
## Summary

The `--build=auto` option recently added to the `run` subcommand should also be added to `deploy`.

In order to support this complexity, and two additional scenarios (discussed below) I would suggest we separate the current deploy subcommand's flags into two:  `--remote` indicating the deployment should not be done locally but should instead trigger a remote on-cluster deployment and `

[2022-06-21 12:57] lkingland commented on #995
That is correct, in particular #1024 should probably have been set to resolve this issue

[2022-06-21 12:57] #995 closed

[2022-06-21 13:06] lkingland commented on #857
If #1075 is done correctly, it should also fix this issue.

[2022-06-21 13:14] lkingland commented on #636
To expand on this issue a bit, I was envisioning that the first time `func` is run, it will detect there is no user configuration, and the user will be prompted to run through a first-time setup, which is creating the global config (see #901).   One of the questions asked of course being the user's preferred default language (if any).

[2022-06-21 13:25] lance commented on #861
@salaboy nope - still an issue

[code]

[2022-06-21 13:31] lance commented on #861
I wonder also... should the version in func.yaml equal the current version of the binary?

[2022-06-21 14:13] lkingland commented on #861
The specific purpose of this version number is the last _migration_ which was applied, which is always the version number for which that migration applies.

There is nothing actually incorrect here (it's not a bug), but it does indeed cause confusion for a user looking at `func.yaml`.

The simple solution is to run migrations on `create`. None of the migrations will actually make any changes (the

[2022-06-25 07:34] salaboy opened #1077 "Align python template to return an echo as other templates"
The Python template is currently not aligned with other templates:

https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/python/http/func.py

This should be refactored to follow the go template:

https://github.com/knative-sandbox/kn-plugin-func/blob/main/templates/go/http/handle.go#L20

[2022-06-25 07:54] salaboy commented on #982
@ThomasVitale I am really interested in your idea of creating a native action with Typescript, can you paste here some links to some references about what you had in mind?
If we start with something simple for just building and publishing the function artifacts to ghcr it will be great.

[2022-06-25 12:21] ThomasVitale commented on #982
@salaboy After a few experiments, I came up with a possible solution for having support for `func` in GitHub Actions. And the TypeScript option gives the most flexibility there.

A first action would be something like **`func-setup-action`** for installing the `func` CLI and make it available on the current runner. By default, it would install the latest version, but an optional parameter could be

[2022-06-27 13:12] #942 closed

[2022-06-27 14:10] lkingland commented on #861
If `compatibleAfter` is not immediatly obvious then I agree, `migration` (which carries no liguistic baggaage) would be good; or perhaps most accurately `lastAppliedMigration`... though that's a bit verbose.
Just getting away from `version` will be 90% confusion reduction

[2022-06-27 20:35] lance commented on #808
Ping @matejvasek @matzew wdyt - this can be closed, no?

[2022-06-28 07:23] zroubalik commented on #1058
@gauron99 volunteered to implement this

[2022-06-28 07:54] salaboy commented on #817
@lkingland @lance @zroubalik @dolfolife after a couple of iterations looking at how to do the refactoring I've arrived at the following structure:

[code]

Nothing surprising here, but even trying to apply this "small" change has a large impact on the CLI. A more complete example:

[code]
Before moving forward with all the changes I would like to try to answer some questions to make sure that I wi

[2022-06-28 11:07] zroubalik commented on #817
+1 for this, really looking forward to have more streamlined function config.

Generaly looking good, my only concern is this section:
[code]
Shouldn't it be part of `build` rather than `run`?

As for the migration, the ideal approach would be to migrate any old func config version to this new version with any `func` command. I wouldn't keep support for both formats.

[2022-06-28 16:27] lance opened #1083 "The CLI should print the namespace a function was deployed to"
When a user runs `func deploy`, if the deployment is successful, they are shown the URL endpoint for their function. This is nice and useful, but it would be good to also print the namespace that the function was deployed in. This is because our target user may not be very Kubernetes savvy and as a result may not really understand the implications of deploying to one namespace or another (and may

[2022-06-28 17:20] vyasgun commented on #1083
/assign

[2022-06-28 19:28] lance opened #1084 "A Function's namespace should always be stored in func.yaml"
Currently, when a user deploys a function, if they do not specify the namespace using the `--namespace` flag, the default namespace/context is used. But we don't store that information in func.yaml. We only store it if the user explicitly specifies it.

Instead, the first time a function is deployed, the namespace should be recorded in func.yaml even if we just use the default.

On subsequent depl

[2022-06-28 19:42] lance commented on #861
/assign

[2022-06-28 20:53] lance opened #1085 "Document the --build flag for func run"
It's missing in this document https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/reference/commands.md

While at it, it would probably good to double check other commands and their parity with the documentation.

/kind good-first-issue

[2022-06-28 21:04] lance commented on #1085
Now that I've created this issue - I wonder if it's really needed. We have talked informally about letting the CLI help text be the actual documentation. The inconsistencies that exist may get fixed, but we'll soon find ourselves in another scenario where something is missing or old. Should we instead either 1) remove the existing reference doc, or 2) automate a build stage that does something lik

[2022-06-29 01:30] #864 closed

[2022-06-29 09:19] zroubalik commented on #1083
I'd try to keep the URL as the very last item in the output - from UX is imho better to locate and copy it then.

So output like:
[code]
Maybe even something like this;
[code]

[2022-06-29 12:24] lance commented on #1083
I like your second suggestion @zroubalik

[2022-06-29 12:52] zroubalik opened #1087 "`builder` should be persisted to the func.yaml"
Currently there’s only option to specify `builder` (`pack`/`s2i`) via cmd argument, there’s no way how to permanently specify `s2i` in func.yaml, it always defaults to `pack`.

We should persist the configuration to `func.yaml`.

[2022-06-29 13:03] zroubalik commented on #861
I am sorry, I missed this before.  I agree that `version` is confusing, though `migration` is confusing for me as well (as a non native speaker 😄 ).

What about `specVersion` instead of `version` ?

[2022-06-29 14:28] lance commented on #861
I think `specVersion` could work @zroubalik - just modified #1086 to reflect this.

[2022-07-01 09:22] #861 closed

[2022-07-01 11:22] gauron99 commented on #1058
/assign

[2022-07-01 11:25] gauron99 commented on #1084
/assign

[2022-07-01 13:44] salaboy opened #1094 "Docker Credentials being mixed up by func"
Having two docker credentials (personal and enterprise) accounts caused `func` to get confused and not respect the authentication that the docker command is using.

To reproduce:
- docker login with a user1
- func create + func deploy to that user1, this means that docker org will be `user1`
- docker logout
- docker login with user2
- change function docker org to user2
- func deploy -> this will

[2022-07-01 17:21] lance commented on #852
I started hacking around to do this in `func config`, but it’s odd because it’s not exactly like the others where you can add/remove items. Instead, you just provide new or updated values (or remove them). But the “add” terminology seems not exactly right. And “list” is OK, but I’d prefer “display”.

[2022-07-04 10:53] vyasgun commented on #1087
/assign

[2022-07-05 08:18] salaboy opened #1095 "Show user being used to push container images to registry"
The happy path of a `func` pushing a container image to the user specified in the registry is working as expected. But I think that we will start hitting cases where the container image needs to be pushed by a different user that doesn't own the container.

Related: https://github.com/knative-sandbox/kn-plugin-func/issues/1094

This feature request is to show the user that is being used to push th

[2022-07-05 09:02] salaboy commented on #1060
Quick update, I've written a comment on the `client` issue linked above to see if we can expand the `kn` client capabilities so we can reuse them here in `func`. I will create a draft PR in the meantime.

[2022-07-06 07:35] salaboy commented on #817
As per @lkingland's suggestion, things that don't belong to "build" or "run" shouldn't be forced to any, hence these properties that might be used by both `build` and `run` will be kept at the top level, as shown in the example below:

[code]

Notice also, that it makes a lot of sense to rename `build.build` to `build.type` as the go property was already called `BuildType` but it was serialized as

[2022-07-06 07:39] salaboy commented on #817
On a completely different note.. and I am guessing that this conversation happed before.. but context will be appreciated:
Do we need to render empty properties? My guess. is that we are rendering these properties:
[code]
To help the user know what is available, but my instinct tells me that for newcomers having a shorter file will provide a better and less confusing experience.

[code]
Any opinio

[2022-07-06 08:00] salaboy opened #1097 "Streamline `func create` for newcomers"
Currently `func create` takes a mandatory argument (language) in the shape of a flag. It also requires to be run inside an empty directory (unless you specify the path) which is not optimal or expected by all users.

## Mandatory arguments

Currently, the "language" flag is the only mandatory parameter so,

If you type `func create` on an empty directory you get:
[code]

This doesn't help a newcom

[2022-07-06 16:16] lance commented on #1097
We have talked in the past about entering "confirm" mode when a user types simply `func create` with no flags/parameters. See https://github.com/knative-sandbox/kn-plugin-func/issues/573#issuecomment-1017995470

Personally, I like this a lot.

[2022-07-07 02:08] nainaz commented on #573
@Mauricio Salatino ***@***.***> adding you to the issue that is
around create command for putting this as reference on new issue.
Thank you,
-N

On Wed, 6 Jul 2022 at 21:34, github-actions[bot] ***@***.***>
wrote:

[2022-07-07 06:30] lkingland commented on #1085
I think your other PR which generates help text from the commands also closes this issue @lance

[2022-07-07 12:55] #1085 closed

[2022-07-08 13:20] lance commented on #954
/remove-lifecycle stale

[2022-07-08 13:20] lance commented on #952
/remove-lifecycle stale

[2022-07-08 14:14] lance commented on #1094
@salaboy it's not clear if you found a workaround for this. If you did, can you please provide that here? Seems others have also recently run into this issue.

[2022-07-11 08:16] zroubalik commented on #791
/remove-lifecycle stale

[2022-07-11 08:28] zroubalik commented on #817
I can see the reasoning behind the decisions you have made on the fields related to image/registry, though I am still not happy with them being in the root of the config 😄

If we want to capture a resource running in the cluster, can we do it something like have a section for specifying a build, then configuration of the function and finallly the running state/deployment?:

TLDR:
-  rename `run` -

[2022-07-12 07:21] vyasgun commented on #1095
I'd like to work on this.

/assign

[2022-07-12 14:00] salaboy commented on #1060
https://github.com/knative/client/issues/1195

[2022-07-12 17:21] lance opened #1108 "Eventing Integration"
The `func` CLI should provide developers the ability to find, inspect and subscribe to event sources.

Initial feature track document: https://docs.google.com/document/d/1RvVVtEWhEH8LgJI5X9zYGbWIsRivAT1qOz9ADs4ZG_8/edit?usp=sharing

[2022-07-12 19:24] #1058 closed

[2022-07-13 08:12] zroubalik commented on #1108
@nainaz no this is more for triggers and sources wiring together with function deployment.

[2022-07-13 09:46] zroubalik commented on #1075
This would be quite tricky to achieve, because we don't have a representation of a function in the cluster (CRD), we would need to do some hacking on previous PipelineRuns? Might be possible though.

Again, we would need to probably inspect previous PipelineRuns to achieve this.

@lkingland I think that it is important to think about `the local source upload` usecase now, when we are designing thi

[2022-07-13 18:01] lance opened #1111 "Update rust function dependencies"
Dependabot has identified a few issues with the current rust dependencies. These should be updated.

##  regex

Advisory https://groups.google.com/g/rustlang-security-announcements/c/NcNNL1Jq7Yw

Upgrade regex to version 1.5.5 or later. For example:

[code]
[code]

## tokio

Affected versions: < 1.8.4
Patched version: 1.8.4

An issue was discovered in the tokio crate before 1.8.4, and 1.9.x throug

[2022-07-13 20:50] jcrossley3 commented on #1111
/unassign

I don't have the creds to see the security advisories. Feel free to reassign if you want to grant me that access.

[2022-07-14 01:14] lkingland commented on #1075
Yes I agree.  The second part "only rebuilding if the git repo has changed" is not on the immediate roadmap, but just an example of the logic that would be "complete" if we tried to respect the `--build=auto` for `--remote` builds.

I think the more important thing to notice here is the first part:  triggering a remote deployment without specifying a Git URL as source. Right now by default, this c

[2022-07-14 02:33] lkingland opened #1115 "cmd unit tests create func.yaml test file in source tree"
Running command unit tests leave a `func.yaml` in the source tree.

This is caused by `Test_imageWithDigest`

This appears to be a new issue, and from a quick perusal of the source, it _should_ be writing this to a temp directory due to the use of `Fromtemp()`

[2022-07-14 07:59] zroubalik commented on #941
/remove-lifecycle stale

[2022-07-14 10:14] zroubalik commented on #1075
Okay and let say that we have following usecase, how will CLI the experince (commands) look like then?

Let's have a function that uses on cluster build and points to a git repo, so I set the remote type and store the git url in the config. Then I would like to develop the function and would like to quickly iterate and build on the cluster, but I don't want to store these attempts in the git, but

[2022-07-16 08:30] salaboy commented on #1095
@vyasgun how is the issue going? Let us know if you need help

[2022-07-16 08:55] salaboy opened #1120 "Add metacontroller func example to func-tastic"
An interesting example to add to the `func-tastic` repository would be a `func` implementing a metacontroller controller.
I've already created an example here: https://github.com/salaboy/from-monolith-to-k8s/tree/main/kubernetes-controllers/metacontroller/func-conference-controller

But this needs to be simplified to work without the need of having other services available. We can do a simple exam

[2022-07-16 11:38] vyasgun commented on #1095
@salaboy I have started running into this credentials error `Error: denied: requested access to the resource is denied` when trying to push the image. `docker push` works for me for the same image. I am pasting some logs:
- docker login and docker push
[code]
- func deploy verbose
[code]
- my func.yaml
[code]

I also tried with `func deploy --registry docker.io/gunjan20` but it wasn't helpful.

I

[2022-07-16 17:26] nainaz opened #1122 "Help text in command prompt sometimes use functions and sometimes Functions"
![image](https://user-images.githubusercontent.com/36016404/179365614-4637da23-9b8f-490a-aee2-74a36d55a115.png)

Ask for consistency in writing Functions in the help command

[2022-07-16 21:18] vyasgun commented on #1095
Adding the log helped me see 2 issues:

1. The pusher is not using the value of `--registry` flag but extracting the registry name from the built image.

2. Pusher's method [GetRegistry](https://github.com/knative-sandbox/kn-plugin-func/blob/main/docker/pusher.go#L111) returns the default registry value of `index.docker.io` in my case. Replacing the registry string with full repository string help

[2022-07-18 11:11] #1095 closed

[2022-07-18 16:22] zroubalik commented on #1122
So the preferred is `Functions`?

[2022-07-18 17:24] lance opened #1124 "Generate documentation from help text embedded in source code"
In https://github.com/knative-sandbox/kn-plugin-func/pull/1089 we have removed hand-crafted documentation in favor of source code generated text. However, this is a rudimentary approach. We should modify this workflow to instead use `go generate` command to create markdown-ified text from the existing source files.

/kind enhancement

[2022-07-19 07:29] zroubalik commented on #809
/remove-lifecycle stale

[2022-07-19 07:29] zroubalik commented on #974
/remove-lifecycle stale

[2022-07-19 07:30] zroubalik commented on #975
/remove-lifecycle stale

[2022-07-19 12:20] gauron99 opened #1125 "func build with -i does not use given image name"
Using `func build -i docker.io/gauron/app:latest` doesnt create image named `docker.io/gauron/app:latest` but instead
`image-registry.openshift-image-registry.svc:5000/default/app` (name gets overridden)

* **Reproduce**:
`func create -l go`
`func build -i docker.io/name/app`

it looks to me like in `Build` function (client.go) the registry is populated with the openshift default registry and used

[2022-07-19 17:28] lance commented on #1125
Good catch!

[2022-07-19 17:47] lance opened #1126 "IDE Plugin Exploration"
The Red Hat Developer organization currently has Knative support for both IntelliJ and VSCode. In the case of VSCode, function support is currently in an early release stage.

https://github.com/redhat-developer?q=knative

[2022-07-19 20:07] lance opened #1128 "The use of "function" and "Function" should be normalized in user-facing text"
Looking at the CLI help, we are quite inconsistent in our use of "Function" vs. "function". For example, here is a section of the root command output.

[code]

I think we should change all user-facing text to use "function" instead of "Function", as I would like to reserve the capitalized naming for any eventual custom resource that we may end up with. When referring to this theoretical `Function`

[2022-07-19 20:13] lance commented on #808
Closing - I think this has been fixed. Feel free to reopen with further details if not.

[2022-07-19 20:13] #808 closed

[2022-07-19 20:13] jrangelramos opened #1129 "Func is no longer able to authenticate on `gcr.io` registry"
I'm not able to use gcr.io as container registry. On previous version of func `v.0.24.0` I was able authenticate on google with using gcloud as below, and `func deploy` used to grab the saved credentials from `~/.docker/config.json`

Currently, after authenticated, it requests for user/password and even entering the credentials (account + token) manually it can't authenticate

[code]

[2022-07-19 21:11] #1129 closed

[2022-07-20 09:22] zroubalik commented on #1122
As @lance mentioned on #1128 :

[2022-07-20 09:22] zroubalik commented on #1128
Imho a Duplicate of https://github.com/knative-sandbox/kn-plugin-func/issues/1122

[2022-07-20 09:25] zroubalik commented on #1125
@gauron99 nice, are you eager to fix this one? 😄

[2022-07-20 10:11] jramcast opened #1131 "Buildpack builds for Node cloudevents template fail on second run if no node_modules exist"
We are experiencing this problem with Node.js functions generated from the `cloudevents` template.

The `kn func build` command generates a working Node.js image in the first execution. However, in subsequent executions, the build command generates a failing image. When we run the second image with `kn func run`, we get this error:

[code]

We also noticed that **this problem only happens if we ha

[2022-07-20 10:28] matejvasek commented on #1131
/cc @lance

[2022-07-20 11:49] lance commented on #1128
It is a duplicate. Did not realize @nainaz had already opened this

[2022-07-20 14:20] lance commented on #1131
I have now reproduced the issue without using `func` at all. Here is the project

package.json
[code]
index.js
[code]
Create these two files in a directory and run the following steps.
[code]

[2022-07-20 15:40] lance commented on #1131
@jramcast thanks for reporting this issue. I have dug into it a bit and determined that the root cause is a bug in the paketo npm-install buildpack, and have opened an issue there. In the meantime, it seems that the bug only occurs when there is no node_modules folder locally. Perhaps for the time being, you can include an `npm ci` in your local workflow. Sorry about the inconvenience.

[2022-07-20 16:35] #1084 closed

[2022-07-20 17:48] lance commented on #984
/remove-lifecycle stale

[2022-07-20 18:58] lance commented on #1126
/cc @mohitsuman

[2022-07-20 19:21] mohitsuman commented on #874
@lkingland I see we have PR #1114 merged and it mentions partially fixing this issue. Can you please let us know which features are covered in the PR and which are missing?

This will help the IDE integration to start the work on supporting this workflow of templates and repos.

[2022-07-20 20:40] lance commented on #619
/remove-lifecycle stale

[2022-07-20 20:57] mohitsuman commented on #874
So the remaining bit is the list of templates as json output ?

[2022-07-20 20:59] lance commented on #874
Yes, as far as I am aware. I'm not exactly sure if Luke has anything else in mind.

[2022-07-20 21:02] mohitsuman commented on #1126
We have implemented and released the developer workflow for serverless functions for Visual Studio Code and IntelliJ.

Here are the download links for the extension:

- Visual Studio Code: https://marketplace.visualstudio.com/items?itemName=redhat.vscode-knative
- IntelliJ: https://plugins.jetbrains.com/plugin/16476-knative-by-red-hat

The workflow currently supports the latest kn-func cli experie

[2022-07-21 02:35] lkingland commented on #874
That's right, the forthcoming `templates` command will function much the same way, including a structured list of templates _with_ their languages.

[2022-07-21 04:53] lkingland commented on #1075
Yes, good question, and I tagged you in a couple of comments to the associated PR.

When I popped the question in chat, people seemed to agree that we should lean towards defaulting to save flags to func.yaml where possible.  So, for example, running `func deploy --git-url ...` would update func.yaml, and subsequent calls to `func deploy` will just use this updated value as the new default.

This

[2022-07-21 07:08] jramcast commented on #1131
@lance thanks for the quick response. Yes, installing the dependencies fixed the issue for us.

[2022-07-21 08:57] zroubalik commented on #849
/remove-lifecycle stale

@Shashankft9 any update on this please?

[2022-07-21 16:08] salaboy commented on #1131
@jramcast  @lance can we close this issue now ?

[2022-07-21 16:09] salaboy commented on #1111
@jcrossley3 @lance I am marking this as a first good issue.. any objections?

[2022-07-21 16:11] lance commented on #1111
It's a good first issue if you know Rust 😉 - sure that seems fine.

[2022-07-21 16:12] lance commented on #1131
@salaboy I'd like to keep it open to track as a known issue until the paketobuildpacks/npm-install buildpack provides a fix.

[2022-07-21 21:52] #974 closed

[2022-07-22 15:58] lance commented on #598
/remove-lifecycle stale

[2022-07-22 19:15] lance commented on #1120
I'm thinking I will create a metacontroller that monitors Knative Services having the label `functions.knative.dev=true` and update the service to have a new label `function.valid=true` or something else innocuous like that. WDYT is that too basic?

[2022-07-25 08:36] zroubalik commented on #989
/remove-lifecycle stale

[2022-07-25 08:36] zroubalik commented on #620
/remove-lifecycle stale

[2022-07-25 11:00] zroubalik commented on #215
@grafvonb any update on this please?

[2022-07-25 14:43] jrangelramos opened #1138 "Func deploy command output masks function URL on deploy command"
On func deploy command, the progress indicator (clock) does not disappear at the end so it masks a bit the actual function URL output

[code]
I think the URL should be fully displayed. i.e `https://func-node-http-functest.apps.jeramos.mycluster.dev.net`

[2022-07-25 15:22] zroubalik commented on #989
https://github.com/tektoncd/catalog/pull/1025
https://github.com/tektoncd/operator/pull/922

^^ this is needed to authenticate to container registry when pushing produced image

[2022-07-25 20:58] lance commented on #1138
@jrangelramos I think that the PR which merged last week should resolve this. Can you confirm with a local build? https://github.com/knative-sandbox/kn-plugin-func/pull/1133

[2022-07-26 13:54] jrangelramos commented on #1138
Hi @lance . Yes I tried a fresh clone + build in a fresh linux vm, and it still persist.

[2022-07-26 14:26] matejvasek commented on #1138
It works for me @jrangelramos .

[2022-07-26 14:40] matejvasek commented on #1138
@lance you fixed credentials overwrite, not url overwrite.

[2022-07-27 13:34] #1122 closed

[2022-07-28 09:36] salaboy commented on #817
@zroubalik I get your point; apologies for the delay in answering this.
I was trying to understand all the pieces involved in a change like this before focusing on the structure.

After checking with @lkingland, I do understand now the need for mapping the new sections (build, run, deploy) to the `func` commands. By doing this, we are linking the commands that can be executed with the parameters t

[2022-07-28 09:38] salaboy commented on #817
@zroubalik I wanted to make sure that I've covered your suggestion, let me know if I did or if I missed something. At this point I am convinced that mapping to the `func` commands makes a lot of sense from a functions developer perspective. Hence including `run` makes a lot of sense, but I do see `labels`, `annotations`, etc all related to just the deploy phase, hence having a `config` section doe

[2022-07-28 09:50] salaboy commented on #1064
@lance, as we discussed in our triage meeting, some milestones that we might want to have (brain dump) :

- **1.0.0 Release Cut**:  10/1/22 - 10/7/22
- ** Pre 0.99.0 Release**: 9/15/22
- **MVP Issues Closed**:
  - 9/1/22: we should decide by this date if all the MVP issues will make it into the release or what are the things that we will not manage to get in
  - Current high-priority topics:
    -

[2022-07-28 18:46] lance commented on #1064
@salaboy I am creating milestones in the github UI here https://github.com/knative-sandbox/kn-plugin-func/milestones?with_issues=no

[2022-07-28 19:03] lance commented on #1053
@jrangelramos what is the status of this issue? I feel like @matejvasek resolved this a while back, but am not sure.

[2022-07-28 19:11] lance commented on #634
@salaboy it's not clear to me what vmware plans are, but based on the conversation in last WG meeting, my sense is that this should be closed.

[2022-07-28 19:14] lance commented on #414
@knative-sandbox/kn-plugin-func-approvers I am closing this as it seems to be unneeded now.

[2022-07-28 19:14] #414 closed

[2022-07-28 19:16] lance commented on #603
Adding comments from @rhuss about this in https://github.com/knative-sandbox/kn-plugin-func/issues/598

Closing #598 as duplicate of this, assuming that we will add comments to func.yaml if possible during the implementation of this feature.

[2022-07-28 19:17] lance commented on #598
Closing in favor of https://github.com/knative-sandbox/kn-plugin-func/issues/603 which should encapsulate this request

[2022-07-28 19:17] #598 closed

[2022-07-28 19:17] lance commented on #215
Would love to see this in 1.0

[2022-07-28 19:23] jrangelramos commented on #1053
Hi @lance yea it seems it is.
using the process started by func ...
[code]

... I could quickly check it
[code]

[2022-07-28 19:26] lance commented on #1053
Excellent - closing

[2022-07-28 19:26] #1053 closed

[2022-07-28 19:42] lance commented on #1138
/assign

[2022-07-28 19:43] lance commented on #989
/assign @zroubalik

[2022-07-28 19:43] lance commented on #1111
/assign

[2022-07-28 19:43] lance commented on #903
/assign

[2022-07-28 19:48] lance commented on #984
/kind feature-request

[2022-07-29 05:32] grafvonb commented on #215
@zroubalik I will submit my status this coming weekend. Is that ok for you?

[2022-07-29 12:13] zroubalik commented on #215
@grafvonb sure, thanks a lot!

[2022-07-30 10:19] salaboy opened #1151 "Create KinD tutorial to test and gather community feedback for 1.0.0 release"
The scope of this tutorial is to gather feedback for the upcoming releases. This tutorial should be end-to-end, covering from prerequisites, installation, and usage of the `func` CLI.  It will be great to aim for a 20 minutes max step-by-step tutorial.

I see this tutorial split into two sections:

- Installation of tools:
  - This tutorial should include cluster creation using KinD or a script li

[2022-07-30 10:19] salaboy commented on #1151
It will be awesome if this tutorial is created by community members collaborating, I will be more than happy to help with the coordination.

[2022-07-30 11:11] kranurag7 commented on #1151
/assign @salaboy I would love to work on this.

[2022-07-30 11:26] lance commented on #1111
/unassign

[2022-07-31 16:30] grafvonb commented on #215
@zroubalik as discussed, I have checked the context, made a fork and run the core tests successfully on my Mac locally. So I am ready to start developing this change. Two questions before I start:

1. My plan is to reuse the parts of the code from the `fn` project, as suggested by @rhuss. I just don't want to reinvent the wheel. Is that ok with you from a technical and legal perspective?
2. @lance

[2022-08-01 07:13] zroubalik commented on #215
@grafvonb I suppose you meant `kn` project (https://github.com/knative/client/)? Then it is completely fine to use it and it is actually preferred :)

Thanks for contributing this!

[2022-08-01 07:18] grafvonb commented on #215
Yes, exactly `kn`, as you can see, I think about functions only ;).

[2022-08-01 07:31] zroubalik commented on #215
![approve](https://user-images.githubusercontent.com/726523/182096241-3bf265de-f3ea-493f-919a-007383d839a0.gif)

[2022-08-02 07:28] salaboy commented on #1151
@kranurag7 let's work together on this.. I have some other community member also reaching out, so let's get started..

[2022-08-02 07:30] salaboy commented on #1151
@kranurag7 We should try not to rewrite any existing tutorials or getting started guides.. but this should have a workshop style (step-by-step) and end to end.
Do you want to get started with the installation part:

[code]

As part of this work, I would like to ask you to document your experience and also your environment (mac, linux, windows) and versions of the tools that you need to install.

[2022-08-02 07:38] salaboy commented on #1151
@kranurag7 also.. I think that start gathering questions about the feedback that we want to get from new users is highly important

[2022-08-02 08:07] salaboy commented on #817
I would like to ask for feedback about: `registry` and `image`.

When I think of these properties from the point of view of where are they first used, I tend to think that this is `build` related. The build command will use the `func` name to create the image, and if it has `push` enabled, it will need the registry property.  I would leave the `imageDigest` in the `run` section, which can be reuse

[2022-08-02 13:11] #1138 closed

[2022-08-02 18:30] pmbanugo commented on #982
I'm interested in the issue. Currently, I install the CLI using curl.

[2022-08-03 17:20] kranurag7 commented on #1151
@salaboy I'm doing it like this. Just wanted to understand and take a quick feedback from you. Am I going in the right direction, or do I need to elaborate the steps a little more?

## Creating Cluster using Kind
I'm using Ubuntu 20.04 environment and if you're using any Linux distribution then the process should look similar according to me.
If you don't have enough resources locally, then spin u

[2022-08-05 17:07] salaboy commented on #1151
@kranurag7 yes.. I think this is good.. would you mind having that MD file in a repository? or in a fork of this repo?
Sections can be:

- Prerequisites (Docker, kubectl, KinD, etc)
   - For this, links to the tutorials on installing these will be more than enough as you probably don't want to replicate all the instructions.
- Creating a KinD cluster & Installing Knative Serving
- Creating a funct

[2022-08-08 09:44] daisy-ycguo opened #1158 "Question: do we want to support specific workload templates?"
Other than general language runtimes, do we want to support more specific workload templates in knative function? For example, Tensorflow or Pytorch. Do we want to support an extension mechanism to allow third party templates, just like [OpenFaaS store](https://github.com/openfaas/store)? Thank you.

[2022-08-08 12:56] lance commented on #215
@grafvonb you can track our progress towards 1.0 here https://github.com/orgs/knative-sandbox/projects/7/views/13

[2022-08-08 13:05] zroubalik commented on #1158
Absolutely. We support more specific templates via https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/language-pack-providers/language-pack-contract.md#extensible-language-packs

This repo should probably host these: https://github.com/knative-sandbox/func-tastic

[2022-08-08 16:23] salaboy commented on #1158
As @zroubalik I totally see some PyTorch and Tensorflow examples in https://github.com/knative-sandbox/func-tastic

[2022-08-09 09:04] daisy-ycguo commented on #1158
Great to know that. I would like to contribute some Tensorflow or Pytorch template. I understand where to go.
Thank you. @zroubalik @salaboy

[2022-08-09 13:53] lance commented on #573
Should be resolved in https://github.com/knative-sandbox/kn-plugin-func/issues/901

[2022-08-09 14:09] salaboy commented on #1151
Check the https://github.com/knative-sandbox/kn-plugin-func/blob/main/hack/allocate.sh file which set up a KinD cluster with Knative Serving

[2022-08-09 14:46] pmbanugo opened #1159 "Function fails to build when registry and image keys are specified"
I went through the func.yaml docs to find info about the registry variable but I found nothing about it. If I specify a value for it, the cli fails to build the function. Here's what I tried:

For the the first run, the cli asks for my registry info which I specify and it updates func.yaml and builds the image. It only sets the `image` variable.

If I edit it and specify `registry: docker.io/pmban

[2022-08-10 01:36] #1158 closed

[2022-08-10 19:37] #874 closed

[2022-08-12 04:36] lkingland commented on #857
PR #1079 replaces the pointers which caused the acute issue here.  More generally, the command options were changed to be `--remote`, `--build` and `--git-url`.  The case which caused the error above is encapsulated by the test `TestDeploy_RemoteBuildURLPermutations` in `cmd/deploy_test.go` which now explicitly enumerates this and the other permutations.  For example, the cited use case above is n

[2022-08-15 16:32] lance opened #1167 "Invoke command does not respect namespace in func.yaml"
When running `func invoke`, if the function has been deployed to a non-default namespace, and that namespace exists in func.yaml, the command fails to use the configured namespace, requiring users to add the `--namespace` flag to `func invoke`.

[code]
/kind bug
/kind good-first-issue

[2022-08-15 21:10] lance commented on #1159
/assign

[2022-08-15 21:28] lance commented on #1131
A PR has been submitted for a fix of this today https://github.com/paketo-buildpacks/npm-install/pull/393

[2022-08-16 00:05] #1159 closed

[2022-08-16 07:46] pmbanugo commented on #1159
![](https://media.giphy.com/media/azaMjwRFm0vjNSd51t/giphy.gif)

@lance Does that mean that it'll be available after the Tuesday release?

[2022-08-16 13:20] lance commented on #1159
Yes it should be in the next release.

[2022-08-17 01:49] daisy-ycguo opened #1172 "Python template should support customized file name for user function"
Python template only supports "func.py" as the function file name. If I use a different file name, the container will not start correctly and the pod status is "CrashLoopBackOff" with an error: "Readiness probe failed: HTTP probe failed with statuscode: 503".

I don't find a way to set customized file name as user function. If the current template doesn't support that, we should add this feature.

[2022-08-17 02:00] daisy-ycguo commented on #817
Hi. I just wonder if we should have a common way to config the handler function name, e.g., `<module>.<function>`. Because when I want to use a customized handler function name, I notice different runtime templates use different way to config and some templates even don't allow that.

Please correct me if I understand wrong, I didn't find these instructions in the documentation anyway.

[2022-08-17 14:10] lance commented on #817
I much prefer to keep empty properties out of func.yaml where at all possible.

My instinct is to disagree with this and to support the idea that `deploy` is OK to use the values from `run`. I can see how a user might want different values for the same environment variable depending if the function is running locally or not, however.  What about having support for `envs[]` in both sections, inheri

[2022-08-17 18:24] lance commented on #817
Hi @daisy-ycguo you are correct that the handler function name is typically not configurable. I like the suggestion, however. While it is relevant to the `func.yaml` properties overall, I would like to keep this issue focused on how to move the existing structure to a more CRD-like format. Please feel free to open another issue requesting this feature, so that we can track it as its own capability

[2022-08-18 09:54] zroubalik opened #1173 "On-cluster build: Support Build Envs"

[2022-08-19 04:03] lkingland commented on #1158
Thank you @daisy-ycguo , supporting these types of function workloads is one of our primary goals.  Please continue to let us know if there's anything we can do to help.

[2022-08-19 05:48] lkingland opened #1176 "persisting the remote flag"
### Summary

We would like to persist the value of `--remote`, but it clearly does not belong where other persisted values do: on the Function struct.  The remote setting should indeed be persisted, but not as part of function state which will affect any environment which checks out function source code (ex: CI/CD environments).  Instead, this flag's persistence should be scoped locally:  to a sin

[2022-08-19 13:32] #1173 closed

[2022-08-22 03:07] vyasgun commented on #1061
/assign

[2022-08-23 05:44] sudhirverma opened #1182 "Add flag to pass the details for adding/removing the func config envs/volumes."
Issue: https://github.com/redhat-developer/vscode-knative/issues/190

As required in VSCode we would need flags to add/remove configured environment variable and volumes.

for e.g:
[code]

cc: @mohitsuman @lstocchi

[2022-08-23 08:14] mohitsuman commented on #1182
With the current implementation of `func cli` asking interactive prompts to the user, from the IDE side of things we would pass those prompts as dropdown options and once the user selects them, the command would be passed as a flag directly.
This way we can support multiple parameters (anything added in future) through the IDE workflow.

[2022-08-23 10:54] matejvasek commented on #1182
@sudhirverma
How output of `func config envs list` should look like?
[code]

Or somehow else?

[2022-08-23 11:27] matejvasek commented on #1182
Also do we want specific flags for secrets/configMaps, or would we be content with just `--name` and `--value` (which would require `{{}}` for special values)?

[2022-08-23 11:28] matejvasek commented on #1182
cc @lance @zroubalik @lkingland

[2022-08-23 12:05] #1061 closed

[2022-08-23 12:21] sudhirverma commented on #1182
this would be good to show output when we do `func config envs list -ojson or --json`.

[2022-08-23 13:25] #1131 closed

[2022-08-23 13:42] lance commented on #1064
Meeting already happend

[2022-08-23 13:42] #1064 closed

[2022-08-23 17:12] salaboy commented on #817
@lance I kinda like this proposal:
[code]

Let me think about that..
Tomorrow I will jump on this first thing in the morning..

[2022-08-23 19:06] lance commented on #1182
Let's identify in specifics what commands need what flags. I think it's a pretty big list

**For `func config envs add`**
* `--name` the name of the environment variable
* `--value` for hard coded variables - how should this work for variables from the environment? Do we just have the user enter the string `{{ env.MY_ENV }}` directly?
* `--configMap` for keys/values stored in a ConfigMap. If `--na

[2022-08-23 19:13] matejvasek commented on #1182
@lance
Yeah,  but instead of
[code]

we could have just
[code]
It would be simple to implement it that way, however user would have to know the expression language.
Basically there would be just `--name` and `--value` flags.

[2022-08-23 19:33] lance commented on #1182
True - but also users can either use the interactive prompt or the IDE.

[2022-08-24 08:50] sudhirverma opened #1186 "Templates list command takes time to execute the command."
`func templates --json` command takes time to display the output. If I add one medium size project repository it takes 40-50 seconds to display the output.

cc: @mohitsuman @lstocchi

[2022-08-24 16:14] lance commented on #1111
/assign @vyasgun

[2022-08-24 17:13] lance commented on #1186
I am not seeing this behavior. (Note 0.3 seconds). Can you provide with some steps to reproduce this?

[code]

[2022-08-24 17:19] matejvasek commented on #1186
@sudhirverma what repo did you use?

[2022-08-24 17:20] matejvasek commented on #1186
What about other commands? Do they run all right?

[2022-08-24 17:24] matejvasek commented on #1186
https://github.com/knative-sandbox/func-tastic takes 1.8 sec.

[2022-08-24 17:35] sudhirverma commented on #1186
I added only this(https://github.com/knative-sandbox/kn-plugin-func) repo for testing.

[2022-08-24 17:36] matejvasek commented on #1186
@sudhirverma how did you added it? via envvar?

[2022-08-24 17:37] sudhirverma commented on #1186
I use command `func repository add func https://github.com/knative-sandbox/kn-plugin-func`

[2022-08-24 17:42] matejvasek commented on #1186
OK, I'll look into this.
But https://github.com/knative-sandbox/kn-plugin-func isn't really template repository.

[2022-08-24 17:45] matejvasek commented on #1186
`func repository add func https://github.com/knative-sandbox/kn-plugin-func` is not something that should be done.

[2022-08-24 17:51] sudhirverma commented on #1186
yes but it allows me to add so I thought that could be a bug.

it will increase the time if I add multiple repositories.

[2022-08-24 17:58] matejvasek commented on #1186
I'll try make it faster.

[2022-08-24 19:18] lance commented on #1186
It should perhaps validate the repo when adding, but that is not happens today. If you want to add a repo for testing purposes, you can try https://githbub.com/knative-sandbox/func-tastic. I see no real slowdown when this is added.

[code]

[2022-08-25 07:19] salaboy opened #1190 "Create automation for updating spring boot dependencies"
Following the quarkus approach: https://github.com/knative-sandbox/kn-plugin-func/blob/main/hack/update-quarkus-platform.js

We should have a similar automation for Spring Boot dependencies. Tasks:
- [ ] Find out how to query for latest version on http://start.spring.io
- [ ] copy quarkus script and adapt
- [ ] Make sure that the automation script is executed when the quarkus plugin is executed (@

[2022-08-25 11:42] matejvasek commented on #1186
I made some improvements: #1189

If it wouldn't be enough we can add caching, the `NewRepository` function is called unnecessarily often.

[2022-08-25 12:28] matejvasek commented on #1186
To reiterate, there are two problems:
* `NewRepository()` is not optimal for non-bare git repositories
* `NewRepository()` is called far to often

I created PR for the former. If needed we can address the latter.

[2022-08-25 12:45] zroubalik opened #1192 "On-cluster build: Apply annotations and labels from `func.yaml` to all created Pipeline resources"

[2022-08-25 13:03] #989 closed

[2022-08-25 13:20] #1186 closed

[2022-08-25 13:57] lance commented on #1124
Completed in https://github.com/knative-sandbox/kn-plugin-func/pull/1169

[2022-08-25 13:57] #1124 closed

[2022-08-28 01:34] #997 closed

[2022-08-29 19:59] lance opened #1197 "Add support for named branches in `func repository add` command"
Currently, the `func repository add` command will only work for github repositories that are on the main branch and there is no way to specify an alternate. It would be nice to have `func repository add --branch <branch-name> <name> <url>`.

/kind enhancement
/kind good-first-issue

[2022-08-30 02:07] daisy-ycguo commented on #1197
I will try it.
/assign

[2022-08-30 13:34] jrangelramos opened #1199 "On Cluster builds fails when buildEnvs has one environment var"
When the project `func.yaml` has one buildEnv set, and build is git (on cluster build), deploy fails with the below error:

[code]

[2022-08-30 14:07] gab-satchi commented on #1192
/assign

[2022-08-30 15:31] #1199 closed

[2022-08-30 17:05] #1111 closed

[2022-08-30 19:50] lance commented on #1125
/assign

[2022-08-31 02:51] daisy-ycguo opened #1206 "Wrong error message reported in command `func templates --repository` when the repository link does not exist"
When running `func templates --repository` and the repository does not exist, an error message is reported:
[code]

The root cause is that repo `http://github.com/boson-project/func-templates` is changed to `https://github.com/boson-project/templates`. When I use the correct repo link, the templates are listed.

Expected behavior:
The error message should show message like "the repo does not exist

[2022-08-31 11:57] gab-satchi commented on #849
I can take this on if you'd like @Shashankft9

Couple of questions:
- Should we be adding support for ssh credentials, basic auth or both?

I assumed the user should still create a Secret with the ssh credentials (or basic auth creds). And maybe the name of the Secret can be a part of func.yaml?

[2022-08-31 12:15] Shashankft9 commented on #849
sure Gab, and thanks
/unassign
/assign @gab-satchi

[2022-08-31 16:04] #1125 closed

[2022-08-31 20:01] #1120 closed

[2022-09-01 11:17] zroubalik commented on #849
@gab-satchi I'd prefer if we can actually create the secret for user. Or try to think about the best solution from users perspective.

Image that the user does have very limited knowledge of k8s.

[2022-09-02 18:40] lance commented on #952
/assign @jrangelramos

[2022-09-03 08:01] salaboy commented on #817
Team, after rebasing my old PR and doing some more work with migrations (which requires some discussions), here is the final structure you can find in the PR. This structure reflects the main lifecycle stages of `func` and their related properties.
I liked @lance suggestion for the `image` field refactoring, and I believe this change enables us to implement that in a subsequent PR. I've also left

[2022-09-05 13:15] zroubalik commented on #856
We should add tests covering s2i build strategy for on cluster build.

[2022-09-06 12:11] salaboy opened #1218 "Update Knative dependencies to latest for GA (1.8) release"
To join the Knative release train we need to make sure that we update `func` dependencies to knative latest dependencies.
Following this commit as guideline: https://github.com/knative-sandbox/kn-plugin-func/commit/c7b1bce3695e20b9390e79c1a70f861d9a9f5ad6

Do you expect any issues with this upgrade @dsimansk?

[2022-09-06 13:08] dsimansk commented on #1218
Last week I was playing with it a bit, and I was able to bump to current latest 1.7 without any issues. I'd say it's totally reasonable for GA.

There're a few other considerations related to latest Knative deps:
- Updating Go to 1.18
- Kubernetes deps are driven from knative.dev/pkg
  - It was causing some conflict with Tekton, but it's usually manageable through specific Tekton versions.

In add

[2022-09-06 17:30] rhuss commented on #817
Sorry for being late to the party, just started to catch up and make my way through the comments. Before I continue (I have to jump off right now), one general comment: If you want to share certain attributes for different use cases (like env for deploy: and run:), it feels more natural to have `deploy:` and `run:` subsection of a top-level element, with the shared elements on the same level as `d

[2022-09-07 18:49] menehune23 opened #1222 "`make test` not working with fresh clone"
Running `make test` after a fresh clone of this repo produces the [attached output](https://github.com/knative-sandbox/kn-plugin-func/files/9508823/out.txt). Is there something I'm missing, or is this repo not designed to be contributed to from a Mac? CI seems to be passing for this command, and it's running Ubuntu 20.04. I'm running macOS 12.5.1 (Monterey) on an Intel-based Mac.

[2022-09-07 20:47] #941 closed

[2022-09-07 20:53] lance commented on #1222
Hmm - that's odd. I am on an M1 Mac with MacOS 12.5.1 and cannot duplicate this problem. What version of go are you using?

[2022-09-08 00:41] matejvasek commented on #1222
I just noticed mistake in code:
filesystem_test.go:234
[code]
It causes incorrect err output, not failure itself.
@menehune23 please try re-running the test with fixed code so we can see actual error.

[2022-09-08 00:42] matejvasek commented on #1222
also those unittest should run on macOS Github action on each PR.

[2022-09-08 20:10] menehune23 commented on #1222
Thanks for the quick response @matejvasek! I'll give it a try again with a later version of go (and with your code fix), when I get a chance

[2022-09-08 21:33] menehune23 commented on #1222
OK, glad it was a local issue. I upgraded golang from 1.17 -> 1.19 and it works well now :)

[2022-09-08 21:33] #1222 closed

[2022-09-08 21:43] menehune23 commented on #1222
@matejvasek Went ahead and put up a PR for the fix you mentioned: https://github.com/knative-sandbox/kn-plugin-func/pull/1226. Figured it's a good way to get set up with a fork and sign the CLA and everything

[2022-09-09 08:22] salaboy commented on #817
@rhuss we have discussed the multiple levels of nesting as a big issue that can bring confusion and it does complicate the configuration file. The proposed structure kept the nesting to the minimum while providing a relationship to the different phases in the lifecycle of the function.
Your suggestion of including deployment details inside a `run` section sounds really confusing, as we have a `fun

[2022-09-09 12:48] #1192 closed

[2022-09-09 14:26] jrangelramos opened #1229 "On Cluster builds does not allow to override the namespace specified via CLI"
On Cluster builds does not allow to override the namespace specified via CLI. It only uses the ns from `func.yaml`.

For exmaple:
I have a node js functions on GH with a default namespace https://github.com/jrangelramos/node-fn/blob/main/func.yaml#L3
When I invoke deploy commands using
[code]
It does not use the new namespace, so I'm forced to update the namespace on func.yaml and push it to git.

[2022-09-09 18:49] lance commented on #1229
/kind bug

[2022-09-09 18:50] lance commented on #1206
/kind bug
/kind good-first-issue

[2022-09-09 18:53] lance commented on #1182
@matejvasek can this be closed now given that https://github.com/knative-sandbox/kn-plugin-func/pull/1188 has landed?

[2022-09-12 22:21] lkingland commented on #1229
I believe this is now fixed in #1079

See [test `Test_namespace` in cmd/deploy_test](https://github.com/knative-sandbox/kn-plugin-func/pull/1079/commits/62a9cd93957dbbae635027d0194351b4f0264a91#diff-0db3441ba1989aee9f35f591d4a6bc0411c323a00e28aa8d24fdf83e242b72caR626-R632) on that PR

[2022-09-13 17:16] grafvonb commented on #1206
@lance may I take over that?

[2022-09-14 01:01] lance commented on #1206
/assign @grafvonb

Thanks!

[2022-09-14 05:19] grafvonb commented on #215
/assign @grafvonb

[2022-09-14 05:21] grafvonb commented on #215
/close

[2022-09-14 05:26] grafvonb commented on #215
Done by https://github.com/knative-sandbox/kn-plugin-func/pull/1152

[2022-09-14 07:30] #215 closed

[2022-09-14 11:45] #857 closed

[2022-09-14 11:45] #1075 closed

[2022-09-14 11:45] #1115 closed

[2022-09-14 11:45] #1229 closed

[2022-09-14 12:33] obikay200 opened #1242 "REST Methods"
Currently looking at the templates, only the GET and POST methods are supported.

What is the road map for adding the remainder of the http methods such as DELETE etc?

Thanks

[2022-09-16 17:48] grafvonb commented on #1097
Current release v1.7.0 shows after `func create` this:
[code]
I'll take over the task: enter "confirm" mode after `func create`; as proposed above.

[2022-09-16 17:49] grafvonb commented on #1097
/assign @grafvonb

[2022-09-16 18:07] grafvonb commented on #1097
@lance @salaboy Could you clearly state what is the scope to implement for this issue? I think I have mixed it with #573...

[2022-09-16 18:16] grafvonb commented on #573
@lkingland Are you working on it? If not, I can take over.

[2022-09-16 19:29] grafvonb commented on #573
/assign @grafvonb

[2022-09-19 12:43] #1206 closed

[2022-09-19 12:48] lkingland commented on #573
Yes

[2022-09-19 17:24] jrangelramos commented on #1176
I think this also should (somehow) apply to the git.revision (--git-branch). Currently it is stored in func.yaml, but that can be just one particular user choice that wants to try out a specific revision, tag, or its feature branch, and don't want that to be the part of the function state.

Following the same example cases as below:
- Bob is working on a new feature in this branch `bob/feature-b`.

[2022-09-20 01:21] lkingland opened #1256 "Unnecessary Warning on First Deploy"
The system now warns the user if a Funciton is being deployed to a different namespace than is active in the users kube context, or if the function is already deployed and being deployed to a different namespace.  This warning should _not_ be generated on the very first deployment, because the function has not yet been deployed:

[code]
Thie above warning is ineffectual.  This warning should not b

[2022-09-20 02:34] #1256 closed

[2022-09-20 04:08] matejvasek opened #1259 "`func create` should validate function name"
As of now it's possible to create a function as `func create 42`.
However such a name causes troubles because it's not valid part of domain.
Calling `func create 42` should result int error.

[2022-09-20 06:56] rhuss commented on #817
I don't agree that careful and sensible nesting is more confusing than a huge flat list, especially when the list elements are sometimes ignored, sometimes not, depending on the context (whether running in the cluster or locally). **That** is confusing.

I agree that `run` is probably not a good name here. In retrospect, I probably wouldn't have chosen "run" and "deploy" as names for local and clu

[2022-09-20 11:53] lance commented on #1259
Hmm - I agree that `42` is probably not ideal for a function or service name. But I'm trying to find any text that documents this as an error in Kube itself. All formatting restrictions on names that I can find note an alphanumeric requirement, but don't prohibit fully numeric names. See: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names. In that reference, it talks ab

[2022-09-20 11:56] dsimansk commented on #1218
The `func` should be ready for 1.8 release train with auto-update action enabled and the following complementary PRs:
- [ ] #1245 - successful upgrade to Knative 1.7 and release
- [ ] #1262

[2022-09-20 12:36] matejvasek commented on #1259
@lance the regex there seems to be wrong:
[code]
note that the name must start with [a-z].

[2022-09-20 12:42] lance commented on #1259
Good catch - I missed that when scanning the name requirements. Start AND end with [a-z]

[2022-09-20 13:10] matejvasek commented on #1259
@lance maybe the validation changed over time, hard to believe we would got it wrong.

[2022-09-20 13:14] matejvasek commented on #1259
@dsimansk @rhuss is it possible that validation changes?

[2022-09-20 13:52] lance commented on #852
/assign

[2022-09-20 14:14] lance commented on #1176
/unassign

[2022-09-20 14:30] lkingland commented on #1259
In PR #317, `k8s/names.go` was deleted and replaced with `util/names.go`.  During that replacement, the implementation was also changed from the original DNS1035 label validation to this DNS1123.  This PR changes it back.  Was that change in error, or are we missing something here?

[2022-09-20 14:33] matejvasek commented on #1259
Probably only @zroubalik knows.

[2022-09-20 14:37] matejvasek commented on #1259
@lkingland the new validation is more restrictive so it shouldn't break anything.

[2022-09-20 15:36] #1259 closed

[2022-09-20 15:38] lance commented on #1218
@dsimansk any reason to hold off on #1262 ?

[2022-09-20 15:45] matejvasek commented on #1259
Of course with exception of existing function breaking the validation,
but such a function are broken from get go.

[2022-09-20 16:16] zroubalik commented on #1259
Interesting, I recall I did this and I am quite sure I checked the regex from some actual code in Knative. Probably from some validation webhook, not sure, Ican't recall correctly.
Or maybe I just f*cked it up? 💥

Thanks for fix.

[2022-09-21 04:30] lkingland commented on #1259
Just so long as there's not some reason we can remember specifically why the less-restrictive version was needed!  Good stuff.

[2022-09-21 10:22] dsimansk commented on #1218
IMO it's good to go. :)

[2022-09-21 10:41] dsimansk commented on #1218
To be noted, I've done a bit of manual version bumps and tweaks to unblock auto-update action (there was K8s version bump after Knative 1.7 release). It's running smoothly now. However, before GA we might want to check other modules and the overall footprint of deps to update and cleanup (if needed).

[2022-09-21 13:51] lance commented on #1218
Closing - fixed in https://github.com/knative-sandbox/kn-plugin-func/pull/1262

[2022-09-21 13:51] #1218 closed

[2022-09-21 15:40] lance commented on #852
/assign @vyasgun

[2022-09-22 20:22] #817 closed

[2022-09-23 08:55] salaboy commented on #1242
@obikay200 what language templates are you looking at? You can always create a function without using the base templates and then you can map any endpoint that you want for your function. The go template for example is using a base layer that adds this initial mappings, but there is nothing that force you to use that.

[2022-09-23 09:07] salaboy opened #1275 "Improve test coverage for 1.8 release"
This is a planning issue to organize the work around unit testing.

Looking at codecov (you need to be logged in to see the coverage details per file): https://app.codecov.io/gh/knative-sandbox/kn-plugin-func/tree/main/ these are the different directories where we should try to increase (or add coverage)  in these directories to make an impact:

- [x] #1278
- [x] k8s: https://app.codecov.io/gh/kna

[2022-09-23 12:42] #1167 closed

[2022-09-24 07:21] salaboy opened #1278 "Improve coverage of knative package (currently close to 6%)"
See: https://app.codecov.io/gh/knative-sandbox/kn-plugin-func/tree/main/knative

[2022-09-26 15:04] lkingland opened #1279 "Minimal initial func.yaml"
## Summary

All fields on the `Function` struct should be set to `omitempty`

## Exposition

When a user creates a new Function, their `func.yaml` should include only the values which are either required (language), have no default (created date/time stamp) or deviate from static defaults (`func create -l go -t cl.

With the current version of the functions core library, this would _ideally_ look

[2022-09-26 15:13] lkingland opened #1280 "Invocation struct simplification"
## Summary

The function's `Invocation` struct is unnecessary, and `http` should be the default.

## Exposition

The additional fields originally intended to fill out that struct were ultimately unnecessary, and therefore the struct itself is no longer necessary.  Additionally, the value of 'http' should be considered the static default, and as such the value need not be even written to func.yaml

[2022-09-26 15:19] lkingland opened #1281 "Default Health Endpoints"
Per #1279 the initial func.yaml should ideally include only those values which deviate from static defaults.

The `healthEndpoints` are currently written out, despite being defaults:
[code]

These are of course the defaults, and are already defined as `DefaultReadinessEndpont` and `DefaultLivenessEndpoint`.
These constants should be used when the function struct's `.HealthEndponts` member is at ze

[2022-09-26 15:47] lkingland opened #1283 "Client API Function Arguments"
Most of the methods on Client accept a _path_ to a Function rather than an _instance_ of a Function:
[code]
Thes methos should all be changed to accept a Function instance:
[code]

This will allow for the removal of many `f.Write()` calls which were only used to communicate information into the client.  For example, `[cmd/deploy.go:289](https://github.com/knative-sandbox/kn-plugin-func/blob/main/c

[2022-09-26 20:08] grafvonb commented on #1197
Hi @daisy-ycguo, are you working on that?

[2022-09-27 06:55] daisy-ycguo commented on #1197
Yes, just got some time and pick up this work.

[2022-09-30 07:59] matzew opened #1293 "Docker Sock issue"
I had this before (not sure if that's a podman (well, I have `podman` and the `podman-docker` compat. tool) issue in the first place.

Doing `kn func run -v` gives me:

[code]

But the `docker.sock` symbolic link points to something that is not there:

[code]

Removing it fixes it:
[code]

Perhaps someething to add to known issues, [here](https://github.com/knative-sandbox/kn-plugin-func/blob/main

[2022-09-30 08:06] matzew opened #1294 "[quarkus] Missing Error handler"
When an error/exception occurs, I sometimes want to decorate the actual HTTP response, returned by Quarkus.

Motivation for decorating the error is [here](https://github.com/knative-sandbox/eventing-kafka-broker/issues/2376).

Now, let's say I have a bogus app that creates a NPE, like:

[code]

this gives me this log, on the `kn func run...` console:

[code]

and the `curl`:

[code]

It would be n

[2022-09-30 10:39] aliok opened #1295 "Broken links in docs"
I see there are links to these pages which don't exist:
- https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/reference/commands.txt
- https://github.com/knative-sandbox/kn-plugin-func/blob/main/docs/reference/command.md

[2022-10-04 13:36] lance commented on #856
@jrangelramos any updates on this?

[2022-10-04 13:37] lance commented on #1126
On going work. @mohitsuman is there anything else you want to add here for an update?

[2022-10-04 13:43] lance commented on #852
@vyasgun hi! Any updates on this?

[2022-10-04 13:44] matejvasek commented on #1182
Only adding and listing of envvars is implemented, deletion is not.
Also volumes are not implemented at all.

[2022-10-04 13:48] lance commented on #858
@jrangelramos do I recall correctly that you have a POC implementation for this?

[2022-10-04 13:49] lance commented on #858
This is probably a tutorial instead of an implementation

[2022-10-04 13:59] jrangelramos commented on #858
Hi @lance No. I had a POC when loading source code from user machine (without Git)

[2022-10-04 14:02] jrangelramos commented on #856
Hi @lance . yes I just updated the description. I shall re-take the remaining tests. Including s2i one this week still.. and may have an implementation next week probably.

[2022-10-04 17:42] lance commented on #858
Ahh that's right. Thanks for the reminder.

[2022-10-04 17:45] lance commented on #1182
Ok thanks for the update. Do you think it would help to break this into a couple of different issues? Now that adding/listing env vars is in place it might be easier for someone to pick up additional pieces.

[2022-10-04 18:39] lance opened #1297 "The `--registry` flag is ignored when `image: <imagename>` exists in func.yaml"
[code]

Note that it built a `quay.io` image instead. We should probably detect when there is a conflict here and warn the user.

/kind bug

[2022-10-04 19:33] lance commented on #903
This should be resolved in https://github.com/knative/docs/pull/5243

[2022-10-05 08:17] vyasgun commented on #852
@lance working on it

[2022-10-06 18:31] #852 closed

[2022-10-06 18:35] grafvonb commented on #1297
@lance What is the expected behavior in such a case? Personally, I would expect `docker.io/lanceball/hello:latest` to be built. However, `func.yaml` should not be updated, right?

[2022-10-06 19:00] lance commented on #1182
/kind enhancement

[2022-10-06 19:08] lance commented on #1097
@grafvonb we talked a little about this in the working group meeting. It's not very clearly laid out, and could benefit from coordination between this issue and a few others - or it could be closed as a duplicate. @salaboy do you want to chime in here?

[2022-10-06 19:11] lance commented on #1097
Looking closer at old comments and such, I think this is almost certainly a duplicate of #573 but will let @salaboy and @lkingland chime in.

[2022-10-06 19:18] lance commented on #1297
Good question. I think you are probably right, but we may want to print some text to the console with a warning saying that the image registry is different than what is found in `func.yaml`, and if the user wants to make this change permanent, the file should be updated.

Or conversely, we could update the file, but print a warning that it was updated with a new registry name.

There is a similar

[2022-10-07 00:58] lance commented on #1297
@grafvonb that sounds great - thanks!

[2022-10-07 00:59] lance commented on #1297
/assign @grafvonb

[2022-10-08 10:14] grafvonb commented on #1297
@lance The "super sexy" behavior cannot be implemented without a global redesign of the way our `func` handles function configuration. In `build.go`, @lkingland implemented this after reading and setting all the important configuration properties:
[code]
To avoid the ambiguity described above and keep the solution simple, I suggest the following:
1. check if `registry` != registry part if `image`.

[2022-10-08 16:13] lkingland opened #1308 "go install knative.dev/func@latest fails with replace errors"
`go install knative.dev/func@latest` errors with:
[code]

_Originally posted by @lance in https://github.com/knative/docs/pull/5243#discussion_r989498974_

[2022-10-08 16:58] lkingland opened #1309 "Offer Function Logs via an HTTP request"
Any chance the function could provide a link to its own logs somehow on a GET? Probably not, but I thought it might be worth asking...

_Originally posted by @evankanderson in https://github.com/knative/docs/pull/5243#discussion_r989380651_

Perhaps provide a special (authenticated) endpoint on all Functions `https://<function route>/f/logs` which, when requested, streams logs to the client until

[2022-10-08 17:07] lkingland commented on #1297
Funny you should mention it in just that way.  An update to enforce consitent configuration precidence is in the works as part of offering a global configuration file.  In short, the value in func.yaml will be used unless a new value is expressly provided via flag(which has the highest precedence).  For now your solution seems like a good solution in the present circumstance.

We are also printing

[2022-10-08 17:22] grafvonb commented on #1297
I hope my comment wasn't too harsh or impolite (I'm not a native speaker), if so, that wasn't my intention :). Anyway, I will implement it as discussed now.

[2022-10-08 21:27] evankanderson commented on #1309
I was suggesting this particularly for the getting started tutorial. I'm not sure what we might want to do for general-purpose functions.

For example, would we want to serve either automated (Open API?) or human-readable (html?) docs on a well-known endpoint? I don't know...

[2022-10-08 22:28] lance commented on #954
/remove-lifecycle stale

[2022-10-10 13:55] salaboy commented on #1278
@lance @zroubalik @lkingland can we merge this one now?

[2022-10-10 14:41] lance commented on #1278
/kind chore

[2022-10-10 16:16] lance commented on #1294
/kind enhancement

[2022-10-10 17:03] gabo1208 commented on #1278
Now this should be the codecov chore link https://app.codecov.io/gh/knative/func

[2022-10-11 17:57] lance opened #1318 "Improve integration with knative test-infra"
We currently have OK integration, but there are a lot of things we aren't doing and some things we are doing that we no longer need to. Let's use this issue as a place to gather anticipated changes.

[2022-10-12 05:10] lkingland opened #1320 "FUNC_HOME environment variable"
For several reasons, we need an environment variable specifically for func home named FUNC_HOME, which will take the place of all calls to the function `ConfigPath()`.  It should exist only in the CLI, in order to provide a new optional constructor arguemt to the client, 'fn.WithHome(path string)`.  This value would be used internally to calculate such things as path to repositories, etc.  To acco

[2022-10-12 05:10] lkingland opened #1321 "docs rebuild encodes local environment"
Problem:
   When docs are regernerated, a user's current Function config path is used, leading to the docs potentially containing user settings.  For example, if repositories `functastic` and `knative` are installed in ~/.func/repositories, the resultant `docs/reference/func_create.md` would have the following in its diff after docs regeneration on `make`:
[code]
Short-term Solution:
The same solu

[2022-10-12 05:34] lkingland opened #1322 "Utilize .gitignore when sending source"
Thanks to PR #1298 we will now support the command `func deploy --remote` (without the previously-required `--git-url` flag).  This allows a user to build remotely using local source code.

A nice enhancement to this functionality would be to respect the local .gitignore if it exists, omitting files which match from the tarball streamed to the server for compilation.

In general, the tarball conte

[2022-10-12 15:36] zroubalik opened #1323 "On-cluster build: explore possibility to use Pipelines as Code"
Instead of generating Pipeline from `func`, we can leaverage concepts from https://pipelinesascode.com/ to define the pipeline. It has nice integration with GitHub

[2022-10-13 20:44] lance opened #1333 "Better integration with Knative test and release infrastructure"
## Background

The Functions project was transferred to Knative from a small open source project from Red Hat known as Boson (https://github.com/boson-project). At that time, it did not make use of any Knative infrastructure. Over the months, we have slowly moved to adopt more and more of the tooling. And with our move from knative-sandbox to knative organization, we did even more. Now that we are

[2022-10-13 20:58] lance commented on #1321
/kind good-first-issue

[2022-10-13 21:00] lance commented on #1320
/kind enhancement

[2022-10-13 21:01] lance commented on #1318
closing in favor of https://github.com/knative/func/issues/1333

[2022-10-13 21:01] #1318 closed

[2022-10-13 21:03] lance commented on #1182
Moving this to "Next" instead of "In progress" since some of it did get done but not all of it.

[2022-10-13 21:06] lance commented on #1151
/assign @kranurag7

[2022-10-13 21:07] lance commented on #1126
/assign @mohitsuman

[2022-10-13 21:08] lance commented on #952
/assign @matejvasek

[2022-10-14 05:51] lkingland commented on #1322
/kind enhancement

[2022-10-14 16:56] lance commented on #1295
[code]

/kind good-first-issue

[2022-10-14 16:58] lance commented on #1293
/kind good-first-issue

[2022-10-14 16:58] lance commented on #1283
/kind enhancement

[2022-10-14 16:59] lance commented on #1281
/kind enhancement

[2022-10-14 17:00] lance commented on #1278
/assign

[2022-10-14 17:02] lance commented on #1275
Including integration tests in our code coverage reports now puts the `k8s` package at > %56

[2022-10-14 17:03] lance commented on #1275
/kind good-first-issue

[2022-10-14 17:37] lance opened #1339 "Remove outdated or obsolete documentation"
With https://github.com/knative/docs/pull/5243 and https://github.com/knative/docs/pull/5271 both in progress, we will soon have docs both on knative.dev and this repo. We should ensure that there is not duplicate (possibly conflicting) information between the website and github.

**Candidates for Removal**

- All provisioning documentation
  - https://github.com/knative/func/tree/main/docs/provis

[2022-10-14 17:39] lance commented on #1333
/kind chore

[2022-10-14 17:42] lance commented on #1278
/assign @matejvasek

[2022-10-17 19:52] #952 closed

[2022-10-18 06:20] lkingland commented on #1295
/assign ADITYADAS1999

[2022-10-18 06:37] lkingland commented on #1029
Namespace calculation was refactored, and now has tests, which confirm that it correctly:
- Records in func.yaml the namespace in which the function is deployed
- Uses this namespace when redeploying by default
- Issues a warning when the user's currently active namespace is different than the function's current namespace
Should help avoid "Wher's my function?  I just deployed it!"
- Issues a warn

[2022-10-18 06:43] lkingland commented on #1242
@obikay200 all of the request methods are supported.  The included templates are merely examples.  Functions should not obscure access to the raw http requests in any of the languages.... that I am aware of.  Closing this.  Please re-open an issue if this is not true or you need more information, especially noting the language templates you're looking at

[2022-10-18 06:43] #1242 closed

[2022-10-18 13:38] #1182 closed

[2022-10-18 13:49] lance commented on #1176
/unassign @lkingland

[2022-10-18 13:50] lance commented on #1029
/assign @lance

[2022-10-18 15:19] #903 closed

[2022-10-18 20:05] lance opened #1358 "Building a springboot function on M1 Mac fails to complete"
After one hour and 24 minutes, I `^C` killed the build.

[code]

/kind bug

[2022-10-19 17:54] jrangelramos opened #1363 "nodejs oncluster builds using s2i fails to deploy image when build envs is empty"
When building a nodejs on cluster using s2i builder, the function fails to deploy

[code]

It seems the fix applied on #1214 for empty build envs does not applies for s2i.

[2022-10-19 17:54] jrangelramos commented on #1363
/cc @zroubalik

[2022-10-20 07:04] sudhirverma opened #1366 "Provide a way to get template information."
Fix: https://github.com/redhat-developer/vscode-knative/issues/295

Currently, we can’t know the template name of the created function. There should be a way to get template information after creating a function for `e:g: http | cloudevents | or other selected template`.

The idea could be showing selected templated information in func.yaml

cc: @mohitsuman @lstocchi

[2022-10-20 08:09] lstocchi commented on #1366
I think you could use the invocation format field in func.yaml
[code]

[2022-10-20 08:14] sudhirverma commented on #1366
but if it is other than `http | cloudevent` it doesn’t show in  `invocation.format`

[2022-10-20 11:01] zroubalik commented on #1363
@jrangelramos this could be closed, right?

[2022-10-20 11:24] jrangelramos commented on #1363
yes! It is fixed by #1235

[2022-10-20 11:24] #1363 closed

[2022-10-20 16:29] grafvonb commented on #1322
/assign

[2022-10-20 20:17] andrew-su opened #1368 "Adding new template repositories throws error"
# Problem
Attempting to add a new template repository fails with an error.

# Steps to repro
1. Create a template repo
1. Create a symlink
   * to a folder anywhere in the repo OR
   * to a non-existent file
1. Attempt to add the repo using func CLI
[code]

# Error
[code]

[2022-10-20 21:17] matejvasek commented on #1366
@lance @lkingland should we save template info in `func.yaml`?

[2022-10-21 09:36] lkingland commented on #1366
It's important to remember that the template used has very little bearing on what the function _can be_.

As long as your function adheres to the expected handler method signature, the template used is meaningless.

We encode the invocation format in func.yaml specifically as a hint to `func invoke` on how to format a test request.

I do not think we want to "pin" a function to its associated temp

[2022-10-21 09:45] lkingland commented on #1368
Thanks for the bug report.  I can recreate this on my system, and suspect it has to do with the underlying library we use for cloning repositories.

In the short term, you can:
[code]

[2022-10-21 10:01] lkingland opened #1371 "function constructor errors on invalid function"
The `NewFunction(path)` constructor should only error when the path is invalid, but is currently erroring when the path defined does not contain a function.  This appears to be a regression introduced in a recent pr, so the fix should include a test case such that it doesn't crop back in again.

In particular:
[code]
[code]

[2022-10-21 10:52] lkingland commented on #1371
/assign
turns out I need this for the deploy tests PR

[2022-10-21 12:56] #1371 closed

[2022-10-21 12:59] lance commented on #1242
@salaboy @lkingland - Honestly, I think this might be dependent on the invocation framework. For example, I'm pretty sure Quarkus does not out of the box (could be mistaken), and I'm almost certain that faas-js-runtime only supports GET and POST at the moment. If we do want to support all HTTP verbs, we should call that out - perhaps in a larger epic that applies to all builtin runtimes.

[2022-10-21 15:08] lance commented on #1278
@salaboy we are now at 64% test coverage on the knative package. This puts us well into the "Usable" state as defined here: https://github.com/knative/community/pull/1157

I think we want to continue improving this to get to "Stable" (70%) but for the purposes of this issue, I think we can close it now and if we have a specific target (like 70%) we can create a new issue for that. It might be good

[2022-10-21 15:08] #1278 closed

[2022-10-22 04:14] andrew-su commented on #1368
We worked around it by generating the symlinks at test time rather than checked into our repo for now.

[2022-10-22 04:20] andrew-su opened #1379 "Provide a way to specify a lifecycle or remove the hardcoded value during build"
#Problem
In an attempt to use `ghcr.io/vmware-tanzu/function-buildpacks-for-knative/functions-builder:0.2.0` to build a function (generated from some [templates](https://github.com/andrew-su/function-buildpacks-for-knative)) using the `func` CLI. I ran into the following from `func build -v`:

[code]

I noticed that `quay.io/boson/lifecycle:0.13.2` lifecycle is hardcoded into the [pack options](ht

[2022-10-22 04:49] andrew-su commented on #1379
I removed the lifecycle and rebuilt the CLI locally and it was able to successfully build my function.

[2022-10-22 08:54] grafvonb commented on #1322
@lkingland I just analyzed the code base in the current `main` branch and this feature seems to be implemented by @matejvasek in `pipelines/tekton/pipeplines_provider.go` already last week:
[code]
Could you please check this? Thx.

[2022-10-22 12:43] matejvasek commented on #1322
Yes files in `.gitignore` should be already omitted #1298, however I forgot to exclude `.git/`.

[2022-10-23 07:06] grafvonb commented on #1322
@matejvasek ok, thanks for the info (nice code btw. 😎). So to omit `.git` we probably need a new ticket or update this one.

/unassign

[2022-10-23 09:01] grafvonb commented on #603
It seems that `yaml` is the wrong format if we want to preserve comments and formatting as explained here: https://stackoverflow.com/questions/62062329/how-to-parse-general-yaml-in-golang-with-comments-preserved

[2022-10-24 06:27] grafvonb commented on #984
/assign

[2022-10-25 18:14] mcruzdev commented on #1275
Hi @lance, can you assign it for me?

[2022-10-26 12:44] matejvasek commented on #984
related: https://github.com/buildpacks/tekton-integration/issues/30

[2022-10-27 18:51] lance commented on #619
/remove-lifecycle stale

[2022-10-27 18:52] lance commented on #634
/remove-lifecycle stale
/cc @dolfolife @salaboy any updates here? I think maybe this should be closed?

[2022-10-27 18:52] lance commented on #1108
/remove-lifecycle stale

[2022-10-27 21:30] lance commented on #1379
/kind enhancement

[2022-10-28 16:37] lkingland commented on #1322
This is complete as of #1383

[2022-10-28 16:37] #1322 closed

[2022-11-01 15:47] trisberg opened #1398 "YAML Schema in schemastore is outdated"
Creating function with v1.8.0 CLI creates a `func.yaml` with `specVersion: 0.34.0` which doesn't seem to match what is currently served from the schemastore - I think that is serving the older `0.25.0` version

[2022-11-01 16:49] matejvasek commented on #1368
Nope, it's caused by inability of `copyFromFS()` to handle symlinks (especially symlinks to a directory).
I'll fix this.

[2022-11-01 19:41] #1368 closed

[2022-11-02 21:56] grafvonb commented on #984
Status quo:

- https://github.com/knative/func/blob/main/pipelines/resources/tekton/task/func-buildpacks/0.1/func-buildpacks.yaml
- https://github.com/tektoncd/catalog/blob/main/task/buildpacks/0.5/buildpacks.yaml

[2022-11-02 22:38] mcruzdev commented on #1321
Hi @lance, can you assign it for me?

[2022-11-03 03:13] lance commented on #1321
/assign @mcruzdev
Thanks for the offer!

[2022-11-03 16:57] lance commented on #1379
@grafvonb we discussed this in the WG call this week, and I think the immediate fix is to add the vmware builders to the list of trusted builders in https://github.com/knative/func/blob/ea79cf007f1c11f154ca5fd9921eabd231363e57/buildpacks/builder.go#L37-L41

That will address the immediate issue (along with this being a partial fix: https://github.com/knative/func/pull/1403).

The longer term solut

[2022-11-03 17:05] grafvonb commented on #1379
@lance ok, got it, since it got an `enhancement` label I thought it was released for implementation. My idea was similar, means to make this available via a flag for `func build` or via configuration block in `func.yaml`.

[2022-11-03 20:18] lance commented on #1379
@grafvonb happy to iterate on that long-term idea here (or in GH Discussions). Starting here for now and we can move it someplace else if we feel it needs wider visibility or a better format than just a bunch of comments.

I could see a `func config builder` command that allows the user to add/update/delete **trusted** builder image tags. But we'll also need to be thinking about runtime and build

[2022-11-03 22:34] mcruzdev commented on #1321
Hello @lkingland, how can I simulate it?

[2022-11-03 23:30] mcruzdev commented on #1321
Hi @lkingland, how can I simulate it?

Can you help me with step by step?

[2022-11-04 06:02] stevefan1999-personal opened #1408 "ASP.NET Core language pack support"
Ditto to title

[2022-11-04 11:55] lkingland commented on #1280
@lance I can't seem to reproduce the problem on my system either.  I remember it last happened with one of your rebuilds.  Can you also confirm this is no longer happening?  Perhaps we can close this issue as hopefully no longer being relevant

[2022-11-04 11:56] lkingland commented on #1321
@lance I can't seem to reproduce the problem on my system either. I remember it last happened with one of your rebuilds. Can you also confirm this is no longer happening? Perhaps we can close this issue as hopefully no longer being relevant

[2022-11-04 13:12] lance commented on #1321
@mcruzdev @lkingland this is odd - I can't reproduce this now either. Looking at the [generator history](https://github.com/knative/func/commits/main/docs/generator) there is nothing to indicate that this was somehow fixed.

[code]

This one .md file diff is unrelated (it seems it never was applied from some other work being done on namespace, etc 👀 ).

[2022-11-04 13:14] lkingland commented on #1321
Great; I think this may have been alleviated with recent refactoring of the core library to disinclude evaluation of environment variables (pushing them out to main where they belog), and since your generator's main does not look for (nor care about) repositories on disk, this update is working as intended:  fixing seemingly unrelated errors.

[2022-11-04 13:14] #1321 closed

[2022-11-04 15:05] lance commented on #1408
Hi @stevefan1999-personal thanks for opening this issue! Unfortunately, nobody that I am aware of on the team has .NET experience. We would, of course, be open to a pull request if you have any interest in working on this.

[2022-11-07 22:44] mcruzdev commented on #1321
Perfect, thank you :)

[2022-11-08 05:09] grafvonb commented on #984
Our challenge here, in my opinion, is that from a UX perspective, switching between local and on-cluster builds by simply adding the `--remote` flag should be seamless for the user, i.e. provide the same functionality.

However, we use the `pack` library locally, while `buildpacks` Tekton Task uses the lifecycle directly, as mentioned by @zroubalik above (https://github.com/tektoncd/catalog/blob/m

[2022-11-08 09:37] zroubalik commented on #984
@grafvonb you are right, me idea was to extend `func-buildpacks` Tekton task, that will pull, extract and copy (we can probably use `skopeo` for this?) buildpacks from theirs images to some directory. The lifecycle binary has a parameter that can point to a directory that contains additional buildpacks (so we just need to copy/link the additional buildpacks there). I concur this is not the nicest

[2022-11-08 09:50] grafvonb commented on #984
@zroubalik ok, I got it. Should I start with an initial implementation?

[2022-11-08 10:45] zroubalik commented on #984
@grafvonb it would be awesome if you can do so. Though might be worth checking that stuff I linked there ^, maybe there's some progress on that area that would enable us to use something nicer.

[2022-11-08 13:38] grafvonb commented on #984
@zroubalik great, I'll do it. Could you please invite me to this slack workspace? Thx.

[2022-11-08 17:49] psschwei opened #1419 "Nonresolvable domains don't play nicely with `func invoke`"
This came up in a [Slack discussion](https://knative.slack.com/archives/C0186KU7STW/p1667921785332919) today.

In Serving v1.8.0, we updated the default domain to be `svc.cluster.local` (https://github.com/knative/serving/pull/13259). Since this isn't reachable outside of the cluster, the user will need to [configure DNS](https://knative.dev/docs/install/yaml-install/serving/install-serving-with-y

[2022-11-08 18:05] matejvasek commented on #1419
@lkingland would you please look at this? You are most knowledgeable about this.

[2022-11-09 01:10] xonev opened #1420 "The func run command overwrites .gitignore"
## Steps to reproduce
- Create a function using `func create` (e.g. `func create -l python myfunc`)
- Edit the `.gitignore` that is generated by `func create`
- Run `func run`

## Expected behavior
My changes to `.gitignore` are persisted

## Actual behavior
My changes to `.gitignore` are overwritten:
[code]

[2022-11-09 01:13] xonev commented on #1420
It looks like the problem is that `ensureRuntimeDir` is called during `Build`, as well: https://github.com/knative/func/blob/59f4e6a4935a97e0ea859602ad93bc49a0c58283/client.go#L545.

[2022-11-09 07:39] grafvonb commented on #984
@zroubalik very interesting, after 5 months the discussion about additional buildpacks support in Tekton's `buildpacks` task was started, yesterday came an update: https://cloud-native.slack.com/archives/C032UM9DZV4/p1667932092715799?thread_ts=1654718175.599989&cid=C032UM9DZV4. So there is no progress on this issue. Maybe we should take that over? Nevertheless, I will then start quite pragmaticall

[2022-11-09 11:10] zroubalik commented on #984
agree, thanks!

[2022-11-09 21:02] lance commented on #1398
The `latest-release` branch has been updated to 1.8 (https://github.com/knative/func/tree/latest-release) and the schemastore has been updated: https://github.com/SchemaStore/schemastore/pull/2590. Note that VSCode should be using the `latest-release` branch so the referenced PR for schemastore is only a formality to add a named 1.8 schema.

[2022-11-09 21:02] #1398 closed

[2022-11-11 11:20] #1280 closed

[2022-11-14 21:06] lance commented on #1420
/kind bug
/kind good-first-issue

[2022-11-15 13:29] lance commented on #1294
/kind good-first-issue

[2022-11-15 13:30] lance commented on #1281
/kind good-first-issue

[2022-11-15 14:46] lance commented on #901
/kind epic

[2022-11-15 14:50] lance opened #1427 "Dapr runtime for functions"
@salaboy please add here sub-tasks or other descriptive information

[2022-11-15 14:52] lance opened #1428 "VSCode and IntelliJ IDE integration"
Ongoing IDE integration tasks should be identified here.

[2022-11-15 18:41] #1379 closed

[2022-11-16 05:52] #1339 closed

[2022-11-16 06:14] grafvonb opened #1432 "On-cluster build: uploading of the sources to PVC causes "permission denied" error on a mounted volume on AWS EKS"
If you attempt to run the on-cluster build `func deploy -v --remote` using AWS EKS with a defined storage class for the persistent volume based on the dynamic aws-ebs provisioner (so that a PV is created and bound to PVC when the uploader pod is started), a "permission denied" error message is issued:
[code]

[2022-11-16 06:14] grafvonb commented on #1432
/kind bug

[2022-11-16 06:15] grafvonb commented on #1432
/assign

[2022-11-16 06:15] grafvonb commented on #1432
/assign @matejvasek

[2022-11-16 07:01] grafvonb commented on #1432
PR https://github.com/knative/func/pull/1433

[2022-11-16 19:16] amaanq commented on #1420
/assign

[2022-11-17 08:31] wizpresso-steve-cy-fan commented on #1379
@lance Please also add `gcr.io/buildpacks/builder` as trusted maybe, as I want to use the dotnet runtime

[2022-11-17 13:16] Shashankft9 opened #1439 "Defining serviceaccount for the function"
Currently, I have to edit the ksvc directly, so that the pod is able to access some of the k8s resources - there is no way to add serviceaccount through `func.yaml`.

[2022-11-17 15:27] lance commented on #1439
/kind enhancement

[2022-11-25 17:21] Shashankft9 opened #1446 "dependency on func.yaml for git on-cluster builds"
Currently, when `--remote` and `--git-url` are used for on git cluster build, `func deploy` has a hard dependency on `func.yaml`.
I think I should be able to run it from anywhere, since all the code is present on a git project. The behavior shouldn't change for non VCS on cluster builds.

/kind enhancement

[2022-11-26 08:15] grafvonb opened #1448 "On-cluster build: automatic deletion of the pods in status "completed""
Currently after successful on-cluster build and deployment the "tasks" pods are not cleaned and have to be removed manually (or using an extra mechanism) e.g.:
[code]
Idea:
Provide a `--rm` flag functionality combined with `--remote` only, so that the "Completed" pods get deleted after a successful deployment: `func deploy --remote --rm`.
It should replicate `kubectl delete pod --field-selector st

[2022-11-30 09:33] pipoe2h opened #1450 "Question: Ignoring files with kn func build"
Hi,

I've been trying to find some documentation about how to ignore files when running `kn func build`, but so far I'm failing to find something. Is it possible to ignore files when running `kn func build`?

When I use the command `kn func create -l python function_name`, this creates a structure that includes a `.gitignore` file that includes with a default value to ignore `/.func`. Then, when I

[2022-11-30 23:38] yaron2 commented on #1427
Hi, Dapr maintainer here 👋

Happy to help if needed.